<div id="subcon" class="tab_content">
    <div class="row">
        <div class="area-table">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_prosc" load-item="ProductionScheduleSC">
                <thead>
                    <tr>
                        <th rowspan="2" class="space"></th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[0], 'selected'); changeSortBy(sortTable[0])" ng-class="{'th-active': sortTable[0].selected}">WO No.</th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[1], 'selected'); changeSortBy(sortTable[1])" ng-class="{'th-active': sortTable[1].selected}">CO No.</th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[2], 'selected'); changeSortBy(sortTable[2])" ng-class="{'th-active': sortTable[2].selected}">Part Number</th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[3], 'selected'); changeSortBy(sortTable[3])" ng-class="{'th-active': sortTable[3].selected}">Qty</th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[4], 'selected'); changeSortBy(sortTable[4])" ng-class="{'th-active': sortTable[4].selected}">Operation</th>
                        <th colspan="4">Dates</th>
                        <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[9], 'selected'); changeSortBy(sortTable[9])" ng-class="{'th-active': sortTable[9].selected}">Supplier</th>
                        <th rowspan="2" colspan="2" ng-click="selectOneItem(sortTable, sortTable[10], 'selected'); changeSortBy(sortTable[10])" ng-class="{'th-active': sortTable[10].selected}">Progress</th>
                    </tr>
                    <tr>
                        <th ng-click="selectOneItem(sortTable, sortTable[5], 'selected'); changeSortBy(sortTable[5])" ng-class="{'th-active': sortTable[5].selected}">DD Start</th>
                        <th ng-click="selectOneItem(sortTable, sortTable[6], 'selected'); changeSortBy(sortTable[6])" ng-class="{'th-active': sortTable[6].selected}">Start</th>
                        <th ng-click="selectOneItem(sortTable, sortTable[7], 'selected'); changeSortBy(sortTable[7])" ng-class="{'th-active': sortTable[7].selected}">Finish</th>
                        <th ng-click="selectOneItem(sortTable, sortTable[8], 'selected'); changeSortBy(sortTable[8])" ng-class="{'th-active': sortTable[8].selected}">DD Finish</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ProductionScheduleSC | orderBy: sortBy : reverse" ng-class="{'tr-active': item.selected}">
                        <td ng-click="selectOneItem(ProductionScheduleSC, item, 'selected')"></td>
                        <td class="text-center underline color" ng-bind="item.WorkOrderID"></td>
                        <td class="text-center underline color" ng-bind="item.OrderID"></td>
                        <td class="text-right underline color" ng-bind="item.PartNumber"></td>
                        <td class="text-right" ng-bind="item.Qty"></td>
                        <td ng-bind="item.Operation"></td>
                        <td class="text-center" ng-bind="item.DDStart | timeFormat: 'DD/MM/YYYY'"></td>
                        <td class="text-center" ng-bind="item.StartDate | timeFormat: 'DD/MM/YYYY'"></td>
                        <td class="text-center" ng-bind="item.Finish | timeFormat: 'DD/MM/YYYY'"></td>
                        <td class="text-center" ng-bind="item.DDFinish | timeFormat: 'DD/MM/YYYY'"></td>
                        <td ng-bind="item.Supplier"></td>
                        <td class="text-center font-big">
                            <a ng-click="NextProgress(ProductionScheduleSC, item)" class="underline" href="javascript:;" ng-bind="item.OpNo"></a>
                        </td>
                        <td class="text-center font-big" ng-bind="item.LastOp"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-control">
            <span class="up-control" ng-click="reverse = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverse = true"></span>
        </div>
    </div>
</div>
