<div class="finance-admin">
    <div class="page-body">
        <div class="row">
            <div class="page-content col-xs-12">
                <div class="col-xs-6 no-padding">
                    <div class="table-website col-xs-10 no-padding">
                        <div class="table-title">Website access</div>
                        <div class="area-table">
                            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_website">
                                <thead>
                                    <tr>
                                        <th>Full site address</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Websites" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>{{item.Website}}</td>
                                        <td>{{item.UserName}}</td>
                                        <td>{{item.SitePassword}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="website.Website" maxlength="45">
                                        </td>
                                        <td>
                                            <input type="text" ng-model="website.UserName" maxlength="25">
                                        </td>
                                        <td>
                                            <input type="text" ng-model="website.SitePassword" maxlength="15">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-control col-xs-2">
                        <div class="table-control-title">&nbsp;</div>
                        <button class="add" type="button" ng-click="AddWebsite(website)">Add</button>
                        <button class="delete" ng-click="DeleteWebsite(Websites)">Delete</button>
                    </div>
                    <div class="vat-charge col-xs-12">
                        <div class="vat-rate col-xs-8">
                            <label for="">VAT rate</label>
                            <input type="text" ng-model="FinanceAdmin.VATRate" class="input-width-short">%
                        </div>
                        <div class="fair-charge col-xs-4">
                            <label for="" class="col-xs-8 no-padding">FAIR charge &#8356;</label>
                            <input type="text" class="input-width-short" ng-model="FinanceAdmin.FAIRCharge">
                        </div>
                    </div>
                    <div class="exchange-rates-get-rates col-xs-12 no-padding">
                        <div class="exchange-rates col-xs-10">
                            <div class="exchange-title col-xs-12">Exchange rates:</div>
                            <div class="exchange-body col-xs-12 no-padding">
                                <div class="us-currency col-xs-3 col-xs-offset-1 no-padding">
                                    <div class="us-currency-group col-xs-6 no-padding content-right">
                                        <input type="text" class="input-width-short" ng-model="FinanceAdmin.USD" maxlength="8">
                                    </div>
                                    <label for="" class="col-xs-6 no-padding">US Dollars</label>
                                </div>
                                <div class="euro-currency col-xs-4">
                                    <label for="" class="col-xs-6 no-padding content-right">Euros</label>
                                    <div class="euro-currency-group col-xs-6">
                                        <input type="text" class="input-width-short" ng-model="FinanceAdmin.Euros" maxlength="8">
                                    </div>
                                </div>
                                <div class="irish-currency col-xs-4">
                                    <label for="" class="col-xs-6 no-padding content-right">Irish pounds</label>
                                    <div class="irish-currency-group col-xs-6">
                                        <input type="text" class="input-width-short" ng-model="FinanceAdmin.IrishPounds" maxlength="8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 no-padding-right">
                    <div class="form-address-branch col-xs-12 no-padding">
                        <form name="BranchForm" ng-submit="BranchForm.$valid && AddAddBranch(addBranch)" novalidate>
                            <div class="form-address col-xs-9 no-padding">
                                <div class="form-element">
                                    <div class="form-content col-xs-10 no-padding">
                                        <div class="element name col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Name</label>
                                            <div class="name-group col-xs-8 no-padding">
                                                <input type="text" name="BranchName" ng-model="addBranch.BranchName" maxlength="25" required>
                                            </div>
                                        </div>
                                        <div class="error col-xs-12">
                                            <span ng-show="BranchForm.$submitted && BranchForm.BranchName.$error.required">Please enter Name</span>
                                        </div>
                                        <div class="element address1 col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Address 1</label>
                                            <div class="address1-group col-xs-8 no-padding">
                                                <input type="text" ng-model="addBranch.Address1" maxlength="45" required name="Address1">
                                            </div>
                                        </div>
                                        <div class="error col-xs-12">
                                            <span ng-show="BranchForm.$submitted && BranchForm.Address1.$error.required">Please enter Address 1</span>
                                        </div>
                                        <div class="element address2 col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Address 2</label>
                                            <div class="address2-group col-xs-8 no-padding">
                                                <input type="text" ng-model="addBranch.Address2" maxlength="40" required name="Address2">
                                            </div>
                                        </div>
                                        <div class="error col-xs-12">
                                            <span ng-show="BranchForm.$submitted && BranchForm.Address2.$error.required">Please enter Address 2</span>
                                        </div>
                                    </div>
                                    <div class="form-button no-padding col-xs-2">
                                        <div class="add">
                                            <button type="submit">Add</button>
                                        </div>
                                        <div class="delete">
                                            <button type="button" ng-click="DeleteBranch(Branches)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element">
                                    <div class="form-content col-xs-12 no-padding">
                                        <div class="element address3 col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Address 3</label>
                                            <div class="address3-group col-xs-8 no-padding">
                                                <input type="text" ng-model="addBranch.Address3" maxlength="30" name="Address3">
                                            </div>
                                        </div>
                                        <div class="element address4 col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Address 4</label>
                                            <div class="address4-group col-xs-8 no-padding">
                                                <input type="text" ng-model="addBranch.Address4">
                                            </div>
                                        </div>
                                        <div class="element telephone col-xs-5 col-xs-offset-7 no-padding">
                                            <label class="col-xs-6 no-padding-right" for="">Telephone</label>
                                            <div class="telephone-group col-xs-6 no-padding">
                                                <input type="text" ng-model="addBranch.Phone" name="Phone" maxlength="20" required ng-pattern="/^0|[1-9][0-9]*$/">
                                            </div>
                                        </div>
                                        <div class="error col-xs-5 col-xs-offset-7 no-padding">
                                            <span ng-show="BranchForm.$submitted && BranchForm.Phone.$error.required">Please enter Telephone</span>
                                            <span ng-show="BranchForm.$submitted && BranchForm.Phone.$error.pattern">Telephone must be number</span>
                                        </div>
                                        <div class="element postcode col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding-right">Postcode</label>
                                            <div class="postcode-group col-xs-2 no-padding">
                                                <input type="text" ng-model="addBranch.Postcode" maxlength="8" name="Postcode" required>
                                            </div>
                                        </div>
                                        <div class="error col-xs-12">
                                            <span ng-show="BranchForm.$submitted && BranchForm.Postcode.$error.required">Please enter Postcode</span>
                                        </div>
                                        <div class="element facsimile col-xs-5 col-xs-offset-7 no-padding">
                                            <label for="" class="col-xs-6 no-padding-right">Facsimile</label>
                                            <div class="facsimile-group col-xs-6 no-padding">
                                                <input type="text" ng-model="addBranch.Fax" maxlength="20" name="Fax" required ng-pattern="/^0|[1-9][0-9]*$/">
                                            </div>
                                        </div>
                                        <div class="error col-xs-5 col-xs-offset-7 no-padding">
                                            <span ng-show="BranchForm.$submitted && BranchForm.Fax.$error.required">Please enter Facsimile</span>
                                            <span ng-show="BranchForm.$submitted && BranchForm.Fax.$error.pattern">Facsimile must be number</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="branch col-xs-3 no-padding-right">
                                <div class="table-title">Branches</div>
                                <div class="area-table">
                                    <table ng-show="Branches | hasItem">
                                        <tr ng-repeat="Branche in Branches" ng-click="selectItem(Branche, 'selected')">
                                            <td>{{Branche.BranchName}} <span ng-show="Branche.selected == true" class="pull-right glyphicon glyphicon-ok"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="material-markup col-xs-12">
                        <label for="">Material markup</label>
                        <input type="text" ng-model="FinanceAdmin
.MaterialMarkup" class="input-width-short">%
                    </div>
                    <div class="user-role-back col-xs-12 no-padding">
                        <button class="get-rates" ng-click="getRates
()">Get Rates</button>
                        <button class="user-roles">User Roles</button>
                        <button class="update" type="button" ng-click="UpdateFinanceAdmin(FinanceAdmin)">Update</button>
                        <button class="back" ng-click="redirectBack()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
