<div id="review" class="client-readmore tab-center">
    <div class="row">
        <div class="col-md-3 text-center list-button">
            <h2 class="title-color-blue"><strong>Review status</strong></h2>
            <button ng-repeat="item in listReview" type="button" class="{{item.bgclass}} {{item.colorclass}}" ng-click="selectOneItem(listReview, item, 'selected'); setReview(item.value)" ng-class="{'col-white': item.selected}">{{item.name}}</button>
        </div>
        <div class="col-md-9 space-top">
            <div class="row space-top">
                <div class="col-md-8 text-right"><strong></strong></div>
                <div class="col-md-2 text-left"><strong>No</strong></div>
                <div class="col-md-2 text-right"><strong>Yes</strong></div>
            </div>
            <div class="row space-top">
                <div class="col-md-8 text-right"><strong>Do we have the tooling?</strong></div>
                <div class="col-md-2 text-left">
                    <input type="radio" name="Tooling" ng-model="OpTmpltReviewDetail.Tooling" ng-value="0" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
                <div class="col-md-2 text-right">
                    <input type="radio" name="Tooling" ng-model="OpTmpltReviewDetail.Tooling" ng-value="1" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
            </div>
            <div class="row space-top">
                <div class="col-md-8 text-right"><strong>Do we have the equipment?</strong></div>
                <div class="col-md-2 text-left">
                    <input type="radio" name="QAEquip" ng-model="OpTmpltReviewDetail.QAEquip" ng-value="0" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
                <div class="col-md-2 text-right">
                    <input type="radio" ng-model="OpTmpltReviewDetail.QAEquip" ng-value="1" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
            </div>
            <div class="row space-top">
                <div class="col-md-8 text-right"><strong>Correct approval on all RFQs?</strong></div>
                <div class="col-md-2 text-left">
                    <input type="radio" name="CorrectApproval" ng-model="OpTmpltReviewDetail.CorrectApproval" ng-value="0" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
                <div class="col-md-2 text-right">
                    <input type="radio" name="CorrectApproval" ng-model="OpTmpltReviewDetail.CorrectApproval" ng-value="1" ng-click="UpdateOpReview(OpTmpltReviewDetail)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center list-button">
            <h2 class="title-color-blue"><strong>Risk assessment</strong></h2>
            <button ng-repeat="item in listRisk" type="button" class="{{item.bgclass}} {{item.colorclass}}" ng-click="selectOneItem(listRisk, item, 'selected'); setRisk(item.value)" ng-class="{'col-yellow': item.selected}">{{item.name}}</button>
        </div>
        <div class="col-md-9">
            <div class="col-md-offset-6 col-md-6">
                <button type="button" class="pull-left" ng-click="QualityToReview()">QA Review</button>
                <div class="col-md-7">
                    <p>Ask Quality Dept. to Review this template</p>
                </div>
            </div>
            <p class="text-right title-color-blue" ng-show="OpTmpltReviewDetail.ReviewStatus == 1">Declined quote Generated</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="area-table table-previous row space-top internal-qa-notes">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_internal">
                <thead>
                    <tr>
                        <th class="text-center">Internal QA Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" ng-model="ReviewNote" my-enter="AddReviewNote(ReviewNote)" maxlength="80">
                        </td>
                    </tr>
                    <tr ng-repeat="item in OpTmpltIntReviewNotes track by $index">
                        <td ng-bind="item.Note"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
