<div class="remark-comment-page">
    <div class="title-global-page">Remarks Comments</div>
    <div class="row">
        <div class="content col-md-12">
            <div class="remarks col-md-6">
                <div class="title-button">
                    <span class="title">Standard Remarks</span>
                    <button ng-click="AddRemark(Remark)">Add</button>
                </div>
                <div class="search">
                    <input type="text" ng-model="Remark" maxlength="100">
                </div>
                <div class="area-table">
                    <table ng-show="Remarks | hasItem">
                        <tr ng-repeat="item in Remarks" ng-click="selectItem(item, 'selected')">
                            <td>
                                <span>{{item.Remark}}</span>
                                <span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="delete">
                    <button type="submit" ng-click="RemoveRemark(Remarks)">Delete</button>
                </div>
            </div>
            <div class="comments col-md-6">
                <div class="title-button">
                    <span class="title">Standard comments</span>
                    <button ng-click="AddComment(Comment)">Add</button>
                </div>
                <div class="search">
                    <input type="text" ng-model="Comment" maxlength="100">
                </div>
                <div class="area-table">
                    <table ng-show="Comments | hasItem">
                        <tr ng-repeat="item in Comments" ng-click="selectItem(item, 'selected')">
                            <td>
                                <span>{{item.Comment}}</span>
                                <span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="delete">
                    <button type="submit" ng-click="RemoveComment(Comments)">Delete</button>
                </div>
            </div>
        </div>
        <div class="page-footer col-md-12">
            <button type="submit" ng-click="redirectBack()">Back</button>
        </div>
    </div>
</div>
