<div id="supplier" class="tab-pane supplier-tab">
    <div class="area supplier">
        <span>Supplier</span>
        <select ng-model="POSupplierDetail.SupplierID" ng-options="option as option.SupplierName for option in SupplierList" ng-change="SelectSupplier(POSupplierDetail.SupplierID); UpdatePOSupplier(POSupplierDetail)">
        </select>
    </div>
    <div class="area supplier-ref">
        <span>Supplier Ref</span>
        <input type="text" ng-model="POSupplierDetail.SupplierRef" maxlength="15" ng-change="UpdatePOSupplier(POSupplierDetail)" />
    </div>
    <div class="area client-contact">
        <span>Client Contact</span>
        <select ng-model="POSupplierDetail.ClientContactID" ng-options="option as option.ContactName for option in SupplierContacts" ng-change="UpdatePOSupplier(POSupplierDetail)">
        </select>
    </div>
    <div class="area delivery-charge">
        <span>Delivery Charge</span>
        <input type="text" ng-model="POSupplierDetail.DeliveryCharge" ng-change="TotalNetOrder(POSupplierDetail); UpdatePOSupplier(POSupplierDetail)" maxlength="6" />
    </div>
    <div class="area certification">
        <span class="span-certification">Certification</span>
        <input type="text" class="input-certification" maxlength="6" ng-model="POSupplierDetail.CertCharge" ng-change="TotalNetOrder(POSupplierDetail); UpdatePOSupplier(POSupplierDetail)" />
        <span class="total-cost">Total Net Order Cost</span>
        <span class="value-total-cost">
            <input type="text" placeholder="&#8356;" ng-model="POSupplierDetail.TotalNetCost" readonly />
        </span>
    </div>
    <div class="area approval">
        <span>Approval</span>
        <input type="text" ng-model="POSupplierDetail.ApprovalComment" ng-change="UpdatePOSupplier(POSupplierDetail)" maxlength="45" />
    </div>
    <div class="area delivery-days">
        <span>Delivery Days</span>
        <input type="text" ng-model="POSupplierDetail.DeliveryDays" ng-change="UpdatePOSupplier(POSupplierDetail)" maxlength="6" />
    </div>
    <div class="area delivery-date">
        <span>Delivery Date</span>
        <input type="text" ng-model="POSupplierDetail.DeliveryDate" ng-change="UpdatePOSupplier(POSupplierDetail)" />
    </div>
    <div class="area del-comments">
        <span>Del Comments</span>
        <select ng-model="POSupplierDetail.DeliveryCommentID" ng-options="option as option.DeliveryComment for option in DeliveryCommentsList" ng-change="UpdatePOSupplier(POSupplierDetail)">
        </select>
    </div>
</div>