<div class="part-list-tab col-xs-12">
    <div class="row">
        <div class="part-filter col-xs-12">
            <div class="row">
                <div class="filter col-xs-2 col-xs-offset-1">
                    <div class="title">&nbsp;</div>
                    <div class="content">
                        Part Filter:
                    </div>
                </div>
                <div class="all-issue col-xs-1">
                    <div class="title">All</div>
                    <div class="content">
                        <input type="radio" ng-model="PartFilter" name="PartFilter" value="2" ng-selected="PartFilter == 2">
                    </div>
                </div>
                <div class="active-issue col-xs-1 no-padding">
                    <div class="title">Active Issue</div>
                    <div class="content">
                        <input type="radio" ng-model="PartFilter" name="PartFilter" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 search-button">
            <div class="row">
                <div class="col-xs-12 search-template">
                    <div class="row">
                        <div class="search col-xs-5 col-xs-offset-1">
                            <search-input search-input-model="searchInputModel" procedure="ProcPartTemplateSearch" search-key="PartNumberSearchString" display-key="PartNumber // Issue // COS" other-field="{Filter: PartFilter}" on-select="PartNoSelected"></search-input>
                        </div>
                        <div class="template-release col-xs-6">
                            <div class="row">
                                <div class="col-xs-8 view-template">
                                    <button type="button" ng-click="ViewTemplate()">View Teamplate</button>
                                </div>
                                <div class="col-xs-4 release-type">
                                    <p>Release type</p>
                                    <select ng-model="PartDetail[0].ReleaseTypeID" ng-options="option as option.Description for option in AllApprovalList">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="flugel-up-issue col-xs-12">
                    <div class="row">
                        <div class="flugel col-xs-6">
                            <div class="title pull-right color-blue large-font" ng-bind="PartDetail[0].PartDescription"></div>
                            <div class="content col-xs-3 col-xs-offset-9 pull-right">
                                <p class="content-title"><small>New issue</small></p>
                                <input type="text" maxlength="5" ng-model="NewIssue">
                            </div>
                        </div>
                        <div class="col-xs-6 up-issue">
                            <div class="title large-font">&nbsp;</div>
                            <div class="content">
                                <button type="button" ng-click="UpIssue(NewIssue)">Up Issue</button>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div modal-show modal-visible="showDialog" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div dropzone on-success="uploadSuccess" on-error="errorUpload" before-upload="beforeUpload" class="drop-zone" max-file-name="45">
                                            <span>Drop file here</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cos-create-template col-xs-12">
                    <div class="row">
                        <div class="cos col-xs-6">
                            <p class="content-right">COS</p>
                            <div class="content">
                                <select class="pull-right" ng-model="PartDetail[0].COSID" ng-options="option as option.Description for option in SupplyConditionList">
                                </select>
                            </div>
                        </div>
                        <div class="create-templete col-xs-6">
                            <button ng-click="CreateTemplate(PartDetail[0].COSID)">Create Teamplate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="originating-photocopy col-xs-12">
                    <div class="row">
                        <div class="originating col-xs-6">
                            <p class="content-right">Originating Part No.</p>
                            <select class="pull-right" ng-model="OriginPartNo" ng-options="option as option.showData for option in PartTemplateList"></select>
                        </div>
                        <div class="photocopy col-xs-6">
                            <button ng-click="CopyTemplate(OriginPartNo)">photocopy Teamplate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 live-job">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-10">
                            <p>Live jobs using this Part and issue</p>
                            <div class="area-table">
                                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_partdetail">
                                    <thead>
                                        <tr>
                                            <th>WO No.</th>
                                            <th>Customer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in PartDetail">
                                            <td ng-bind="item.WorkOrderID"></td>
                                            <td ng-bind="item.CustomerName"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 alert-lockdown">
            <div class="alert-btn col-xs-2">
                <button class="color-yellow" ng-show="isAlert" ng-click="TemplateAlert()">Alert</button>
                <button class="color-yellow" ng-hide="isAlert" ng-click="TemplateAlertOff()">Remove Alert</button>
            </div>
            <div class="lockdown-btn col-xs-2">
                <button class="color-red" ng-show="isLocked" ng-click="TemplateLock()">Lock down</button>
                <button class="color-red" ng-hide="isLocked" ng-click="TemplateLockOff()">Remove Lock</button>
            </div>
            <div class="part-history-btn col-xs-2">
                <button ng-click="redirectPartHistory()">Part History</button>
            </div>
            <div class="back-btn col-xs-6">
                <button class="pull-right" ng-click="redirectBack()">Back</button>
            </div>
        </div>
    </div>
</div>
