<div class="part-history">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-global-page">Part History</div>
        </div>
        <div class="col-xs-7 col-xs-offset-1 left">
            <div class="row">
                <div class="col-xs-10">
                    <div class="area-table">
                        <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_partwo" load-item="PartWOList">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in PartWOList | orderBy: sortBy | reverse" ng-click="selectOneItem(PartWOList, item, 'selected'); PartWOSelected(item)" ng-class="{'tr-active': item.selected}">
                                    <td ng-bind="item.CustomerName"></td>
                                    <td ng-bind="item.WONo"></td>
                                    <td ng-bind="item.OrderDate | timeFormat: 'DD/MM/YYYY'"></td>
                                    <td ng-bind="item.Completed"></td>
                                    <td ng-bind="item.Qty"></td>
                                    <td ng-bind="item.PriceEach"></td>
                                    <td ng-bind="item.Value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-2">
                    <span class="up-control" ng-click="reverse = false"></span>
                    <span>sort</span>
                    <span class="down-control" ng-click="reverse = true"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 right">
            <div class="row">
                <div class="col-xs-5">
                    <p>Part No.</p>
                    <input class="color-blue border" type="text" ng-model="PartNumber">
                </div>
                <div class="col-xs-3">
                    <p>Issue</p>
                    <input class="issue font-weight content-right" type="text" ng-model="Issue">
                </div>
                <div class="col-xs-4">
                    <input class="color-blue border font-large font-weight content-right" type="text" required ng-model="TimesMade">
                    <h6>Times made</h6>
                </div>
                <div class="col-xs-7 top bot">
                    <input class="color-blue border" type="text" ng-model="COS">
                </div>
                <div class="col-xs-12">
                    <button ng-click="redirectWorkOrder()">View WO</button>
                </div>
                <div class="col-xs-12 top">
                    <p class="algin">Grand total recevired for this part</p>
                    <p class="algin font-weight">₤{{GrandTotal}}</p>
                </div>
                <div class="col-xs-6 algin">Length : </div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Length"></div>
                <div class="col-xs-6 algin">Width</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Width"></div>
                <div class="col-xs-6 algin">Height</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Height"></div>
                <div class="col-xs-6 algin">Weight</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Weight"></div>
                <div class="col-xs-6 algin">Appoval</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Approval"></div>
                <div class="col-xs-6 content-right">Finish</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Finish"></div>
                <div class="col-xs-6 algin">Time</div>
                <div class="col-xs-6 bot help-block" ng-bind="PartWO.Time"></div>
                <div class="col-xs-12">
                    <button ng-click="redirectBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
