<div id="tab-main" class="tab_content">
    <div class="col-xs-2 submit-button">
        <div class="col-xs-12">
            <button type="button" class="viewco" ng-click="redirectCOpage(WorkOrderDetail.OrderID, WorkOrderDetail.CustomerOrderRef)">View CO</button>
        </div>
        <div class="col-xs-12">
            <button type="button" class="engineering" ng-click="redirectEngineering()">Engineering</button>
        </div>
        <div class="col-xs-12">
            <button type="button" class="part" ng-click="redirectPartControl(WorkOrderDetail.pkPartTemplateID)">Part</button>
        </div>
        <div class="col-xs-12">
            <button type="button" class="schedule" ng-click="redirectPSpage()">Schedule</button>
        </div>
    </div>
    <div class="col-xs-4 information-orders">
        <div class="form-group">
            <label class="col-xs-4">Part No.</label>
            <a href="javascript:;" ng-bind="WorkOrderDetail.PartNumber" ng-click="redirectPartControl(WorkOrderDetail.pkPartTemplateID)" class="col-xs-8 no-border"></a>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Order No.</label>
            <div class="col-xs-8 blue">
                <a href="javascript:;" ng-bind="WorkOrderDetail.CustomerOrderRef" ng-click="redirectCOpage(WorkOrderDetail.CustomerOrderRef)"></a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Quantity</label>
            <div class="col-xs-8">
                <input type="text" class="input-quote" ng-model="WorkOrderDetail.Quantity" ng-disabled="!WorkOrderDetail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Due</label>
            <div class="col-xs-8">
                <input type="text" class="input-quote" ng-model="WorkOrderDetail.DueDate" ng-disabled="!WorkOrderDetail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Est. Finish Date</label>
            <div class="col-xs-8">
                <input type="text" class="input-quote" ng-model="WorkOrderDetail.EstDate" ng-disabled="!WorkOrderDetail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Where</label>
            <div class="col-xs-8 blue">
                <a href="javascript:;" ng-bind="WorkOrderDetail.WhereMachine" ng-click="redirectMachineList(WorkOrderDetail.WhereMachine)"></a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Issue</label>
            <div class="col-xs-8">
                <input type="text" class="input-quote" ng-model="WorkOrderDetail.Issue" ng-disabled="!WorkOrderDetail">
            </div>
        </div>
    </div>
    <div class="col-xs-6 modules-list-text">
        <div class="area-table">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_notes">
                <thead>
                    <tr>
                        <th class="col-xs-12 no-padding">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in WorkOrderNotes">
                        <td class="col-xs-12 no-padding">
                            <span ng-bind="item.Note"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-12 no-padding">
                            <input type="text" ng-model="OrderNotes" maxlength="80" my-enter="AddOrderNotes(OrderNotes)" ng-disabled="!WorkOrderDetail">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-offset-6 col-xs-6 close-cancal">
        <div class="col-xs-6 no-padding">
            <label>Close / Cancal this work order</label>
            <p>This cannot be reversed</p>
        </div>
        <div class="col-xs-6">
            <input type="radio" name="CloseCancal" ng-click="WOCancel()" />
        </div>
    </div>
</div>
