<div class="col-xs-12 review-tasks-tab">
    <div class="row">
        <div class="review-table-button col-xs-11">
            <div class="review-table col-xs-10">
                <div class="area-table">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_review">
                        <thead>
                            <tr>
                                <th>
                                    Review tasks for this Part
                                </th>
                                <th>Task Type</th>
                                <th>Date</th>
                                <th>
                                    <p>Requested depts</p>
                                    <p>FO Pu PE En Qu SP St Fi</p>
                                </th>
                                <th>Closed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in PartReviewTasks" ng-click="selectOneItem(PartReviewTasks, item, 'selected')" ng-class="{'tr-active': item.selected}">
                                <td ng-bind="item.Description"></td>
                                <td>
                                    <strong class="color-black" ng-bind="item.TaskType"></strong>
                                </td>
                                <td ng-bind="item.CreateDate | timeFormat: 'DD/MM/YYYY'"></td>
                                <td>
                                    <input type="checkbox" ng-model="item.FO" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.Pu" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.PE" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.En" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.Qu" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.SP" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.St" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="item.Fi" ng-true-value="1" ng-false-value="0">
                                </td>
                                <td ng-bind="item.Closed"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" maxlength="30" ng-model="Review.Description">
                                </td>
                                <td>
                                    <select ng-model="Review.Type" ng-options="option as option.ActionType for option in TypeList"></select>
                                </td>
                                <td></td>
                                <td>
                                    <input type="checkbox" ng-model="Review.FO" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.Pu" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.PE" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.En" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.Qu" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.SP" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.St" ng-true-value="1" ng-false-value="0">
                                    <input type="checkbox" ng-model="Review.Fi" ng-true-value="1" ng-false-value="0">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="review-button col-xs-2">
                <button class="create-btn" ng-click="CreateReview(Review)">Create</button>
                <p>close selected task</p>
                <button class="close-btn" ng-click="CloseReview(PartReviewTasks)">Close</button>
            </div>
        </div>
    </div>
</div>
