<div class="machines-list-page">
    <div class="title-global-page">Machine List</div>
    <form name="MachineForm" ng-submit="MachineForm.$valid && AddOrUpdateMachine(MachineParams)" novalidate>
        <div class="page-color-top">
            <div class="content">
                <div class="content-title">
                    <label>Display:</label>
                </div>
                <div class="content-color">
                    <div class="color-box trn" ng-click="filterMachine('Trn')" ng-class="{'color-select': MachineType === 'Trn'}">Trn</div>
                    <div class="color-box grd" ng-click="filterMachine('Grd')" ng-class="{'color-select': MachineType === 'Grd'}">Grd</div>
                    <div class="color-box mil" ng-click="filterMachine('Mil')" ng-class="{'color-select': MachineType === 'Mil'}">Mil</div>
                    <div class="color-box gc" ng-click="filterMachine('GC')" ng-class="{'color-select': MachineType === 'GC'}">GC</div>
                    <div class="color-box oth" ng-click="filterMachine('Oth')" ng-class="{'color-select': MachineType === 'Oth'}">Oth</div>
                    <div class="color-box active" ng-click="filterMachine('Active')" ng-class="{'color-select': MachineType === 'Active'}">Active</div>
                    <div class="color-box all" ng-click="filterMachine('ALL')" ng-class="{'color-select': MachineType === 'ALL'}">ALL</div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="table-content col-xs-5">
                <div class="col-xs-1 sort-control no-padding">
                    <span class="up-control" ng-click="reverse = false"></span>
                    <span>sort</span>
                    <span class="down-control" ng-click="reverse = true"></span>
                </div>
                <div class="col-xs-11 area-table">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_machinelist" load-item="MachineMasterList">
                        <thead>
                            <tr>
                                <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in MachineMasterList | orderBy: sortBy : reverse" ng-click="selectOneItem(MachineMasterList, item); selectMachine(item)" ng-class="{'tr-active': item.selected}">
                                <td ng-bind="item.MachineID"></td>
                                <td ng-bind="item.Manufacturer"></td>
                                <td ng-bind="item.Model"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page-content col-xs-7 no-padding-right">
                <div class="row margin-bot-3">
                    <div class="button-mainternance col-xs-12">
                        <div class="machine-action col-xs-4 no-padding">
                            <button class="remove" type="button" ng-click="RemoveMachine(MachineMasterList)">Remove from service</button>
                            <button type="button" class="add float-right" ng-click="AddNew()">Add New</button>
                        </div>
                        <div class="maintenance col-xs-3 col-xs-offset-5 content-right">Maintenance Parameters</div>
                    </div>
                </div>
                <div class="row">
                    <div class="make-coolant-type col-xs-12 margin-bot-10">
                        <div class="make-model col-xs-4 no-padding-right">
                            <div class="make col-xs-12 no-padding">
                                <label for="" class="col-xs-12 no-padding">Make</label>
                                <div class="col-xs-12 no-padding make-group">
                                    <input type="text" ng-model="MachineParams.Manufacturer" maxlength="15">
                                </div>
                            </div>
                            <div class="model col-xs-12 no-padding">
                                <label for="" class="col-xs-12 no-padding">Model</label>
                                <div class="col-xs-12 no-padding model-group">
                                    <input type="text" ng-model="MachineParams.Model" maxlength="25">
                                </div>
                            </div>
                        </div>
                        <div class="coolant-target col-xs-4 col-xs-offset-4 no-padding">
                            <div class="coolant-type col-xs-12 no-padding content-right margin-bot-3">
                                <label for="" class="col-xs-6 color-light-blue no-padding">Coolant Type</label>
                                <div class="coolant-type-group col-xs-6 no-padding">
                                    <input type="text" ng-model="MachineParams.CoolantType">
                                </div>
                            </div>
                            <div class="target col-xs-12 no-padding content-right margin-bot-3">
                                <label for="" class="col-xs-7 color-light-blue no-padding">Target concentration</label>
                                <div class="coolant-type-group col-xs-5 no-padding">
                                    <input type="text" class="from" ng-model="MachineParams.TargetConcMin" name="TargetConcMin" ng-pattern="/^\d+$/">
                                    <span>--</span>
                                    <input type="text" class="to" ng-model="MachineParams.TargetConcMax" name="TargetConcMax" ng-pattern="/^\d+$/">
                                </div>
                            </div>
                            <div class="error">
                                <span ng-show="MachineForm.$submitted && MachineForm.TargetConcMin.$error.pattern">Target min must be number</span>
                            </div>
                            <div class="error">
                                <span ng-show="MachineForm.$submitted && MachineForm.TargetConcMax.$error.pattern">Target max must be number</span>
                            </div>
                            <div class="coolant-type col-xs-12 no-padding content-right">
                                <label for="" class="col-xs-11 color-light-blue no-padding">Slide Oil Level</label>
                                <div class="coolant-type-group col-xs-1 no-padding">
                                    <input type="checkbox" ng-model="MachineParams.SlideOilLevel" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="color-coolant-level col-xs-12">
                        <div class="color col-xs-7 no-padding-right">
                            <div class="color-box trn" ng-show="isIcon" ng-click="selectTrn()" ng-class="{'color-select': MachineParams.Trn == 1}">Trn</div>
                            <div class="color-box grd" ng-show="isIcon" ng-click="selectGrd()" ng-class="{'color-select': MachineParams.Grd == 1}">Grd</div>
                            <div class="color-box mil" ng-show="isIcon" ng-click="selectMil()" ng-class="{'color-select': MachineParams.Mil == 1}">Mil</div>
                            <div class="color-box gc" ng-show="isIcon" ng-click="selectGC()" ng-class="{'color-select': MachineParams.GC == 1}">GC</div>
                            <div class="color-box oth" ng-show="isIcon" ng-click="selectoth()" ng-class="{'color-select': MachineParams.oth == 1}">Oth</div>
                        </div>
                        <div class="coolant-grease col-xs-5 no-padding">
                            <div class="coolant-level col-xs-12 no-padding content-right margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding">Coolant level</label>
                                <div class="coolant-level-group col-xs-1 no-padding">
                                    <input type="checkbox" ng-model="MachineParams.CoolantLevel" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="grease-level col-xs-12 no-padding content-right margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding">Grease level</label>
                                <div class="grease-level-group col-xs-1 no-padding">
                                    <input type="checkbox" ng-model="MachineParams.GreaseLevel" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="optional-fan-filter col-xs-12 no-padding">
                        <div class="optional no-padding col-xs-8">
                            <label for="" class="col-xs-12 color-light-blue">Optional parameters:</label>
                            <div class="optional-group col-xs-12">
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="offset col-xs-5 col-xs-offset-7 no-padding margin-bot-3">
                                            <input type="text" name="Offset" ng-model="MachineParams.Offset" ng-pattern="/^\d+$/">Offset
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 error">
                                            <span ng-show="MachineForm.$submitted && MachineForm.Offset.$error.pattern">Offset must be number</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="station col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-7 no-padding-left content-right">Station No.</label>
                                            <div class="station-group col-xs-5 no-padding">
                                                <input type="text" ng-model="MachineParams.StationNo" name="StationNo" ng-pattern="/^\d+$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 error">
                                            <span ng-show="MachineForm.$submitted && MachineForm.StationNo.$error.pattern">Station No. must be number</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="designation col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-7 no-padding-left content-right">Designation</label>
                                            <div class="designation-group col-xs-5 no-padding">
                                                <input type="text" ng-model="MachineParams.Designation">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="diameter col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-7 no-padding-left content-right">Diameter</label>
                                            <div class="diameter-group col-xs-5 no-padding">
                                                <input type="text" ng-model="MachineParams.Diameter" name="Diameter" ng-pattern="/^\d+$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="MachineForm.$submitted && MachineForm.Diameter.$error.pattern">Diameter must be number</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="flute-length col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-7 no-padding-left content-right">Min. flute length</label>
                                            <div class="flute-length-group col-xs-5 no-padding">
                                                <input type="text" ng-model="MachineParams.MinfluteLength" name="MinfluteLength" ng-pattern="/^\d+$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="MachineForm.$submitted && MachineForm.MinfluteLength.$error.pattern">Min. flute must be number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-7 no-padding">
                                    <div class="row">
                                        <div class="stick-out col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-6 no-padding content-right">Min. stick out</label>
                                            <div class="stick-out-group col-xs-5">
                                                <input type="text" ng-model="MachineParams.MinStickOut" name="MinStickOut" ng-pattern="/^\d+$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="error col-xs-12">
                                            <span ng-show="MachineForm.$submitted && MachineForm.MinStickOut.$error.pattern">Min. stick must be number</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="holder col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-6 no-padding content-right">Holder No.</label>
                                            <div class="holder-group col-xs-5">
                                                <input type="text" ng-model="MachineParams.HolderNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="datum-point col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-6 no-padding content-right">Insert Datum point</label>
                                            <div class="datum-point-group col-xs-5">
                                                <input type="text" ng-model="MachineParams.InsertDatumPoint" maxlength="15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="spindle col-xs-12 no-padding margin-bot-3">
                                            <label for="" class="col-xs-6 no-padding content-right">Spindle</label>
                                            <div class="spindle-group col-xs-5">
                                                <input type="text" ng-model="MachineParams.Spindle">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fan-oil-filter col-xs-4">
                            <div class="fan-filter col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Fan filter</label>
                                <div class="fan-filter-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.Fanfilter" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="oil-filter col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Oil filter</label>
                                <div class="oil-filter-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.OilFilter" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="coolant-filter col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Coolant filter</label>
                                <div class="coolant-filter-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.CoolantFilter" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="air-system col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Air System</label>
                                <div class="air-system-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.AirSystem" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="integral col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Integral lighting</label>
                                <div class="integral-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.IntegralLighting" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="interlocks col-xs-12 no-padding margin-bot-10">
                                <label for="" class="col-xs-11 color-light-blue no-padding-left content-right">Interlocks engaged</label>
                                <div class="interlocks-group col-xs-1 no-padding content-right">
                                    <input type="checkbox" ng-model="MachineParams.InterlocksEngaged" ng-true-value="1" ng-false-value="0">
                                </div>
                            </div>
                            <div class="other col-xs-12 no-padding margin-bot-10">
                                <div class="other-group col-xs-1 col-xs-offset-11 no-padding content-right">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="difficulty-level col-xs-4 no-padding">
                        <label for="" class="col-xs-5 no-padding">Difficulty Level</label>
                        <div class="difficulty-level-group col-xs-7">
                            <input type="text" ng-model="MachineParams.DifficultyLevel" name="DifficultyLevel" ng-pattern="/^\d+$/">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="error">
                        <span ng-show="MachineForm.$submitted && MachineForm.DifficultyLevel.$error.pattern">Difficulty Level must be number</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-button">
            <button class="back" ng-click="redirectBack()">Back</button>
            <button class="save">Save</button>
        </div>
    </form>
</div>
