<div id="tab-cocs" class="tab_content">
    <div class="content-header">
        <div class="col-sm-1">
            <label>
                <p>Invoice</p>
                <input name="credit" ng-model="Credit" value="0" type="radio" id="radio-invoice" ng-model="showCredit" ng-checked="true" checked="checked" />
            </label>
            <label>
                <p>Credit</p>
                <input name="credit" ng-model="Credit" value="1" type="radio" id="radio-credit" ng-model="showCredit" />
            </label>
        </div>
        <div class="col-sm-3 input-invoice">
            <div>
                <p> </p>
                <input type="text" class="input-quote date" value="{{nowDate}}" ng-dblclick="getNowDate()">
            </div>
            <div>
                <label>Invoice</label>
                <input type="text" ng-model="NextOutvoiceNo" class="input-quote text">
                <p class="quantity-title">Quantity</p>
                <input type="text" class="quantity">
            </div>
        </div>
        <div class="col-sm-4 no-padding">
            <form>
                <div class="area-table">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_grb" class="grb-table">
                        <thead>
                            <tr>
                                <th>GRB</th>
                                <th>Incoming release</th>
                                <th>Display?</th>
                                <th>Print</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OrderCoCInfo" ng-class="{'tr-active': item.selected}">
                                <td ng-click="selectItem(item, 'selected')">
                                    <span ng-bind="item.Deviation"></span>
                                    <span>{{item.GRB}}</span>
                                </td>
                                <td>
                                    <input type="text" value="{{item.IRNoteNumber}}" readonly>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="item.Display" ng-checked="item.Display">
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="item.Print" ng-checked="item.Print == 1" ng-checked="item.Print">
                                </td>
                                <td>
                                    <button ng-click="updateIRList(item)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="col-sm-4 submit">
            <p>
                CoC Pagerwork complete
                <input type="checkbox" ng-model="PaperworkComplete" ng-click="updateWOCoCInfo(PaperworkComplete)" />
            </p>
            <p>
                <button type="button" class="copy-address float-right" ng-click="PrintCoC(OrderCoCInfo)">Print</button>
                <span>Print selected docs</span>
            </p>
            <p>
                <button type="button" ng-click="CreateWOOutvoice(NextOutvoiceNo)">Save</button>
            </p>
        </div>
    </div>
    <div class="content-main">
        <div class="col-sm-3">
            <div ng-show="Credit == 1" class="box-credit col-xs-12">
                <span class="credit-title">Credit</span>
                <p class="title">
                    Return Note:
                </p>
                <input class="number" type="text" ng-model="NextCreditNote" readonly />
                <div class="col-sm-12 select">
                    Invoice
                    <select ng-model="OutvoiceCredit.InvoiceNo" ng-options="option as option.InvoiceNo for option in WOOutvoiceList">
                    </select>
                </div>
                <div class="col-sm-6 no-padding">
                    coC Reqd?
                    <input type="checkbox" ng-model="OutvoiceCredit.CoCReqd" />
                </div>
                <div class="col-sm-6 quantity no-padding">
                    Quantity
                    <input type="text" ng-model="OutvoiceCredit.Quantity" />
                </div>
                <div class="col-sm-12 identification">
                    <p>Identification marks</p>
                    <input type="text" ng-model="OutvoiceCredit.IdentMarks" maxlength="20" />
                </div>
                <div class="col-sm-12">
                    <button type="button" class="copy-address float-right" ng-click="CreateOutvoiceCredit(OutvoiceCredit)">Save</button>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-8 list-text">
            <div class="area-table material-notes">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_material">
                    <thead>
                        <tr>
                            <th class="col-xs-12 no-padding">Material Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in WOMaterialNotes">
                            <td class="col-xs-12 no-padding">
                                <input type="text" ng-model="item.MaterialNote">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="area-table conformity-notes">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_conformity">
                    <thead>
                        <tr>
                            <th class="col-xs-12 no-padding">Conformity Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in WOConformityNotes">
                            <td class="col-xs-12 no-padding">
                                <input type="text" ng-model="item.ConformityNote">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
