<div id="operations-treatment-admin">
    <div class="col-md-4 box">
        <div class="col-md-5">
            <p class="text-right">Treatments list:</p>
            <br>
            <div class="table-title text-right">Add new treatment</div>
            <p>
                <input type="text" ng-model="Treatment" maxlength="20">
            </p>
            <div class="sample-box space-bottom">
                <button type="button" class="pull-right" ng-click="AddTreatment(Treatment)">Add</button>
            </div>
            <div class="table-title text-right">Delete selected Treatment</div>
            <div class="sample-box space-bottom">
                <button type="button" class="pull-right space-bottom" ng-click="DeteleTreatment(TreatmentsList)">Delete</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="area-table table-previous height-big">
                <table ng-show="TreatmentsList | hasItem">
                    <tbody>
                        <tr ng-repeat="item in TreatmentsList | orderBy: 'Description' : reverseTreatment" ng-click="selectItem(item, 'selected')">
                            <td>
                            	<span ng-bind="item.Description"></span>
                            	<span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-control col-md-1">
            <span class="up-control" ng-click="reverseTreatment = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverseTreatment = true"></span>
        </div>
    </div>
    <div class="col-md-4 box">
        <div class="col-md-5">
            <p class="text-right">Operations list:</p>
            <br>
            <div class="table-title text-right">Add new operation</div>
            <p>
                <input type="text" ng-model="Operation" maxlength="25">
            </p>
            <div class="sample-box space-bottom">
                <button type="button" class="pull-right" ng-click="AddOperation(Operation)">Add</button>
            </div>
            <div class="table-title text-right">Delete selected Operation</div>
            <div class="sample-box space-bottom">
                <button type="button" class="pull-right space-bottom" ng-click="DeleteOperation(MachiningTypeList)">Delete</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="area-table table-previous height-big">
                <table ng-show="MachiningTypeList | hasItem">
                    <tbody>
                        <tr ng-repeat="item in MachiningTypeList | orderBy: 'Description' : reverseOperation" ng-click="selectItem(item, 'selected')">
                            <td>
                                <span ng-bind="item.Description"></span>
                                <span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-control col-md-1">
            <span class="up-control" ng-click="reverseOperation = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverseOperation = true"></span>
        </div>
    </div>
    <div class="col-md-4 box">
        <div class="row">
            <div class="col-md-5">
                <p class="text-right">Sundries list:</p>
                <br>
                <div class="table-title text-right">Add new Sundry</div>
                <p>
                    <input type="text" ng-model="Sundry" maxlength="20">
                </p>
                <div class="sample-box space-bottom">
                    <button type="button" class="pull-right" ng-click="AddSundry(Sundry)">Add</button>
                </div>
                <div class="table-title text-right">Delete selected Sundries</div>
                <div class="sample-box space-bottom">
                    <button type="submit" class="pull-right space-bottom" ng-click="DeleteSundries(SundriesList)">Delete</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="area-table table-previous">
                    <table ng-show="SundriesList | hasItem">
                        <tbody>
                            <tr ng-repeat="item in SundriesList | orderBy: 'Description' : reverseSundry" ng-click="selectItem(item, 'selected')">
                                <td>
                                    <span ng-bind="item.Description"></span>
                                    <span ng-show="item.selected == true" class="pull-right glyphicon glyphicon-ok"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-control col-md-1">
                <span class="up-control" ng-click="reverseSundry = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverseSundry = true"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <p class="text-right">Condition of Supply:</p>
                <br>
                <div class="table-title text-right">Add new condition</div>
                <p>
                    <input type="text" ng-model="Condition" maxlength="20">
                </p>
                <div class="sample-box space-bottom">
                    <button type="button" class="pull-right" ng-click="AddCondition(Condition)">Add</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="area-table table-previous">
                    <table ng-show="SupplyConditionList | hasItem">
                        <tbody>
                            <tr ng-repeat="item in SupplyConditionList | orderBy: 'Description' : reverseCondition">
                                <td ng-bind="item.Description"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-control col-md-1">
                <span class="up-control" ng-click="reverseCondition = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverseCondition = true"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 box">
            <div class="col-md-5">
                <p class="text-right">Scheduling contingencies (Fat)</p>
            </div>
            <div class="col-md-6">
                <div class="area-table table-previous">
            		<p class="text-right">days</p>
                    <table ng-show="GetFat | hasItem">
                        <tbody>
                            <tr ng-repeat="item in GetFat">
                                <td ng-bind="item.FATType"></td>
                                <td>
                                    <input ng-model="item.DelDays" type="text" ng-blur="UpdateFat(item)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 box">
	        <div class="col-md-5">
	            <p class="text-right">Op. Pause reasons:</p>
	            <br>
	            <div class="table-title text-right">Add new reason</div>
	            <p>
	                <input type="text" ng-model="Reason" maxlength="10">
	            </p>
	            <div class="sample-box space-bottom">
	                <button type="submit" class="pull-right" ng-click="AddReason(Reason)">Add</button>
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="area-table table-previous">
	                <table ng-show="PauseReasons | hasItem">
	                    <tbody>
	                        <tr ng-repeat="item in PauseReasons | orderBy: 'Reason' : reversePauseReason">
	                            <td ng-bind="item.Reason"></td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <div class="table-control col-md-1">
	            <span class="up-control" ng-click="reversePauseReason = false"></span>
	            <span>sort</span>
	            <span class="down-control" ng-click="reversePauseReason = true"></span>
	        </div>
	    </div>
    </div>
    <div class="row">
    	<button type="button" class="back-btn text-center pull-right button-large" ng-click="redirectBack()">Back</button>
    </div>
</div>
