<div id="raise" class="tab-pane raise-tab">
    <div class="button">
        <button class="preview" ng-click="openBIRT('preview')">Preview PO</button>
        <button class="raise" ng-click="openBIRT('raise')">Raise / reprint PO</button>
                <button class="copy" ng-click="CopyPO()">C'opy PO</button>
    </div>
    <div class="table-content">
        <div class="table-title">Previous purchase</div>
        <div class="area-table">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_order" load-item="PrevPurchases">
                <thead>
                    <tr>
                        <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}" class="{{item.class}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in PrevPurchases | orderBy : sortBy : reverse" ng-click="selectOneItem(PrevPurchases, item, 'selected')" ng-class="{'tr-active': item.selected}">
                        <td ng-bind="item.OrderDate | timeFormat: 'DD/MM/YYYY'"></td>
                        <td ng-bind="item.SupplierName"></td>
                        <td ng-bind="item.Qty"></td>
                        <td ng-bind="item.OpNo"></td>
                        <td ng-bind="item.Unit"></td>
                        <td ng-bind="item.Description"></td>
                        <td ng-bind="item.Size"></td>
                        <td ng-bind="item.Shape"></td>
                        <td>&#8356;{{item.EachPrice}}</td>
                        <td>&#8356;{{item.OrderValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-control">
            <span class="up-control" ng-click="reverse = false"></span>
            <span>sort</span>
            <span class="down-control" ng-click="reverse = true"></span>
        </div>
    </div>
</div>
