.contact-page {
    .bold {
        font-weight: bold;
    }
    .border {
        border: 1px solid #000;
    }
    .color-title {
        color: $color-title;
    }
    .content-right {
        text-align: right;
    }
    .contact-header {
        .contact-id {
            margin: 0!important;
            span {
                margin-right: 50px;
            }
        }
        .contact-company {
            margin: 10px 0;
            .company {
                padding-left: 120px;
            }
            .phone {
                .key {
                    display: inline-block;
                    width: 20%;
                }
                .value {
                    border: 1px solid #ccc;
                    padding-right: 15px;
                }
            }
        }
        .contact-alias {
            .alias {
                padding-left: 50px;
            }
            .facsimile {
                .key {
                    display: inline-block;
                    width: 20%;
                }
                .value {
                    border: 1px solid #ccc;
                    padding-right: 15px;
                }
            }
        }
    }
    .area-table {
        overflow-x: hidden;
        table {
            @include table;
            tr {
                th,
                td {
                    &:nth-child(1) {
                        width: 40%;
                    }
                    &:nth-child(2) {
                        width: 30%;
                    }
                    &:nth-child(3) {
                        width: 30%;
                    }
                }
                th {
                    @include table-tr-th;
                    color: $color-blue-nhat;
                    &:nth-child(1) {
                        text-align: left;
                    }
                }
                td {
                    @include table-tr-td;
                    padding: 3px 0;
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:nth-child(3) {
                        text-align: center;
                    }
                    input[type="text"] {
                        width: 80%;
                    }
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                    color: #FFF;
                }
            }
        }
    }
    .page-body {
        overflow: hidden;
        margin-top: 40px;
        .module-1 {
            .module-title {
                color: $color-title;
            }
            .module-body {
                padding-left: 100px;
            }
            .module-hour {
                margin-bottom: 63px;
                .area-table {
                    width: 70%;
                }
            }
            .module-additional {
                .module-body {
                    width: 100%;
                    overflow: hidden;
                    .area-table {
                        max-height: 115px;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    &:nth-child(1) {
                                        width: 40%;
                                        text-align: left;
                                    }
                                }
                                td {
                                    @include table-tr-td;
                                    padding: 3px 0;
                                    &:nth-child(2) {
                                        text-align: center;
                                    }
                                    &:nth-child(3) {
                                        text-align: center;
                                    }
                                    input[type="text"] {
                                        width: 100%;
                                    }
                                    select {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .area-button {
                        button {
                            @include kythera-small-button;
                            float: left;
                            font-weight: bold;
                            margin-top: 5px;
                        }
                        .remove-additional {
                            margin-bottom: 10px;
                        }
                    }
                    .table-additional {
                        table {
                            tbody {
                                max-height: 66px;
                            }
                        }
                    }
                }
            }
        }
        .module-2 {
            .module-contact {
                > span {
                    color: $color-title;
                    font-weight: 700;
                    border: 1px solid #000;
                    padding-right: 20px;
                }
                .module-body {
                    float: left;
                    .module-title {
                        text-align: right;
                        font-size: 12px;
                    }
                    .area-table {
                        float: left;
                        max-height: 252px;
                        table {
                            @include table;
                            tbody {
                                max-height: 300px;
                            }
                            tr {
                                th, td {
                                    &:nth-child(1) {
                                        width: 16%;
                                    }
                                    &:nth-child(2) {
                                        width: 18%;
                                    }
                                    &:nth-child(3) {
                                        width: 8%;
                                    }
                                    &:nth-child(4) {
                                        width: 16%;
                                    }
                                    &:nth-child(5) {
                                        width: 34%;
                                    }
                                    &:nth-child(6) {
                                        width: 4%;
                                    }
                                    &:nth-child(7) {
                                        width: 4%;
                                    }
                                }
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    &:nth-child(1) {
                                        text-align: left;
                                    }
                                    &:nth-child(2) {
                                        text-align: center;
                                    }
                                    &:nth-child(3) {
                                        text-align: center;
                                    }
                                    &:nth-child(4) {
                                        text-align: center;
                                    }
                                }
                                td {
                                    @include table-tr-td;
                                    padding: 5px 0;
                                    &:nth-child(4),
                                    &:nth-child(5),
                                    &:nth-child(6) {
                                        text-align: center;
                                    }
                                    input[type="text"],
                                    input[type="email"] {
                                        width: 100%;
                                    }
                                    select {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    @include kythera-small-button;
                    float: left;
                    width: 70px;
                    height: 50px;
                    font-weight: bold;
                }
                .update-contact {
                    margin-bottom: 20px;
                }
            }
            .module-freeform {
                margin-top: 30px;
                > span {
                    color: $color-title;
                }
                .module-body {
                    .area-button {
                        width: 10%;
                        float: left;
                        button {
                            @include kythera-small-button;
                            font-weight: bold;
                            float: left;
                        }
                        .remove-freeform {
                            margin-bottom: 10px;
                        }
                    }
                    .area-table {
                        width: 90%;
                        float: left;
                        max-height: 118px;
                        table {
                            @include table;
                            width: 100%;
                            display: block;
                            tbody {
                                width: 100%;
                                display: block;
                                tr {
                                    width: 100%;
                                    display: block;
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                    }
                                    td {
                                        @include table-tr-td;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        input[type="text"] {
                                            width: 100%;
                                        }
                                        span {
                                            &:nth-child(1) {
                                                width: 96%;
                                                display: inline-block;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-footer {
        overflow: hidden;
        padding: 10px 0;
        button {
            @include kythera-large-button;
            float: right;
            font-weight: bold;
        }
    }
}
