$color-violet: #9999cc;
.customer-order-page {
    overflow: hidden;
    padding-left: 5px;
    .area-table {
        width: 100%;
        table {
            @include table;
            .tr-active {
                td {
                    @include table-tr-active-td;
                    color: #000;
                }
            }
        }
    }
    .page-body {
        .page-top {
            overflow: hidden;
            padding-right: 5px;
            .area-1 {
                text-align: right;
                .item {
                    margin-bottom: 10px;
                    label {
                        font-weight: normal;
                        margin-right: 10px;
                        color: $color-title;
                    }
                    input {
                        height: 23px;
                        width: 110px;
                        margin-right: 20px;
                    }
                    select {
                        width: 130px;
                        height: 25px;
                    }
                }
            }
            .area-2 {
                button {
                    @include kythera-large-button;
                    float: left;
                    font-weight: bold;
                }
                .new-order {
                    margin-right: 10px;
                }
            }
            .area-3 {
                .item {
                    margin-bottom: 10px;
                    label {
                        font-weight: normal;
                        margin-right: 10px;
                    }
                    input {
                        height: 23px;
                        width: 110px;
                        margin-right: 20px;
                    }
                    select {
                        width: 120px;
                        height: 25px;
                    }
                }
                .item:first-child {
                    select {
                        margin-right: 20px;
                        width: 100px;
                    }
                }
            }
            .area-4 {
                button {
                    background: #9999cc;
                    color: #FFF;
                    font-size: 20px;
                    font-weight: normal;
                    padding: 0px 30px;
                    height: 100px;
                }
            }
        }
        .page-content {
            overflow: hidden;
            padding-right: 5px;
            .highlight {
                background: #7f8c8d;
            }
            .area-table {
                overflow-x: hidden;
                width: 100%;
                table {
                    @include table;
                    tr {
                        td {
                            select {
                                width: 100%;
                            }
                            &:nth-child(1) {
                                span {
                                    display: block;
                                }
                                input[type="text"],
                                input[type="email"] {
                                    width: 80%;
                                }
                            }
                            > table {
                                width: 100%;
                            }
                            .button {
                                @include kythera-small-button;
                                font-weight: bold;
                                width: 60px;
                                height: 43px;
                            }
                        }
                        td {
                            @include table-tr-td;
                            height: 45px;
                            text-align: center;
                        }
                        .no-border {
                            border-color: transparent;
                        }
                        .border-all {
                            border-color: #555;
                        }
                        .font-large-bold {
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .width-90-percent {
                            width: 90%!important;
                        }
                        .width-48-percent {
                            width: 48%!important;
                        }
                        .span-half {
                            border: 1px solid #000;
                            display: inline-block;
                            width: 48%;
                            height: 100%;
                            padding: 1px;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 38px;
                            text-align: center;
                            &:nth-child(1) {
                                float: left;
                            }
                            &:nth-child(2) {
                                float: right;
                            }
                        }
                    }
                }
            }
            .customer-order {
                height: 222px;
                overflow: auto;
                .table-1 {
                    table {
                        border: 0;
                        tr {
                            th {
                                @include table-tr-th;
                                color: $color-title;
                                font-weight: bold;
                                border: 0;
                                height: 41px;
                                vertical-align: bottom;
                                border: 1px solid transparent;
                                &:nth-child(5) {
                                    span {
                                        display: inline-block;
                                        &:nth-child(1) {
                                            width: 100%;
                                            border-bottom: 1px solid #000;
                                        }
                                        &:nth-child(2) {
                                            margin-left: 5px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .total-order {
                overflow: hidden;
                padding: 10px 0;
                .area-1 {
                    .total,
                    .sum-quantity {
                        border: 1px solid #000;
                        font-weight: bold;
                        padding: 5px 10px;
                        font-size: 16px;
                    }
                    .total-title {
                        color: $color-title;
                        font-weight: bold;
                        padding: 4px 26px;
                        border-bottom: 1px solid #000;
                    }
                }
                .area-2 {
                    button {
                        @include kythera-large-button;
                        font-weight: bold;
                    }
                    .view-acknlgmnt {
                        margin: 0 20px;
                    }
                }
            }
            .modal {
                .modal-dialog {
                    .modal-content {
                        .modal-body {
                            overflow: hidden;
                            text-align: center;
                            .form-group {
                                overflow: hidden;
                                margin-bottom: 5px;
                                label {
                                    text-align: right;
                                    font-weight: normal;
                                    color: #401dd3;
                                }
                            }
                            .modal-title {
                                overflow: hidden;
                                margin-bottom: 15px;
                                label {
                                    color: #401dd3;
                                    font-weight: bold;
                                    font-size: 20px;
                                    text-align: center;
                                }
                            }
                            .area-table {
                                width: 100%;
                                table {
                                    @include table;
                                    tr {
                                        th {
                                            @include table-tr-th;
                                            color: $color-blue-nhat;
                                            font-size: 20px;
                                            padding: 10px 0;
                                        }
                                        td {
                                            @include table-tr-td;
                                            padding: 10px 0;
                                            input[type="text"] {
                                                width: 98%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .modal-footer {
                            border: 0;
                            button {
                                @include kythera-large-button;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .area-customer-order {
                .area-1 {
                    .area-table {
                        overflow-x: hidden;
                        height: 75px;
                        width: 100%;
                        margin-bottom: 20px;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    &:nth-child(1) {
                                        width: 70%;
                                    }
                                }
                                td {
                                    @include table-tr-td;
                                    padding: 1px;
                                    input[type="text"] {
                                        width: 98%;
                                    }
                                }
                            }
                        }
                    }
                }
                .area-2 {
                    .area-button {
                        overflow: hidden;
                        margin-top: 28px;
                        button {
                            @include kythera-large-button;
                            font-weight: bold;
                        }
                        .back {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}
