@mixin module-body-with-radius {
    border-radius: 10px;
    border: 1px solid #555;
    padding: 5px;
}

$height_base: 20px!important;
.customer-page {
    padding-right: 5px;
    .currency-symbol:before {
        top: 0;
    }
    .error {
        clear: both;
    }
    label {
        font-weight: normal;
        text-align: left!important;
    }
    .page-body {
        .form-group {
            margin-bottom: 2px;
        }
        .default-delivery,
        .send-goods {
            input[type="text"] {
                width: 50px;
            }
        }
        .table-note {
            table {
                tbody {
                    max-height: 68px;
                }
                tr {
                    td {
                        input[type="text"],
                        input[type="email"] {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .row {
            .area {
                .module {
                    .module-title {
                        height: 26px;
                    }
                }
            }
        }
        .row-1 {
            .area-1 {
                .module {
                    .module-title {
                        input {
                            margin-left: 15px;
                            height: $height_base;
                        }
                    }
                    .module-body {
                        margin-top: 40px;
                        overflow: hidden;
                        @include module-body-with-radius;
                        input {
                            width: 100%;
                            height: $height_base;
                        }
                        .input-finance,
                        .input-quote {
                            width: 100%!important;
                        }
                        select {
                            height: $height_base;
                        }
                        .form-group {
                            overflow: hidden;
                        }
                    }
                }
            }
            .area-2 {
                .form-group {
                    overflow: hidden;
                    input {
                        width: 100%;
                        height: $height_base;
                    }
                    .copy-address {
                        @include kythera-small-button;
                        float: right;
                        width: 70px;
                        height: 50px;
                        padding: 5px;
                        font-weight: bold!important;
                    }
                }
                .margin-top-30 {
                    margin-top: 30px!important;
                }
            }
            .area-3 {
                .module {
                    .module-title {
                        color: #7485c1;
                    }
                    .module-body {
                        margin-top: 20px;
                        overflow: hidden;
                        .form-group {
                            overflow: hidden;
                            label {
                                padding-top: 3px;
                            }
                            input {
                                height: $height_base;
                                width: 100%;
                            }
                        }
                        .my-form-group {
                            margin-top: 50px;
                            select {
                                height: $height_base;
                            }
                        }
                        .my-form-group2 {
                            margin-top: 0;
                            input {
                                width: 12%;
                            }
                        }
                    }
                }
            }
        }
        .row-2 {
            .area-1 {
                padding: 15px 15px 0 30px;
                .module {
                    .module-title {
                        span {
                            font-weight: bold;
                            margin-left: 30px;
                        }
                        input {
                            width: 20%!important;
                            height: $height_base;
                        }
                    }
                    .module-body {
                        overflow: hidden;
                        @include module-body-with-radius;
                        margin-top: 30px;
                    }
                }
            }
            .area-2 {
                .module {
                    .module-body {
                        .form-group {
                            overflow: hidden;
                            input {
                                width: 100%;
                                height: $height_base;
                            }
                        }
                    }
                }
            }
        }
        .row-3 {
            .area-1 {
                padding-left: 70px;
                margin-top: 70px;
                .module {
                    .module-body {
                        span {
                            color: #7485c1;
                        }
                        input[type="checkbox"] {
                            margin-right: 40px;
                        }
                    }
                }
            }
            .area-2 {
                .area-table {
                    width: 100%;
                    overflow-x: hidden;
                    max-height: 98px;
                    table {
                        @include table;
                        tr {
                            th {
                                @include table-tr-th;
                                color: $color-blue-nhat;
                            }
                            td {
                                @include table-tr-td;
                                &:nth-child(2) {
                                    text-align: center;
                                }
                                &:nth-child(3) {
                                    text-align: right;
                                }
                                &:nth-child(4) {
                                    text-align: right;
                                }
                            }
                        }
                        tr.active {
                            td {
                                @include table-tr-active-td;
                            }
                        }
                    }
                }
            }
        }
        .button {
            @include kythera-large-button;
            float: left;
            font-weight: bold!important;
            text-align: center;
            white-space: normal;
        }
        .row-4 {
            .area {
                padding: 0 15px 0 30px;
                margin: 40px 0 0px;
                .add-customer,
                .view-order,
                .contact {
                    margin-right: 20px;
                }
                .export-customer,
                .new-co {
                    margin-right: 20px;
                }
                .back,
                .save,
                .cancel {
                    float: right;
                }
                .update {
                    margin-right: 20px;
                    float: right;
                }
                .save {
                    margin: 0 20px;
                }
            }
        }
        .modal-add-customer {
            .modal {
                .modal-dialog {
                    .modal-content {
                        .modal-footer {
                            text-align: center;
                            button {
                                @include kythera-large-button;
                                float: none;
                            }
                            .button-cancel {
                                margin-right: 10px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}
