.department {
    overflow: hidden;
    %image {
        width: 120px!important;
        height: 120px!important;
    }
    .page-wrapper {
        .page-content {
            .page-title {
                color: $color-blue;
                font-size: 40px;
                text-align: right;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px solid #000;
                    width: 86%;
                }
            }
            .welcome {
                font-size: 30px;
                margin: 30px 0;
            }
            .page-body {
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                    float: none;
                }
                .system-overview,
                .human-resource,
                .exit-blackbird {
                    .title {
                        font-size: $fontsize-large;
                        margin-bottom: 10px;
                    }
                }
                .human-resource,
                .exit-blackbird,
                .system-overview,
                .help {
                    .image {
                        img {
                            @extend %image;
                        }
                    }
                }
                .exit-blackbird {
                    .image {
                        img {
                            border: 1px solid #000;
                            border-radius: 5px;
                            padding: 2px;
                        }
                    }
                }
                .human-resource {
                    margin: 50px 0;
                }
                .system-help {
                    .system-overview {
                        .action {
                            text-align: right;
                        }
                    }
                    .search {
                        width: 60%;
                        margin: auto;
                        .input-search {
                            margin-top: 30px;
                            input {
                                width: 100%;
                                height: 20px;
                            }
                        }
                        .title {
                            height: 50px;
                            background: url(../images/search.jpg) no-repeat center center;
                            background-size: 50px 50px!important;
                            font-size: $fontsize-large;
                            padding-left: 60px;
                            background-position: 0;
                        }
                    }
                }
                .task-table {
                    .table-control {
                        width: initial;
                        .up-control {
                            @include kythera-up-arrow;
                        }
                        .down-control {
                            @include kythera-down-arrow;
                        }
                        span {
                            &:nth-child(2) {
                                font-size: 12px;
                                margin-left: 3px;
                            }
                        }
                    }
                    .table-content {
                        .area-table {
                            overflow-x: hidden;
                            height: 172px;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                    }
                                    td {
                                        @include table-tr-td;
                                        cursor: pointer;
                                        .hasTooltip {
                                            position: relative;
                                            span {
                                                display: none;
                                                color: #000;
                                                text-decoration: none;
                                                padding: 3px;
                                                position: absolute;
                                                background-color: #FFF;
                                                border: 1px solid #CCC;
                                                width: 150px;
                                                text-align: center;
                                                left: 54px;
                                                z-index: 2;
                                            }
                                            &:hover {
                                                text-decoration: none;
                                                span {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                                .tr-active {
                                    td {
                                        @include table-tr-active-td;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
