#engineering-template {
    .icon-remove {
        float: right;
        color: #ef5350;
        padding: 2px 2px 0 0;
        cursor: pointer;
    }
    .operation-area {
        width: 30%;
    }
    .tab-area {
        width: 70%;
    }
    .mail-to {
        @include kythera-large-button;
        padding-top: 20%;
    }
    .title-color-blue {
        color: #74a0c1;
    }
    .color-blue {
        color: $color-blue;
    }
    .space-top {
        margin-top: 20px;
    }
    .input-full {
        width: 100%;
    }
    .max-width-100 {
        max-width: 100%!important;
    }
    .width-input-number {
        max-width: 50px;
    }
    .non-overflow {
        overflow: initial!important;
    }
    .area-table {
        @include area-table;
        max-height: 265px;
        .table-operation {
            tr {
                th {
                    background: #033362;
                    color: #FFF;
                }
                td {
                    .material-icon {
                        @extend %material-icon;
                        margin: 5px 5px 5px 15px;
                        cursor: pointer;
                    }
                    .machine-icon {
                        @extend %machine-icon;
                        margin: 5px 20px;
                        cursor: pointer;
                    }
                    .subcon-icon {
                        @extend %subcon-icon;
                        cursor: pointer;
                    }
                }
                .blue-bg-black-cl {
                    background: #5b98e0;
                    color: #000;
                }
            }
        }
        .table-partTotal {
            tbody {
                tr {
                    td {
                        &:nth-child(1) {
                            width: 40%;
                        }
                        ,
                        &:nth-child(2) {
                            width: 30%;
                        }
                        ,
                        &:nth-child(3) {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
    button {
        @include kythera-large-button;
    }
    .button-view {
        button {
            height: initial;
        }
    }
    .box-sidebar {
        .color-blue {
            font-size: 25px;
            color: #00f;
            margin: 0px;
        }
        h2 {
            font-size: 20px;
            color: #3535AD;
            margin: 0px;
        }
        .button-view {
            button {
                border-radius: 3px;
                border: 2px solid yellow;
                background: none;
                font-weight: bold;
                color: #337ab7;
                padding: 5px;
            }
        }
        .area-table {
            @include area-table;
            max-height: 652px;
            .total {
                td {
                    font-weight: bold;
                }
            }
        }
        .button-end {
            button {
                @include kythera-small-button;
                margin: 10px 0px 0px 10px;
                width: 70px;
            }
        }
    }
    #box-content {
        @include tabs;
        .table-type {
            margin-bottom: 10px;
        }
        .containerr {
            overflow: hidden;
            border-top: 1px solid #99A6AF;
            border-left: 1px solid;
            border-bottom: 1px solid;
            padding: 10px 0;
            //**************** 
            // Tab Material
            //****************
            #material {
                select {
                    width: 100%;
                }
                .box {
                    width: 10.5%;
                    float: left;
                    button {
                        @include kythera-large-button;
                    }
                    input {
                        max-width: 45px;
                    }
                }
                .email-quote {
                    width: initial;
                    float: right;
                }
                .box-2 {
                    width: 25%;
                }
                .box-choose-main {
                    margin-top: 2px;
                }
                .box-content {
                    button {
                        @include kythera-large-button;
                    }
                    .area-table {
                        @include area-table;
                        max-height: 78px;
                        input {
                            width: 100%;
                        }
                        p {
                            margin: 10px 0px 0px;
                        }
                    }
                    .sidebar-right {
                        padding: 0px;
                        .button-last {
                            margin-top: 100px;
                        }
                    }
                }
                .free-issue {
                    width: 10%;
                }
                .description-size {
                    width: 20%;
                    .description {
                        padding-left: 0;
                    }
                    .spec {
                        padding: 0;
                    }
                }
                .unit {
                    width: 10%;
                    .unit-body {
                        width: 90%;
                        float: right;
                    }
                }
                .shape {
                    width: 18%;
                    padding: 0 10px;
                    .shape-body {
                        width: 70%;
                        float: right;
                    }
                }
                .part-yield {
                    width: 10%;
                    .part-body {
                        span {
                            margin-left: 2px;
                        }
                    }
                }
                .approval {
                    width: 12%;
                    padding: 0 10px;
                }
                .spu {
                    width: 8%;
                }
                .comments-notes {
                    .conformity-notes,
                    .internal-material-notes {
                        margin-top: 10px;
                    }
                    .approval-comments,
                    .po-comments {
                        p {
                            margin: 5px 0;
                        }
                        .area-table {
                            max-height: 52px;
                            overflow: auto;
                        }
                    }
                }
                .issue-instruction-standard-supplier {
                    .standard-supplier {
                        .standard-supplier-title {
                            font-size: 12px;
                        }
                    }
                }
            }
            #pering,
            #engineering {
                .area-table {
                    @include area-table;
                    max-height: 111px;
                }
                button {
                    @include kythera-large-button;
                }
                .table-operation,
                .table-program {
                    max-height: 96px;
                }
                .table-engineering {
                    max-height: 73px;
                }
            }
            //**************** 
            // Tab PE Engineering
            //**************** 
            #pering {
                .box-table {
                    border-right: 2px solid #000;
                    border-bottom: 2px solid #000;
                    padding: 0px 10px 20px 0px;
                    margin: 0 15px;
                }
                .engineering-ask {
                    padding-left: 40px;
                }
                .risk-statement {
                    textarea {
                        width: 100%;
                    }
                }
            }
            //**************** 
            // Tab Engineering
            //**************** 
            #engineering {
                .engineering-base-container {
                    .process-machine-program {
                        .border-process-machine {
                            overflow: auto;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                width: 91.66666667%;
                            }
                        }
                    }
                    select {
                        width: 100%;
                    }
                    .table-type-autoprint {
                        max-height: 124px;
                    }
                    .internal-engineering-notes,
                    .risk-statement {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .type-viewADD {
                        .area-table {
                            table {
                                tr {
                                    th {
                                        color: #003399;
                                    }
                                }
                            }
                        }
                    }
                }
                .engineering-container {
                    .box-table {
                        border-right: 2px solid #000;
                        border-bottom: 2px solid #000;
                        padding: 0px 10px 20px 0px;
                        margin: 0 15px;
                    }
                    .engineering-ask {
                        padding-left: 40px;
                    }
                    .risk-statement {
                        textarea {
                            width: 100%;
                        }
                    }
                    .engineering-complete {
                        padding-left: 30px;
                    }
                }
            }
            //**************** 
            // Tab Sub-con
            //****************
            #sub-con {
                button {
                    @include kythera-large-button;
                }
                button.small {
                    @include kythera-small-button;
                }
                input[type="text"],
                input[type="email"] {
                    width: 100%;
                }
                .table-personal {
                    width: 75%;
                }
                .mail-to {
                    padding-top: 6%;
                }
                .subcon-leadtime {
                    margin-top: 100px;
                    .space-top {
                        z-index: 0;
                    }
                    .mail-to {
                        margin-left: 10px;
                    }
                    .table-internal {
                        max-height: 100px;
                    }
                }
            }
            //**************** 
            // Tab Review
            //****************
            #review {
                .internal-qa-notes {
                    margin: 0;
                    padding: 0 0 0 42px;
                    margin-top: 20px;
                    max-height: 76px;
                }
                .list-button {
                    h2 {
                        font-size: 20px;
                    }
                    button {
                        margin: 0 auto;
                        float: none;
                        margin-top: 10px;
                        border-radius: none;
                        font-weight: bold;
                        background-image: none;
                        font-size: 20px;
                        width: 66.67%;
                        height: 56px;
                    }
                    .bg-red {
                        background-color: red !important;
                    }
                    .bg-yellow {
                        background-color: yellow !important;
                    }
                    .bg-green {
                        background-color: green !important;
                    }
                    .bg-orange {
                        background-color: orange !important;
                    }
                    .col-grey {
                        color: grey;
                    }
                    .col-light-yellow {
                        color: #ffcc0f;
                    }
                    .col-yellow {
                        color: yellow;
                    }
                    .col-white {
                        color: white;
                    }
                }
            }
            //**************** 
            // Tab Overview
            //****************
            #overview {
                overflow: auto;
                max-height: 595px;
                .overview {
                    button {
                        @include kythera-large-button;
                    }
                    .me {
                        margin-bottom: 44px;
                    }
                    .text {
                        color: #009688;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .textb {
                        font-size: 25px;
                    }
                    hr {
                        color: #009688;
                    }
                    .date {
                        margin-top: 20px;
                    }
                    .month {
                        font-size: 40px;
                        position: absolute;
                        top: 45px;
                        color: #9E9E9E;
                        z-index: 9999;
                    }
                    .day {
                        font-size: 75px;
                        position: relative;
                        margin-left: 110px;
                        color: gray;
                    }
                    .pink {
                        color: pink;
                        font-weight: 700;
                    }
                    .tit {
                        color: gray;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .box-end {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            @include kythera-large-button;
        }
    }
}
