.finance-admin {
    overflow: hidden;
    padding: 10px;
    .page-body {
        label {
            font-weight: normal;
        }
        input[type="text"] {
            width: 100%;
        }
        .page-content {
            .area-table {
                overflow-x: hidden;
                table {
                    @include table;
                    tr {
                        th {
                            @include table-tr-th;
                            height: 25px;
                        }
                        td {
                            @include table-tr-td;
                            cursor: pointer;
                            height: 27px;
                        }
                    }
                    .tr-active {
                        td {
                            @include table-tr-active-td;
                        }
                    }
                }
            }
            .table-website {
                .area-table {
                    max-height: 310px;
                }
            }
            .table-control {
                button {
                    @include kythera-small-button;
                    float: none;
                }
                .add {
                    margin-bottom: 10px;
                }
            }
            .input-width-short {
                width: 50px;
            }
            .content-right {
                text-align: right;
            }
            .vat-charge {
                margin: 60px 0;
                .vat-rate {
                    label {
                        font-weight: bold;
                    }
                }
            }
            .exchange-rates-get-rates {
                .exchange-rates {
                    padding: 0 0 10px 0;
                    border: 1px solid;
                    border-radius: 15px;
                    .exchange-title {
                        margin-bottom: 10px;
                    }
                }
                .get-rates {
                    button {
                        @include kythera-large-button;
                        font-weight: bold;
                    }
                }
            }
            .form-address-branch {
                margin-top: 20px;
                .form-address {
                    margin-top: 22px;
                    .form-element {
                        overflow: hidden;
                        .form-content {
                            .element {
                                margin-bottom: 5px;
                                label {
                                    max-width: 120px;
                                }
                            }
                            .name-group {
                                width: 30%;
                            }
                            .address3-group {
                                width: 40%
                            }
                            .address4-group {
                                width: 35%;
                            }
                        }
                        .form-button {
                            button {
                                @include kythera-small-button;
                                font-weight: bold;
                            }
                            .add,
                            .delete {
                                overflow: hidden;
                            }
                            .add {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                .branch {
                    .area-table {
                        height: 235px;
                    }
                }
            }
            .material-markup {
                margin: 105px 0 62px 0;
                text-align: center;
            }
            .user-role-back {
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                    float: none;
                }
                .back {
                    float: right;
                }
                .user-roles {
                    margin: 0px 100px 0 60px;
                }
            }
        }
    }
}
