$color-aqua: aqua;
.inspection-page {
    overflow: auto;
    padding: 10px;
    .inspection-action {
        padding: 0;
        .area-table {
            width: 80%;
            overflow-x: hidden;
            max-height: 220px;
            table {
                @include table;
                tr {
                    th {
                        @include table-tr-th;
                        color: $color-light-green;
                        font-weight: bold;
                    }
                    td {
                        @include table-tr-td;
                        cursor: pointer;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            text-align: center;
                        }
                    }
                }
                .tr-active {
                    td {
                        @include table-tr-active-td;
                        &:nth-child(1) {
                            color: $color-lime;
                        }
                    }
                }
            }
        }
        .inspection-control {
            padding-left: 0;
            margin-top: 20px;
            text-align: center;
            margin-left: 5px;
            margin-bottom: 20px;
            .department {
                border-top: 3px solid #ccc;
                width: 95%;
            }
            .control {
                .control-element {
                    padding: 0;
                    .title {
                        color: $color-aqua;
                        font-size: 20px;
                        text-align: left;
                    }
                    .icon {
                        cursor: pointer;
                    }
                }
                .begin {
                    margin-top: 25px;
                    .icon {
                        @include kythera-begin-button;
                        background-position: -25px 0;
                    }
                }
                .pause {
                    .icon {
                        @include kythera-pause-button;
                        width: 100%;
                    }
                    .title {
                        text-align: center;
                    }
                }
                .complete {
                    margin-top: 25px;
                    .icon {
                        @include kythera-stop-button;
                        width: 100%;
                    }
                    .title {
                        text-align: center;
                    }
                }
            }
        }
        .material-stock {
            padding: 0;
            .content {
                position: relative;
                border: 1px solid #555;
                border-radius: 15px;
                .title {
                    position: absolute;
                    top: -8px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                    font-size: 16px;
                    span {
                        background: #FFF;
                    }
                }
                .body {
                    // padding-top: 15px;
                    .row {
                        padding: 10px 0;
                        .approval-type {
                            padding-left: 18px;
                        }
                        .spec {
                            input {
                                width: 120px;
                                height: $heightbase-input;
                            }
                        }
                        .release-note {
                            input {
                                width: 140px;
                                height: $heightbase-input;
                            }
                        }
                        .all-ok {
                            padding-left: 18px;
                        }
                        .rejected {
                            input {
                                width: 50px;
                                height: $heightbase-input;
                            }
                        }
                        .all-rejected {
                            .module-title {
                                text-align: right;
                            }
                            input {
                                float: right;
                            }
                        }
                        .batch-no {
                            font-size: 16px;
                            padding-left: 18px;
                        }
                        .reject-reason {
                            padding: 0;
                            text-align: right;
                            select {
                                width: 150px;
                            }
                        }
                        .create-reject {
                            padding: 0 10px;
                            button {
                                @include kythera-large-button;
                                font-weight: bold;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .inspection-information {
        .row {
            margin-bottom: 20px;
        }
        [class*="col-"] {
            padding: 0 0 0 15px;
        }
        .area-table {
            width: initial;
            overflow-x: hidden;
            table {
                @include table;
                tr {
                    th {
                        @include table-tr-th;
                        color: $color-light-green;
                    }
                    td {
                        @include table-tr-td;
                        cursor: pointer;
                    }
                }
                .tr-active {
                    td {
                        @include table-tr-active-td;
                    }
                }
            }
        }
        .table-previous,
        .table-external {
            width: 98%;
            height: 76px;
        }
        .table-equipment,
        .table-operator {
            width: 41%;
            height: 52px;
        }
        .table-process {
            max-height: 76px;
            width: 65%;
        }
        .table-control {
            button {
                @include kythera-small-button;
                float: left;
                width: 70px;
                height: 50px;
                font-weight: bold;
            }
        }
        .inspection-info {
            margin-bottom: 60px;
            input {
                width: 70%;
            }
        }
        .work-order {
            .qty-inspected,
            .qty-scrapped {
                float: left;
                .title {
                    width: 70px;
                }
                input {
                    width: 50px;
                    height: $heightbase-input;
                }
            }
            .reason {
                float: left;
                padding-top: 20px;
            }
            .work-order-part {
                float: right;
                padding-top: 30px;
                .work-order-no,
                .part-no {
                    overflow: auto;
                    .title {
                        display: inline-block;
                        color: blue;
                        height: 28px;
                        line-height: 46px;
                        padding-right: 10px;
                        text-align: right;
                        width: 150px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .value {
                        display: inline-block;
                        color: blue;
                        font-size: 20px;
                    }
                }
                .part-no {
                    .title {
                        font-size: 12px;
                    }
                    .value {
                        font-size: 15px;
                    }
                }
            }
        }
        .inspection-button {
            padding-left: 35px;
            .po-qty {
                vertical-align: top;
                display: inline-block;
            }
            .input-po-qty {
                vertical-align: top;
                width: 30px;
                height: $heightbase-input;
            }
            button {
                @include kythera-large-button;
                font-weight: bold;
                float: none;
            }
            .raise-po {
                @include kythera-small-button;
                float: none;
                width: 70px;
                height: 50px;
                vertical-align: top;
                margin-right: 40px;
                margin-left: 20px;
            }
            .view-add {
                margin-right: 45px;
            }
            .back {
                float: right;
            }
        }
    }
}
