.inspection-schedule-page {
    overflow: auto;
    padding: 10px 15px 10px 5px;
    .page-body {
        height: 500px;
        .area-table {
            float: left;
            overflow-x: hidden;
            max-height: 268px;
            table {
                @include table;
                tr {
                    th {
                        @include table-tr-th;
                    }
                    td {
                        @include table-tr-td;
                        cursor: pointer;
                        a {
                            text-decoration: underline;
                            color: $color-blue;
                        }
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8),
                        &:nth-child(9),
                        &:nth-child(11) {
                            text-align: center;
                        }
                        &:nth-child(3),
                        &:nth-child(4) {
                            text-align: right;
                        }
                    }
                }
                .tr-active {
                    td {
                        @include table-tr-active-td;
                    }
                }
            }
        }
        .table-goods-in {
            max-height: 172px;
            margin-top: 20px;
        }
        .table-control {
            float: right;
            .up-control {
                @include kythera-up-arrow;
            }
            .down-control {
                @include kythera-down-arrow;
            }
            span {
                &:nth-child(2) {
                    font-size: 12px;
                    margin-left: 3px;
                }
            }
        }
    }
    .page-footer {
        button {
            @include kythera-large-button;
            font-weight: bold;
        }
        .back {
            margin-left: 20px;
        }
    }
}
