.login-page {
    width: 100%;
    height: 100%;
    background: url(../images/SplashScreen5.jpg) no-repeat center center;
    background-size: 100% 100%;
    .login-wrapper {
        width: 60%;
        padding: 80px 0 0 200px;
        .form-group {
            label {
                float: left;
                color: rgba(88, 208, 88, 0.89);
                display: inline-block;
                height: 34px;
                padding: 6px 10px 0 0;
                width: 80px;
                text-align: right;
            }
            input {
                width: 65%;
            }
            &:nth-child(1) {
                width: 40%;
            }
            &:nth-child(2) {
                width: 50%;
                float: left;
            }
            &:nth-child(3) {
                float: left;
                margin-top: -24px;
                button {
                    @include kythera-large-button;
                    font-weight: bold;
                }
            }
        }
    }
}
