$font-size-small: 12px;
$font-size-large: 16px;
%input-width-40 {
    width: 40px;
}

.machines-list-page {
    overflow: hidden;
    .border {
        border: 1px solid;
    }
    .color-select {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 120%;
            height: 120%;
            left: -5px;
            right: 0;
            bottom: 0;
            border: 1px solid green;
            margin: auto;
        }
    }
    .margin-bot-10 {
        margin-bottom: 10px;
    }
    .margin-bot-3 {
        margin-bottom: 3px;
    }
    .float-right {
        float: right!important;
    }
    .content-right {
        text-align: right;
    }
    .color-light-blue {
        color: #7485c1;
    }
    .color-box {
        float: left;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 16px;
        color: #FFF;
        font-size: $font-size-large;
        font-weight: bold;
        margin-left: 40px;
    }
    .trn {
        margin: 0;
        background: #0099ff;
    }
    .grd {
        background: #666699;
    }
    .mil {
        background: #ff9933;
    }
    .gc {
        background: #009900;
    }
    .oth,
    .active,
    .all {
        background: #0000fe;
    }
    .active {
        border: 1px solid red;
        font-weight: normal;
    }
    .page-color-top {
        overflow: hidden;
        margin: auto;
        text-align: center;
        .content {
            overflow: hidden;
            width: 60%;
            margin: auto;
            padding: 10px 0;
            .content-title,
            .content-color {
                float: left;
                margin-left: 20px;
            }
            .content-title {
                padding-top: 16px;
            }
            .content-color {
                border-bottom: 4px solid #666699;
                padding-bottom: 10px;
            }
        }
    }
    .page-body {
        overflow: hidden;
        margin-top: 20px;
        .table-content {
            .sort-control {
                .up-control {
                    @include kythera-up-arrow;
                }
                .down-control {
                    @include kythera-down-arrow;
                }
                span {
                    &:nth-child(2) {
                        font-size: $font-size-small;
                        margin-left: 3px;
                    }
                }
            }
            .area-table {
                overflow-x: hidden;
                max-height: 450px;
                table {
                    @include table;
                    tr {
                        th {
                            @include table-tr-th;
                            height: 40px;
                        }
                        td {
                            @include table-tr-td;
                            cursor: pointer;
                            height: 30px;
                        }
                    }
                    .tr-active {
                        td {
                            @include table-tr-active-td;
                            color: #f0edbc;
                        }
                    }
                }
            }
        }
        .page-content {
            label {
                font-weight: normal;
            }
            input[type="text"] {
                width: 100%;
            }
            .button-mainternance {
                .machine-action {
                    button {
                        @include kythera-small-button;
                        font-weight: bold;
                        float: none;
                        width: 100px;
                        height: 50px;
                        vertical-align: top;
                    }
                    .remove {
                        margin-right: 10px;
                    }
                }
                .maintenance {
                    padding: 0;
                    color: $color-blue;
                    padding-top: 20px;
                }
            }
            .make-coolant-type {
                .coolant-target {
                    .target {
                        .to,
                        .from {
                            width: 30px;
                        }
                    }
                }
            }
            .color-coolant-level {
                .color {
                    .color-box {
                        margin-left: 20px;
                    }
                    .trn {
                        margin: 0;
                    }
                }
            }
            .optional-fan-filter {
                .optional {
                    .optional-group {
                        border: 1px solid #555;
                        border-radius: 15px;
                        padding: 5px;
                        .offset,
                        .station,
                        .diameter,
                        .flute-length,
                        .stick-out,
                        .spindle {
                            input[type="text"] {
                                @extend %input-width-40;
                            }
                        }
                        .stick-out {
                            margin-top: 32px;
                        }
                    }
                }
            }
            .difficulty-level {
                input[type="text"] {
                    @extend %input-width-40;
                }
            }
        }
    }
    .page-button {
        button {
            @include kythera-large-button;
            font-weight: bold;
        }
        .back {
            margin-left: 20px;
        }
    }
}
