#operations-treatment-admin{
	.box{
		div{
			padding-right: 0px;
		}
	}
	.sample-box{
		width: 100%;
		overflow: auto;
	}
	input{
		max-width: 100%;
	}
	button{
		@include kythera-small-button;
		margin-bottom: 10px;
	}
	button.button-large{
		@include kythera-large-button;
	}
	.area-table{
		@include area-table; 
		max-height: 117px;
	}
	.height-big{
		max-height: 300px;
	}
	.table-control{
		margin-left: -10px;
		.up-control{
			@include kythera-up-arrow;
		}
		span {
			&:nth-child(2) {
				padding-left: 4px;
			}
		}
		.down-control{
			@include kythera-down-arrow;
		}
	}
	.back-btn {
		margin-right: 10px;
	}
}