.part-history {
    margin-top: 30px;
    .color-blue {
        color: $color-blue;
    }
    .border {
        border: 1px solid;
    }
    .font-large {
        font-size: $fontsize-large;
    }
    .font-weight {
        font-weight: bold;
    }
    .content-right {
        text-align: right;
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
    .up-control {
        @include kythera-up-arrow;
    }
    span {
        &:nth-child(2) {
            padding-left: 4px;
        }
    }
    .down-control {
        @include kythera-down-arrow;
    }
    .area-table {
        width: 100%;
        max-height: 586px;
        overflow-x: hidden;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                }
                td {
                    @include table-tr-td;
                    cursor: pointer;
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        text-align: center;
                    }
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7) {
                        text-align: right;
                    }
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                }
            }
        }
    }
    .left {
        .sort {
            margin-left: 8px;
        }
    }
    .right {
        .issue {
            width: 40px;
        }
        .algin {
            text-align: center;
        }
        .top {
            margin-top: 15px;
        }
        .bot {
            margin-bottom: 15px;
        }
    }
    button {
        @include kythera-large-button;
    }
}
