.active {
    display: block !important;
}

.production-page {
    .page-body {
        .kythera-large-button {
            @include kythera-large-button;
            font-weight: bold;
        }
        .box {
            margin-left: 0px;
            margin-right: 0px;
        }
        .box.content {
            @include tabs;
            .tab_container {
                width: 99.6%;
                margin-left: 0.4%;
                border-top: 1px solid #99A6AF;
                position: static;
                padding-top: 60px;
                .submit-button {
                    button {
                        @include button-screend-default;
                        margin-bottom: 50px;
                    }
                }
                // #material-issue {
                .tab_content {
                    .area-table {
                        width: 94%;
                        height: 280px;
                        overflow-x: hidden;
                        float: left;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: #6E7A84;
                                    font-weight: 100;
                                    font-size: 20px;
                                }
                                th.space {
                                    width: 30px;
                                }
                                td {
                                    @include table-tr-td;
                                    font-size: 17px;
                                }
                                td:first-child {
                                    width: 30px;
                                }
                                .underline {
                                    text-decoration: underline;
                                }
                                .color {
                                    color: #295884;
                                }
                                .font-big {
                                    font-size: 23px;
                                }
                            }
                            .tr-active {
                                td {
                                    @include table-tr-active-td;
                                }
                            }
                        }
                    }
                    .table-control {
                        @include scroll-button;
                        float: left;
                        width: 40px;
                        position: inherit;
                        top: auto;
                        left: auto;
                        margin-left: 10px;
                    }
                }
                .button-active {
                    margin-top: 60px;
                    .area-BPCButton {
                        width: 40%;
                        float: left;
                        min-height: 1px;
                    }
                    .allocate-area {
                        width: 60%;
                        float: left;
                    }
                    .button-begin {}
                    .button-pause {
                        margin-top: -25px;
                        position: relative;
                        select {
                            width: 100px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                        .pause-icon {
                            margin-top: 25px;
                        }
                    }
                    .button-complete {}
                    .selected {
                        padding: 0px;
                        p {
                            font-size: 17px;
                            font-weight: bold;
                            line-height: 1.2;
                        }
                        select {
                            width: 150px;
                        }
                    }
                    .late-report {
                        padding-left: 5px;
                    }
                    .view-wo {
                        padding-right: 5px;
                    }
                    .button-main {
                        text-align: center;
                        p:last-child {
                            font-size: 25px;
                            color: #A5D1DE;
                        }
                        img {
                            height: 100px;
                            width: auto;
                        }
                    }
                    .custom-width {
                        width: 30%;
                        float: left;
                        min-height: 1px;
                    }
                    .area-radio {
                        width: 9%;
                        float: left;
                        padding-top: 10px;
                        .set-radio {
                            margin-bottom: 10px;
                        }
                    }
                    .selected {
                        width: 35%;
                        padding-right: 10px;
                    }
                    .bg-img {
                        float: left;
                        a {
                            @include button-screend-default;
                            text-align: center;
                            font-size: 17px;
                            line-height: 1;
                            padding-top: 11px;
                        }
                        .line {
                            padding-top: 18px;
                        }
                        a:hover {
                            text-decoration: inherit;
                        }
                        .buttun-first {
                            a {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .back {
                        float: right;
                    }
                    .lonely {
                        margin-top: 61px;
                    }
                    .late-report {
                        margin: 61px 35px 0 20px;
                    }
                }
            }
        }
    }
}
