.remark-comment-page {
    overflow: hidden;
    padding: 10px 0;
    .content {
        margin-bottom: 60px;
        .remarks,
        .comments {
            .title-button,
            .delete {
                button {
                    @include kythera-small-button;
                    float: right;
                    font-weight: bold;
                }
            }
            .title-button {
                overflow: auto;
                margin-bottom: 10px;
                font-size: 16px;
            }
            .search {
                margin-bottom: 10px;
                input {
                    width: 100%;
                }
            }
            .area-table {
                width: 100%;
                overflow-x: hidden;
                max-height: 380px;
                margin-bottom: 20px;
                table {
                    @include table;
                    tr {
                        th {
                            @include table-tr-th;
                        }
                        td {
                            @include table-tr-td;
                            cursor: pointer;
                            &:nth-child(3) {
                                text-align: center;
                            }
                        }
                    }
                    .tr-active {
                        td {
                            @include table-tr-active-td;
                        }
                    }
                }
            }
        }
    }
    .page-footer {
        padding: 0 30px;
        button {
            @include kythera-large-button;
            font-weight: normal;
        }
    }
}
