.report-page {
    .report-header {
        width: 1366px;
        .left-header {
            .wo {
                font-weight: 700;
            }
            .number-left {
                margin-left: -27px;
                margin-top: -1px;
            }
            .number-right {
                margin-top: 17px;
                margin-left: -42px;
            }
        }
        .mid-header {
            margin-top: 14px;
            .part-no {
                margin-left: 36px;
                margin-top: -5px;
            }
            .drawing {
                margin-top: -12px;
                margin-left: 90px;
            }
            .part-issue {
                margin-top: -8px;
                margin-left: -124px;
            }
            .drawing-issue {
                margin-left: -25px;
                margin-top: -11px;
            }
        }
        .right-header {
            h3 {
                margin-top: 37px;
                margin-left: -107px;
            }
        }
    }
    .report-content {
        .header-content {
            .left {
                .top {
                    margin-left: -52px;
                    h4 {
                        color: #0091FF;
                    }
                    hr {
                        margin-left: 64px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-top: 2px solid #0091FF;
                    }
                }
                .bottom {
                    .img {
                        width: auto;
                        height: auto;
                        margin-left: -51px;
                    }
                    .Material {
                        margin-top: -1px;
                        margin-left: -23px;
                    }
                    .grbno {
                        margin-left: -27px;
                        margin-top: -1px;
                    }
                    .grbno-text {
                        margin-left: -29px;
                        margin-top: -2px;
                        width: 14%;
                    }
                    .irnno-text {
                        margin-left: -34px;
                        margin-top: -2px;
                    }
                    .notes {
                        width: 27%;
                        margin-left: 2px;
                        margin-top: 1px;
                    }
                }
            }
            .right {
                margin-top: 2px;
                margin-left: 90px;
                .top {
                    h4 {
                        color: #0091FF;
                    }
                    hr {
                        margin-left: 9px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-top: 2px solid #0091FF;
                    }
                }
                .bottom {
                    .img {
                        width: auto;
                        height: auto;
                        margin-top: -11px;
                    }
                    .Material {
                        margin-left: -24px;
                        margin-top: -11px;
                    }
                    .bla {
                        margin-top: 10px;
                        margin-left: -122px;
                        float: left;
                    }
                }
            }
            .bottom {
                margin-left: -27px;
                .top {
                    margin-left: 155px;
                    margin-top: -63px;
                    h6 {
                        font-weight: 600;
                        color: #FF0072;
                    }
                }
                .mid {
                    margin-top: -57px;
                    margin-left: 155px;
                    .hr {
                        margin-left: 9px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-top: 2px solid #FF0072;
                    }
                }
                .bottom {
                    margin-left: 131px;
                    margin-top: -38px;
                    .Diameter {
                        margin-left: -62px;
                    }
                    .Litres {
                        margin-left: 3px;
                    }
                    .size {
                        margin-left: 7px;
                    }
                    .ios {
                        margin-left: 5px;
                    }
                }
                .span {
                    font-size: 73px;
                    position: absolute;
                    float: left;
                    margin-top: -28px;
                    color: rgba(128, 128, 128, 0.27);
                    ;
                }
                .th7 {
                    color: gray;
                    float: left;
                    margin-left: -50px;
                    margin-top: 31px;
                    position: relative;
                }
                .logo {
                    margin-left: 29px;
                }
            }
        }
    }
    .mid-content {
        .left {
            .top {
                .set {
                    margin-left: 500px;
                }
                .t-set {
                    color: gray;
                    width: 45px;
                    float: left;
                    color: gray;
                }
                .run {
                    float: left;
                    width: 45px;
                    color: gray;
                }
                .iss {
                    color: gray;
                    width: 45px;
                }
                .hr {
                    margin-left: 13px;
                    width: 642px;
                    margin-top: 5px;
                    border-top: 2px solid #0091FF;
                }
            }
            .bottom {
                .img {
                    width: auto;
                    height: auto;
                    margin-top: -3px;
                    margin-left: -74px;
                }
                .Material {
                    margin-left: -23px;
                    margin-top: -5px;
                }
                .Mazak {
                    margin-left: -35px;
                }
                .prog {
                    font-weight: 700;
                    width: 100px;
                    margin-top: -2px;
                }
                .hr {
                    margin-top: -7px;
                }
                .dia {
                    font-size: 10px;
                    width: 300px;
                    margin-left: 26px;
                    margin-top: -8px;
                }
                .text {
                    margin-left: -34px;
                    margin-top: -25px;
                    .hold {
                        margin-top: 13px;
                        font-size: 12px;
                        font-weight: 700;
                    }
                    .leave {
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
                .number {
                    font-weight: 200;
                    margin-left: -66px;
                    margin-top: -13px;
                    p {
                        font-weight: 300;
                    }
                }
                .span {
                    float: left;
                    font-size: 73px;
                    position: relative;
                    margin-left: -12px;
                    margin-top: -36px;
                    color: rgba(128, 128, 128, 0.27);
                }
                .th10 {
                    color: gray;
                    float: left;
                    position: absolute;
                    margin-left: -68px;
                }
                .tooling {
                    margin-top: -35px;
                    margin-left: 38px;
                    color: rgba(128, 128, 128, 0.27);
                    h4 {
                        font-weight: 700;
                    }
                }
                .two-table {
                    .grb {
                        tr {
                            th {
                                font-size: 10px;
                            }
                            td {
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                    }
                    .fixture {
                        margin-left: 176%;
                        margin-top: -115px;
                        tr {
                            th {
                                font-size: 10px;
                            }
                            td {
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .right {
            margin-top: -14px;
            .top {
                .top-right {
                    margin-left: -173px;
                    margin-top: 14px;
                    .hr {
                        width: 354px;
                        margin-left: 178px;
                        margin-top: 5px;
                        border-top: 2px solid #0091FF;
                    }
                    .ins {
                        width: 45px;
                        float: left;
                        text-align: center;
                        color: gray;
                    }
                    .s {
                        margin-left: 8px;
                        color: gray;
                        width: 45px;
                        text-align: center;
                    }
                    .equal {
                        width: 45px;
                        color: gray;
                        margin-left: 18px;
                        text-align: center;
                    }
                }
            }
            .bottom {
                .img {
                    width: auto;
                    height: auto;
                    margin-left: 13px;
                    margin-top: -12px;
                }
            }
        }
    }
    .footer-content {
        .left {
            .top {
                .set {
                    margin-left: 503px;
                }
                .t-set {
                    width: 45px;
                    text-align: center;
                    color: gray;
                }
                .run {
                    width: 45px;
                    text-align: center;
                    color: gray;
                }
                .made {
                    width: 45px;
                    text-align: center;
                    color: gray;
                }
                .hr {
                    border-top: 2px solid #0091FF;
                    margin-top: 8px;
                    width: 92%;
                }
            }
            .bottom {
                .img {
                    width: auto;
                    height: auto;
                    margin-left: -73px;
                }
                .Material {
                    margin-left: -20px;
                    margin-top: -5px;
                }
                .note {
                    margin-left: 452px;
                    margin-top: -12px;
                }
                .number {
                    .span {
                        color: rgba(128, 128, 128, 0.27);
                        font-size: 73px;
                        position: relative;
                    }
                    .th21 {
                        color: gray;
                        position: absolute;
                        margin-top: -49px;
                        margin-left: -58px;
                    }
                }
                .cer {
                    margin-left: 70px;
                    margin-top: -43px;
                }
            }
        }
        .right {
            margin-top: -14px;
            .top {
                .top-right {
                    margin-top: 13px;
                    .set {
                        margin-left: 24px;
                    }
                    .ins {
                        float: left;
                        width: 45px;
                        color: gray;
                        text-align: center;
                    }
                    .s {
                        float: left;
                        width: 45px;
                        margin-left: 22px;
                        color: gray;
                        text-align: center;
                    }
                    .equal {
                        width: 45px;
                        float: left;
                        margin-left: 46px;
                        color: gray;
                        text-align: center;
                    }
                    .hr {
                        margin-left: 18px;
                        margin-top: 8px;
                        border-top: 2px solid #0091FF;
                        width: 102%;
                    }
                }
            }
            .bottom {
                .img {
                    width: auto;
                    height: auto;
                    margin-left: 20px;
                    margin-top: -9px;
                }
            }
        }
    }
    .report-footer {
        .header-footer {
            .left {
                .top {
                    .one {
                        width: 45px;
                        float: right;
                        text-align: center;
                    }
                    .two {
                        width: 45px;
                        float: right;
                        text-align: center;
                        margin-right: 22px;
                    }
                    .three {
                        width: 45px;
                        float: right;
                        margin-right: 22px;
                        text-align: center;
                    }
                    .hr {
                        border-top: 2px solid #0091FF;
                        width: 97%;
                    }
                }
                .bottom {
                    .img {
                        height: auto;
                        width: auto;
                        margin-left: -66px;
                    }
                    .Material {
                        margin-left: -21px;
                        margin-top: -6px;
                    }
                    .irnno-text {
                        margin-top: -3px;
                        margin-left: -39px;
                    }
                    .top {
                        margin-left: 190px;
                        h6 {
                            color: #FF0072;
                        }
                    }
                    .hr {
                        width: 65%;
                        margin-left: 165px;
                        margin-top: 0;
                        border-top: 2px solid #FF0072;
                    }
                    .in {
                        float: right;
                        .set {
                            float: right;
                            width: 45px;
                            text-align: center;
                            color: gray;
                        }
                        .run {
                            margin-right: 7px;
                            width: 45px;
                            float: right;
                            text-align: center;
                            color: gray;
                        }
                        .iss {
                            color: gray;
                            margin-right: 13px;
                            width: 45px;
                            float: right;
                            text-align: center;
                        }
                    }
                    .ky {
                        text-align: right;
                        margin-top: 9px;
                        margin-left: 34px;
                    }
                }
            }
            .right {
                margin-left: 58px;
                .top {
                    .top-right {
                        .ins {
                            float: left;
                            width: 45px;
                            margin-left: -139px;
                            text-align: center;
                        }
                        .s {
                            text-align: center;
                            float: left;
                            margin-left: -112px;
                            width: 45px;
                        }
                        .equal {
                            text-align: center;
                            width: 45px;
                            float: left;
                            margin-left: -92px;
                        }
                        .hr {
                            border-top: 2px solid #0091FF;
                            width: 91%;
                        }
                    }
                }
                .bottom {
                    .img {
                        width: auto;
                        height: auto;
                    }
                    .hr {
                        border-top: 2px solid #0091FF;
                    }
                }
                .in {
                    margin-top: 55px;
                    .ins {
                        width: 45px;
                        color: gray;
                        float: left;
                        text-align: center;
                    }
                    .s {
                        width: 45px;
                        float: left;
                        margin-left: 10px;
                        color: gray;
                        text-align: center;
                    }
                    .equal {
                        margin-left: 9px;
                        width: 45px;
                        float: left;
                        text-align: center;
                        color: gray;
                    }
                }
                .hr {
                    margin-left: 178px;
                    margin-top: 0;
                    width: 48%;
                }
            }
        }
    }
}
