.supplier-performance {
    .up-control {
        @include kythera-up-arrow;
    }
    .down-control {
        @include kythera-down-arrow;
    }
    .up-control,
    .down-control {
        float: right;
        display: block;
        width: 100%;
    }
    .bg-green-cl-black {
        background: #00cc33!important;
        color: #000!important;
    }
    .bg-darkgreen-cl-white {
        background: #006600!important;
        color: #FFF!important;
    }
    .bg-red-cl-white {
        background: red!important;
        color: #FFF!important;
    }
    .bg-yellow-cl-black {
        background: #ffcc00!important;
        color: #000!important;
    }
    .bg-orange-cl-black {
        background: #ff9933!important;
        color: #000!important;
    }
    .bg-lightgreen-cl-black {
        background: #ccff99!important;
        color: #000!important;
    }
    .bg-pink-cl-black {
        background: #ff9999!important;
        color: #000!important;
    }
    .bg-blue-cl-black {
        background: blue!important;
        color: #000!important;
    }
    .bg-violet-cl-black {
        background: #9999ff!important;
        color: #000!important;
    }
    .area-table {
        margin-bottom: 20px;
        max-height: 383px;
        overflow-x: hidden;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                }
                td {
                    @include table-tr-td;
                    cursor: pointer;
                    text-align: right;
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                }
            }
        }
    }
    .header {
        margin-left: 24%;
        margin-top: 2%;
        .display {
            float: left;
            font-size: 16px;
            margin-top: 14px;
            font-weight: 700;
        }
        .header-box {
            float: left;
            height: 49px;
            width: 90px;
            text-align: center;
            padding-top: 10px;
            font-weight: 600;
            margin-left: 22px;
            border: 1px solid transparent;
        }
        .Material {
            background: blue;
            margin-left: 77px;
            font-size: 20px;
            color: white;
        }
        .Treatment {
            background: rgba(0, 0, 255, 0.33);
            font-size: 17px;
            color: white;
        }
        .Misc {
            background: #ffcc99;
            font-size: 20px;
            color: #000;
        }
        .Vendor {
            background: #3c763d;
            color: white;
            font-size: 16px;
            padding-top: 12px;
        }
        .All {
            background: #6666cc;
            font-size: 20px;
            color: white;
        }
        .active {
            border: 1px solid red;
        }
    }
    .content {
        margin-top: 20px;
        .img {
            width: auto;
            height: auto;
        }
        .up {
            margin-top: 19px;
        }
        .dow {
            margin-left: -68px;
            margin-top: 4%;
        }
        .tb {
            table {
                border: 1px solid #ddd;
                font-size: 12px;
                width: 10px;
                text-align: center;
            }
        }
        .company-wide {
            p {
                color: blue;
                font-weight: 700;
                font-size: 16px;
            }
            .pers {
                background: blue;
                color: white;
                font-size: 30px;
                text-align: right;
            }
        }
        .back {
            @include kythera-large-button;
            font-weight: bold;
        }
    }
    .performance {
        .area-table {
            max-height: 160px;
            table {
                tr {
                    th {
                        &:nth-child(1) {
                            color: #ce9d3b;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        &:nth-child(4) {
                            color: #ce9d3b;
                        }
                    }
                }
            }
        }
    }
}
