.supply-chain-page {
    overflow: hidden;
    padding: 5px;
    %addtional-button {
        width: 70px!important;
        height: 50px!important;
    }
    .page-body {
        .content-right {
            text-align: right;
        }
        label {
            font-weight: normal;
        }
        input[type="text"],
        input[type="email"] {
            width: 100%;
        }
        .supply-chain-info {
            overflow: hidden;
            .select-supplier {
                margin-bottom: 50px;
                .select-supplier-group {
                    input {
                        width: 80%;
                    }
                }
            }
            .payment-terms-group {
                select {
                    width: 100%;
                }
            }
            .supplier-type {
                .title {
                    margin-bottom: 10px;
                }
                .supplier-type-group {
                    border: 1px solid;
                    border-radius: 15px;
                }
            }
            .minimum-order {
                margin: 50px 0;
            }
            .payment-terms {
                margin-bottom: 50px;
            }
            .account {
                margin-top: 30px;
            }
            .element {
                .title {
                    padding: 0;
                    width: 90px;
                }
                .element-group {
                    margin-bottom: 10px;
                }
                .element-button {
                    button {
                        @include kythera-small-button;
                        font-weight: bold;
                        @extend %addtional-button;
                    }
                }
            }
            .post-code {
                margin-bottom: 20px;
            }
            .iso-table,
            .nadcap-table {
                margin-top: 60px;
                .area-table {
                    width: 100%;
                    overflow-x: hidden;
                    height: 160px;
                    table {
                        @include table;
                        tr {
                            th {
                                @include table-tr-th;
                                height: 30px;
                            }
                            td {
                                @include table-tr-td;
                                cursor: pointer;
                                text-align: center;
                                height: 30px;
                                input {
                                    width: 100%;
                                },
                                select {
                                    width: 100%;
                                }
                            }
                        }
                        .tr-active {
                            td {
                                @include table-tr-active-td;
                            }
                        }
                    }
                }
            }
            .contact {
                margin-top: 10px;
                .contact-group {
                    button {
                        @include kythera-large-button;
                        font-weight: bold;
                    }
                }
            }
        }
        .supply-chain-action {
            overflow: hidden;
            .drop-supplier {
                button {
                    @include kythera-rectangle-button;
                    width: 100%;
                    height: 120px;
                    font-size: 20px;
                    padding: 0;
                }
            }
            .view-completed {
                .view-sq {
                    @include kythera-small-button;
                    float: none;
                    font-weight: bold;
                    @extend %addtional-button;
                }
                .completed {
                    margin-top: 20px;
                }
            }
            .new-supplier,
            .order-history,
            .performance,
            .back, .update {
                @include kythera-large-button;
                font-weight: bold;
                margin-top: 60px;
            }
            .update {
                margin-right: 20px;
            }
            .order-history {
                margin: 60px 10px 0 10px;
            }
        }
    }
}
