.supply-contact-page {
    .bold {
        font-weight: bold;
    }
    .border {
        border: 1px solid #000;
    }
    .color-title {
        color: $color-title;
    }
    .content-right {
        text-align: right;
    }
    .contact-header {
        .contact-id {
            margin: 0!important;
            span {
                margin-right: 50px;
            }
        }
        .contact-element {
            .company,
            .alias {
                span {
                    &:nth-child(1) {
                        display: inline-block;
                        width: 80px;
                    }
                }
            }
        }
        .contact-company {
            margin: 10px 0;
            .phone {
                .key {
                    display: inline-block;
                    width: 20%;
                }
                .value {
                    border: 1px solid #ccc;
                    padding-right: 15px;
                }
            }
        }
        .contact-alias {
            .facsimile {
                .key {
                    display: inline-block;
                    width: 20%;
                }
                .value {
                    border: 1px solid #ccc;
                    padding-right: 15px;
                }
            }
        }
    }
    .page-body {
        overflow: hidden;
        margin-top: 40px;
        .area-table {
            table {
                @include table;
                tr {
                    th {
                        @include table-tr-th;
                        color: $color-blue-nhat;
                        &:nth-child(1) {
                            text-align: left;
                        }
                    }
                    td {
                        @include table-tr-td;
                        padding: 3px 0;
                        &:nth-child(2) {
                            text-align: center;
                        }
                        &:nth-child(3) {
                            text-align: center;
                        }
                        input[type="text"] {
                            width: 80%;
                            height: 20px;
                        }
                    }
                }
                .tr-active {
                    td {
                        @include table-tr-active-td;
                    }
                }
            }
        }
        .area-button {
            button {
                @include kythera-small-button;
            }
        }
        .module-1 {
            padding-top: 50px;
            .module-title {
                color: $color-title;
            }
            .module-body {
                padding-left: 30px;
            }
            .module-hour {
                margin-bottom: 50px;
                .area-opening-hour {
                    position: relative;
                    .area-button {
                        position: absolute;
                        right: 0;
                        height: 100%;
                        button {
                            bottom: 0;
                            position: absolute;
                        }
                    }
                }
            }
            .module-additional {
                .module-body {
                    width: 100%;
                    overflow: hidden;
                    form {
                        .area-table {
                            width: 70%;
                            float: left;
                            margin-right: 10px;
                            max-height: 116px;
                            overflow-x: hidden;
                            table {
                                @include table;
                                tr {
                                    th {
                                        @include table-tr-th;
                                        color: $color-blue-nhat;
                                        &:nth-child(1) {
                                            width: 40%;
                                            text-align: left;
                                        }
                                    }
                                    td {
                                        @include table-tr-td;
                                        padding: 3px 0;
                                        &:nth-child(2) {
                                            text-align: center;
                                        }
                                        &:nth-child(3) {
                                            text-align: center;
                                        }
                                        input[type="text"] {
                                            width: 60%;
                                            height: 20px;
                                        }
                                        select {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .area-button {
                            width: 10%;
                            float: left;
                            button {
                                @include kythera-small-button;
                                float: left;
                                font-weight: bold;
                                margin-top: 5px;
                            }
                            .remove-additional {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .module-personnel {
            padding-top: 25px;
            .area-table {
                input[type="text"],
                input[type="email"] {
                    width: 50%;
                }
                td {
                    text-align: right!important;
                }
            }
        }
        .module-2 {
            padding-left: 60px;
            .module-contact {
                > span {
                    color: $color-title;
                    font-weight: 700;
                    border: 1px solid #000;
                    padding-right: 20px;
                }
                .module-body {
                    float: left;
                    .module-title {
                        text-align: right;
                        font-size: 12px;
                    }
                    .area-table {
                        float: left;
                        max-height: 156px;
                        overflow-x: hidden;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                    &:nth-child(1) {
                                        width: 20%;
                                        text-align: left;
                                    }
                                    &:nth-child(2) {
                                        text-align: center;
                                        width: 20%;
                                    }
                                    &:nth-child(3) {
                                        text-align: center;
                                        width: 55%;
                                    }
                                    &:nth-child(4) {
                                        text-align: center;
                                        width: 5%;
                                    }
                                }
                                td {
                                    @include table-tr-td;
                                    padding: 5px 0;
                                    &:nth-child(4),
                                    &:nth-child(5),
                                    &:nth-child(6) {
                                        text-align: center;
                                    }
                                    input[type="text"],
                                    input[type="email"] {
                                        width: 100%;
                                        height: 20px;
                                    }
                                    select {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    @include kythera-small-button;
                    float: left;
                    width: 70px;
                    height: 50px;
                    font-weight: bold;
                }
                .remove-contact {
                    margin-bottom: 20px;
                }
            }
            .module-freeform {
                margin-top: 115px;
                > span {
                    color: $color-title;
                }
                .module-body {
                    .area-button {
                        width: 10%;
                        float: left;
                        button {
                            @include kythera-small-button;
                            font-weight: bold;
                            float: left;
                        }
                        .remove-freeform {
                            margin-bottom: 10px;
                        }
                    }
                    .area-table {
                        width: 90%;
                        float: left;
                        max-height: 150px;
                        overflow-x: hidden;
                        table {
                            @include table;
                            tr {
                                th {
                                    @include table-tr-th;
                                    color: $color-blue-nhat;
                                }
                                td {
                                    @include table-tr-td;
                                    input[type="text"] {
                                        width: 100%;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-footer {
        overflow: hidden;
        padding: 10px 0;
        button {
            @include kythera-large-button;
            float: right;
            font-weight: bold;
        }
    }
}
