.treatment-admin {
    width: 1366px;
    height: 768px;
    p {
        font-size: 16px;
    }
    .header {
        margin-top: 3%;
        .left {
            .text {
                float: left;
                .add {
                    margin-bottom: 8%;
                    margin-top: 8%;
                    @include kythera-small-button;
                    float: left;
                }
                .de {
                    width: 99%;
                    clear: both;
                }
                .del {
                    @include kythera-small-button;
                    float: left;
                }
            }
            .sl {
                float: left;
            }
            .im {
                .up {
                    margin-top: -15px;
                    width: auto;
                    height: auto;
                }
                p {
                    float: left;
                    margin-left: 18px;
                    margin-top: -4px;
                }
                .dow {
                    margin-top: -8px;
                    width: auto;
                    height: auto;
                }
            }
        }
        .mid {
            .text {
                float: left;
                .add {
                    margin-bottom: 8%;
                    margin-top: 8%;
                    @include kythera-small-button;
                    float: left;
                }
                .de {
                    width: 99%;
                    clear: both;
                }
                .del {
                    @include kythera-small-button;
                    float: left;
                    text-align: center;
                }
            }
            .sl {
                float: left;
            }
            .im {
                .up {
                    margin-top: -15px;
                    width: auto;
                    height: auto;
                }
                p {
                    float: left;
                    margin-left: 18px;
                    margin-top: -4px;
                }
                .dow {
                    margin-top: -8px;
                    width: auto;
                    height: auto;
                }
            }
        }
        .right {
            .top {
                height: 326px;
                .text {
                    float: left;
                    .add {
                        margin-bottom: 8%;
                        margin-top: 8%;
                        @include kythera-small-button;
                        float: left;
                    }
                    .de {
                        width: 99%;
                        clear: both;
                    }
                    .del {
                        @include kythera-small-button;
                        float: left;
                    }
                }
                .sl {
                    float: left;
                }
                .im {
                    .up {
                        margin-top: -15px;
                        width: auto;
                        height: auto;
                    }
                    p {
                        float: left;
                        margin-left: 18px;
                        margin-top: -4px;
                    }
                    .dow {
                        margin-top: -8px;
                        width: auto;
                        height: auto;
                    }
                }
            }
            .bottom {
                .text {
                    float: left;
                    .add {
                        margin-bottom: 8%;
                        margin-top: 8%;
                        @include kythera-small-button;
                        float: left;
                    }
                    .de {
                        width: 98%;
                        clear: both;
                    }
                    .del {
                        @include kythera-small-button;
                        float: left;
                    }
                }
                .sl {
                    float: left;
                }
                .im {
                    .up {
                        margin-top: -15px;
                        width: auto;
                        height: auto;
                    }
                    p {
                        float: left;
                        margin-left: 18px;
                        margin-top: -4px;
                    }
                    .dow {
                        margin-top: -8px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
    .content {
        margin-top: -14%;
        .left {
            .tb {
                width: 87%;
            }
        }
        .mid {
            .text {
                float: left;
                .add {
                    margin-bottom: 8%;
                    margin-top: 8%;
                    @include kythera-small-button;
                    float: left;
                }
                .de {
                    width: 98%;
                    clear: both;
                }
                .del {
                    @include kythera-small-button;
                    float: left;
                }
            }
            .sl {
                float: left;
            }
            .im {
                .up {
                    margin-top: -15px;
                    width: auto;
                    height: auto;
                }
                p {
                    float: left;
                    margin-left: 18px;
                    margin-top: -4px;
                }
                .dow {
                    margin-top: -8px;
                    width: auto;
                    height: auto;
                }
            }
        }
        .right {
            .back {
                @include kythera-large-button;
                float: right;
                margin-top: 58%;
                margin-right: 19%;
            }
        }
    }
}
