#wo-detail {
    .button,
    button {
        @include kythera-large-button;
        font-weight: bold;
        float: none;
    }
    .view-drawing {
        button {
            @include kythera-small-button;
            width: 70px;
            height: 50px;
        }
    }
    .no-margin {
        margin: 0;
    }
    .title {
        font-size: 18px;
    }
    .color-blue {
        color: #00f;
    }
    .content-right {
        text-align: right;
    }
    .area-table {
        max-height: 360px;
        overflow-x: hidden;
        float: left;
        table {
            @include table;
            tr {
                th {
                    @include table-tr-th;
                }
                td {
                    @include table-tr-td;
                }
            }
            .tr-active {
                td {
                    @include table-tr-active-td;
                }
            }
        }
    }
    .operation-table {
        clear: both;
    }
    .fo-notes-table,
    .deliveries-table,
    .operator-table {
        max-height: 80px;
    }
    .process-notes-table {
        max-height: 106px;
    }
    .machine {
        padding-top: 30px;
        clear: both;
        .left {
            .blue {
                color: #00f;
            }
            .zen {
                color: #828DFB;
            }
        }
        .right {
            text-align: center;
            table {
                border: 1px solid;
                border-color: #ccc #555 #555 #ccc;
                border-collapse: initial;
                border-spacing: 2px;
                width: 100%;
                tr {
                    td {
                        border: 1px solid;
                        border-color: #555 #ccc #ccc #555;
                        height: 22px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .work-order {
        .swap-repeat {
            .swap,
            .repeat {
                button {
                    @include kythera-small-button;
                    width: 70px;
                    float: left;
                }
            }
            .swap {
                margin-bottom: 10px;
                button {
                    height: 50px;
                }
            }
        }
        .processes {
            padding-right: 120px;
            table {
                text-align: center;
                border: 1px solid;
                border-color: #ccc #555 #555 #ccc;
                border-collapse: initial;
                border-spacing: 2px;
                width: 100%;
                tr {
                    td {
                        border: 1px solid;
                        border-color: #555 #ccc #ccc #555;
                        height: 22px;
                        cursor: pointer;
                    }
                    .title {
                        color: #0C0663;
                    }
                }
            }
        }
        .ft {
            padding-top: 30px;
            .zen-left {
                color: #4040d8;
                font-size: 40px;
                span {
                    font-size: 11px;
                }
            }
            .zen-center {
                padding-top: 17px;
                p {
                    text-align: center;
                    span {
                        background-color: #0000ff;
                        padding: 10px;
                        color: white;
                    }
                }
            }
            .zen-right {
                padding-top: 14px;
                padding-left: 0px;
                padding-right: 0px;
                overflow: auto;
                table {
                    width: 100%;
                    text-align: center;
                    border: 1px solid;
                    border-color: #ccc #555 #555 #ccc;
                    border-collapse: initial;
                    border-spacing: 2px;
                    tr {
                        td {
                            border: 1px solid;
                            border-color: #555 #ccc #ccc #555;
                            height: 22px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .operator {
        text-align: center;
        padding-top: 30px;
        .zen-left {
            padding-left: 45px;
            table {
                text-align: center;
                border: 1px solid;
                border-color: #ccc #555 #555 #ccc;
                border-collapse: initial;
                border-spacing: 2px;
                width: 100%;
                text-align: center;
                overflow: auto;
                tr {
                    td {
                        border: 1px solid;
                        border-color: #555 #ccc #ccc #555;
                        height: 22px;
                        cursor: pointer;
                    }
                    .title {
                        color: #2CADF4;
                    }
                }
            }
        }
        .zen-right {
            .view-orig {
                background: url(../images/buttonSml.jpg) center center no-repeat;
                width: 93px;
                height: 60px;
                color: #FFF;
                border: 0;
            }
            .back {
                background: url(../images/buttonSml.jpg) center center no-repeat;
                width: 93px;
                height: 60px;
                color: #FFF;
                border: 0;
                float: right;
            }
        }
    }
}
