<div class="inspection-schedule-page">
    <div class="page-body">
        <div class="title-global-page">Inspection Schedule</div>
        <div class="row">
            <div class="area-table table-inspection col-xs-11">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="float_inspection" load-item="InspectionSchedule">
                    <thead>
                        <tr>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[0], 'selected'); changeSortBy(sortTable[0])" ng-class="{'th-active': sortTable[0].selected}">WO No.</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[1], 'selected'); changeSortBy(sortTable[1])" ng-class="{'th-active': sortTable[1].selected}">CO No.</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[2], 'selected'); changeSortBy(sortTable[2])" ng-class="{'th-active': sortTable[2].selected}">Part Number</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[3], 'selected'); changeSortBy(sortTable[3])" ng-class="{'th-active': sortTable[3].selected}">Qty</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[4], 'selected'); changeSortBy(sortTable[4])" ng-class="{'th-active': sortTable[4].selected}">Operation</th>
                            <th colspan="4">Dates</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[9], 'selected'); changeSortBy(sortTable[9])" ng-class="{'th-active': sortTable[9].selected}">2nd Resource</th>
                            <th rowspan="2" ng-click="selectOneItem(sortTable, sortTable[10], 'selected'); changeSortBy(sortTable[10])" ng-class="{'th-active': sortTable[10].selected}">Insp. Type</th>
                        </tr>
                        <tr>
                            <th ng-click="selectOneItem(sortTable, sortTable[5], 'selected'); changeSortBy(sortTable[5])" ng-class="{'th-active': sortTable[5].selected}">DD Start</th>
                            <th ng-click="selectOneItem(sortTable, sortTable[6], 'selected'); changeSortBy(sortTable[6])" ng-class="{'th-active': sortTable[6].selected}">&nbsp;&nbsp;&nbsp;Start</th>
                            <th ng-click="selectOneItem(sortTable, sortTable[7], 'selected'); changeSortBy(sortTable[7])" ng-class="{'th-active': sortTable[7].selected}">&nbsp;&nbsp;&nbsp;Finish</th>
                            <th ng-click="selectOneItem(sortTable, sortTable[8], 'selected'); changeSortBy(sortTable[8])" ng-class="{'th-active': sortTable[8].selected}">DD Finish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in InspectionSchedule | orderBy : sortBy : reverse" ng-click="selectOneItem(InspectionSchedule, item)" ng-class="{'tr-active': item.selected}">
                            <td>
                                <a href="javascript:;" ng-click="redirectWorkOrder(item.WorkOrderID)" ng-bind="item.WorkOrderID"></a>
                            </td>
                            <td>
                                <a href="javascript:;" ng-click="redirectCustomerOrder(item.OrderID)" ng-bind="item.OrderID"></a>
                            </td>
                            <td>
                                <a href="javascript:;" ng-click="redirectPartTemplate(item.PartTemplateID)" ng-bind="item.PartNumber"></a>
                            </td>
                            <td ng-bind="item.Qty"></td>
                            <td ng-bind="item.Operation"></td>
                            <td ng-bind="item.DDStartDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.StartDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.FinishDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.DDFinishDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.Resource"></td>
                            <td ng-bind="item.InspectionType"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-control col-xs-1">
                <span class="up-control" ng-click="reverse = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverse = true"></span>
            </div>
        </div>
        <div class="row">
            <div class="area-table table-goods-in col-xs-2">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_grb">
                    <thead>
                        <tr>
                            <th>GRB No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in GoodsInList" ng-click="selectOneItem(GoodsInList, item, 'selected')" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.GRBID"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <button class="back" type="button" ng-click="redirectBack()">Back</button>
        <button class="inspect" ng-click="redirectInspect(InspectionSchedule, GoodsInList)">Inspect</button>
    </div>
</div>
