<div class="customer-page">
    <div class="page-body">
        <div class="title-global-page">Customer Center</div>
        <form ng-submit="CustomerForm.$valid && saveCustomer(CustomerInfo, PaymentTerm, PaymentRunFrequency, fkApprovalID)" name="CustomerForm" novalidate>
            <div class="row row-1">
                <div class="area area-1 col-xs-3">
                    <div class="module">
                        <div class="module-title">
                            <label>Please select a Customer:</label>
                            <typeahead source="CustomerList" key="Alias" select-callback="UserSelected"></typeahead>
                        </div>
                        <div class="module-body">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">
                                    Finance Code
                                </label>
                                <div class="col-xs-6">
                                    <input type="text" ng-model="CustomerInfo.FinanceCode" name="finance" class="input-finance" required maxlength="3" ng-disabled="!CustomerInfo">
                                </div>
                                <div class="error col-xs-12">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.finance.$error.required">Please insert finance code</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">Credit limit</label>
                                <div class="col-xs-6">
                                    <span class="currency-symbol currency-symbol-irish left">
                                        <input type="text" currency-input ng-model="CustomerInfo.CreditLimit" class="input-credit" maxlength="7" required name="CreditLimit" ng-disabled="!CustomerInfo">
                                    </span>
                                </div>
                                <div class="error col-xs-12">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.CreditLimit.$error.required">Please insert credit limit</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label no-padding-right">Quote markup %</label>
                                <div class="col-xs-6">
                                    <span class="percent-symbol right">
                                    <input type="text" ng-model="CustomerInfo.MarkUpQuote" class="input-quote" name="MarkUpQuote" required ng-pattern="/^\d+$/" ng-disabled="!CustomerInfo" maxlength="3">
                                </span>
                                </div>
                                <div class="error col-xs-12">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.MarkUpQuote.$error.required">Please insert quote markup</span>
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.MarkUpQuote.$error.pattern">Please insert number</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">Payment terms</label>
                                <div class="col-xs-6">
                                    <select required ng-model="PaymentTerm" name="PaymentTerm" ng-disabled="!CustomerInfo" ng-options="PaymentTerm as PaymentTerm.name for PaymentTerm in ListPaymentTerms" ng-change="CustomerInfo.setPaymentTerms(PaymentTerm.value)"></select>
                                </div>
                                <div class="error col-xs-12">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.PaymentTerm.$error.required">Please select payment terms</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">Payment run frequency</label>
                                <div class="col-xs-6">
                                    <select ng-model="PaymentRunFrequency" name="PaymentRunFrequency" ng-disabled="!CustomerInfo" ng-options="PaymentRunFrequency as PaymentRunFrequency.name for PaymentRunFrequency in ListPaymentRunFrequency" ng-model="PaymentRunFrequency" ng-change="CustomerInfo.setPaymentRunFrequency(PaymentRunFrequency.value)" required></select>
                                </div>
                                <div class="error col-xs-12">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.PaymentRunFrequency.$error.required">Please select payment run frequency</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area area-2 col-xs-5">
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Account No.</label>
                        <div class="col-xs-7">
                            <label for="" class="control-label" ng-bind="CustomerInfo.pkCustomerID"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Name</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="CustomerInfo.CustomerName" name="CustomerName" class="input-quote" maxlength="50" required ng-disabled="!CustomerInfo">
                        </div>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.CustomerName.$error.required">Please insert customer name</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Alias</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="CustomerInfo.Alias" class="input-quote" name="Alias" maxlength="30" required ng-disabled="!CustomerInfo">
                        </div>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.Alias.$error.required">Please insert customer alias</span>
                        </div>
                    </div>
                    <div class="form-group margin-top-30">
                        <label for="" class="col-xs-4 control-label">Address line 1</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="CustomerInfo.Address1" class="input-quote" name="Address1" required maxlength="45" ng-disabled="!CustomerInfo">
                        </div>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.Address1.$error.required">Please insert address line 1</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Address line 2</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="CustomerInfo.Address2" class="input-quote" name="Address2" maxlength="40" ng-disabled="!CustomerInfo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Address line 3</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="CustomerInfo.Address3" class="input-quote" name="Address3" maxlength="40" ng-disabled="!CustomerInfo">
                            <div class="error">
                                <span ng-show="CustomerForm.$submitted && CustomerForm.Address3.$error.required">Please insert address line 3</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Address line 4</label>
                        <div class="col-xs-6">
                            <input type="text" ng-model="CustomerInfo.Address4" class="input-quote" name="Address4" maxlength="30" ng-disabled="!CustomerInfo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Postcode</label>
                        <div class="col-xs-3">
                            <input type="text" ng-model="CustomerInfo.Postcode" class="input-quote" name="Postcode" required maxlength="8" ng-disabled="!CustomerInfo">
                        </div>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.Postcode.$error.required">Please insert postcode</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-7">
                            <button type="button" class="copy-address float-right" ng-click="copyAddress()">Copy Address</button>
                        </div>
                    </div>
                </div>
                <div class="area area-3 col-xs-4">
                    <div class="module">
                        <div class="module-title">Invoice address</div>
                        <div class="module-body">
                            <div class="form-group">
                                <label for="" class="col-xs-2 control-label no-padding-left">Line 1</label>
                                <div class="col-xs-10 no-padding">
                                    <input type="text" ng-model="CustomerInfo.InvAddress1" class="input-quote" name="InvAddress1" required maxlength="45" ng-disabled="!CustomerInfo">
                                </div>
                                <div class="error">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.InvAddress1.$error.required">Please insert invoice address line 1</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-2 control-label no-padding-left">Line 2</label>
                                <div class="col-xs-10 no-padding">
                                    <input type="text" ng-model="CustomerInfo.InvAddress2" class="input-quote" name="InvAddress2" maxlength="40" ng-disabled="!CustomerInfo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-2 control-label no-padding-left">Line 3</label>
                                <div class="col-xs-10 no-padding">
                                    <input type="text" ng-model="CustomerInfo.InvAddress3" class="input-quote" name="InvAddress3" maxlength="40" ng-disabled="!CustomerInfo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-2 control-label no-padding-left">Line 4</label>
                                <div class="col-xs-8 no-padding">
                                    <input type="text" ng-model="CustomerInfo.InvAddress4" class="input-quote" name="InvAddress4" maxlength="30" ng-disabled="!CustomerInfo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-2 control-label no-padding-left">Pcode</label>
                                <div class="col-xs-3 no-padding">
                                    <input type="text" ng-model="CustomerInfo.InvPostcode" class="input-quote" name="InvPostcode" maxlength="8" required ng-disabled="!CustomerInfo">
                                </div>
                                <div class="error">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.InvPostcode.$error.required">Please insert invoice postcode</span>
                                </div>
                            </div>
                            <div class="form-group my-form-group">
                                <label for="" class="col-xs-6 col-xs-offset-2 control-label">Default approval level</label>
                                <div class="col-xs-3">
                                    <select name="Approval" ng-options="option as option.Description for option in AllApprovalList" ng-model="fkApprovalID" required ng-disabled="!CustomerInfo" ng-change="CustomerInfo.setApprovalLevel(fkApprovalID.pkApprovalID)">
                                    </select>
                                </div>
                                <div class="error col-xs-12 col-xs-offset-2">
                                    <span ng-show="CustomerForm.$submitted && CustomerForm.Approval.$error.required">Please select default approval level</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-2">
                <div class="area area-1 col-xs-3">
                    <div class="module">
                        <div class="module-title">
                            <span>VAT rate</span>
                            <input type="text" ng-model="CustomerInfo.VATRate" valid-number ng-disabled="!CustomerInfo"> %
                        </div>
                        <div class="module-body">
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label"></label>
                                <div class="col-xs-6">
                                    <div class="col-xs-6">
                                        <label for="">Yes</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">
                                    MD approval?
                                </label>
                                <div class="col-xs-6">
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.MDApproval" ng-value="1" name="MDApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.MDApproval" ng-value="0" name="MDApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">
                                    FD approval?
                                </label>
                                <div class="col-xs-6">
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.FDApproval" ng-value="1" name="FDApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.FDApproval" ng-value="0" name="FDApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label for="" class="col-xs-6 control-label">
                                    GM approval?
                                </label>
                                <div class="col-xs-6">
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.GMApproval" ng-value="1" name="GMApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="radio" ng-model="CustomerInfo.GMApproval" ng-value="0" name="GMApproval" ng-disabled="!CustomerInfo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area area-2 col-xs-5">
                    <div class="module">
                        <div class="module-title"></div>
                        <div class="module-body">
                            <div class="form-group">
                                <label for="" class="col-xs-2 no-padding control-label">Website</label>
                                <div class="col-xs-10">
                                    <input type="text" ng-model="CustomerInfo.Website" ng-disabled="!CustomerInfo" class="input-quote" name="Website" maxlength="40" ng-pattern="/^www\.[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/">
                                    <div class="error">
                                        <span ng-show="CustomerForm.$submitted && CustomerForm.Website.$error.pattern">Website incorrect formats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-2 no-padding control-label">Email</label>
                                <div class="col-xs-10">
                                    <input type="email" ng-model="CustomerInfo.Email" name="Email" class="input-quote" maxlength="50" ng-disabled="!CustomerInfo">
                                    <div class="error">
                                        <span ng-show="CustomerForm.$submitted && CustomerForm.Email.$error.email">Please enter a valid email</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area area-3 col-xs-4">
                    <div class="form-group default-delivery">
                        <label for="" class="col-xs-6 control-label">Default Delivery charge</label>
                        <div class="col-xs-3">
                            <span class="currency-symbol currency-symbol-irish left">
                            <input type="text" ng-model="CustomerInfo.DeliveryCharge" name="DeliveryCharge" required ng-pattern="/^0|[1-9][0-9]*$/" ng-disabled="!CustomerInfo" maxlength="3" />
                        </span>
                        </div>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.DeliveryCharge.$error.required">Please insert default delivery charge</span>
                            <span ng-show="CustomerForm.$submitted && CustomerForm.DeliveryCharge.$error.pattern">Please insert number</span>
                        </div>
                    </div>
                    <div class="form-group my-form-group send-goods">
                        <label for="" class="col-xs-12 control-label">Send goods up to
                            <input type="text" required ng-model="CustomerInfo.DeliveryGrace" name="DeliveryGrace" ng-pattern="/^0|[1-9][0-9]*$/" ng-disabled="!CustomerInfo" maxlength="4"> Days before due date
                        </label>
                        <div class="error col-xs-12">
                            <span ng-show="CustomerForm.$submitted && CustomerForm.DeliveryGrace.$error.required">Please enter send goods up</span>
                            <span ng-show="CustomerForm.$submitted && CustomerForm.DeliveryGrace.$error.pattern">Please insert number</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-3">
                <div class="area area-1 col-xs-5">
                    <div class="module">
                        <div class="module-body">
                            <span>Multi currency: </span>
                            <label for="">Irish &#8356;</label>
                            <input type="checkbox" ng-model="CustomerInfo.IrishCurrency" ng-disabled="!CustomerInfo" ng-true-value="1" ng-false-value="0">
                            <label for="">US $</label>
                            <input type="checkbox" ng-model="CustomerInfo.USCurrency" ng-true-value="1" ng-false-value="0" ng-disabled="!CustomerInfo">
                            <label for="">Euros &#8364;</label>
                            <input type="checkbox" ng-model="CustomerInfo.EuroCurrency" ng-true-value="1" ng-false-value="0" ng-disabled="!CustomerInfo">
                        </div>
                    </div>
                </div>
                <div class="area area-2 col-xs-7">
                    <div class="area-table table-note">
                        <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="float_standard" load-item="CustomerConformityNotes">
                            <thead>
                                <tr>
                                    <th>Standard Conformity Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in CustomerConformityNotes">
                                    <td class="col-xs-12 no-padding" ng-bind="item.ConformityNote"></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-12 no-padding">
                                        <input type="text" ng-model="Note" maxlength="80">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row row-4">
                <div class="col-xs-12 area">
                    <input type="button" class="button add-customer" ng-click="addCustomer()" value="Add New Customer" />
                    <input type="button" class="button export-customer" value="Export Customers" ng-click="exportCustomer()" />
                    <input type="button" class="button new-co" value="New CO" ng-click="redirectNewCO()" />
                    <input type="button" class="button view-order" value="View Order History" ng-click="redirectOrderHistoryPage()" />
                    <input type="button" class="button contact" value="Contacts" ng-click="redirectCustomerContactPage()" />
                    <input type="button" class="button delivery-point" value="Delivery Points" ng-click="redirectDeliveryPointsPage()" />
                    <input type="button" class="button back" value="Back" ng-click="redirectBack()" />
                    <input type="button" class="button update" ng-click="updateCustomer(CustomerInfo)" ng-show="showUpdateButton" value="Update" />
                    <input type="submit" class="button save" value="Save" ng-show="showSaveCancelButton" />
                    <input type="button" class="button cancel" ng-click="cancelAddCustomer()" value="Cancel" ng-show="showSaveCancelButton" />
                </div>
            </div>
        </form>
    </div>
</div>
