<div id="tab-pos" class="tab_content">
    <p>
        <span>RFQ</span> >
        <span>PO</span> >
        <span>GRP</span> >
        <span>Invoice list</span>
    </p>
    <div class="area-table">
        <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="grb">
            <thead>
                <tr>
                    <td>GRB number</td>
                    <td>PO number</td>
                    <td>RFQ number</td>
                    <td>invoice NO</td>
                    <td>OP number</td>
                    <td>OP type</td>
                    <td>Supplier</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in WorkOrderGRBs">
                    <td>
                        <a href="javascript:;" ng-click="redirectGoodsIn(item.GRB)" ng-bind="item.GRB"></a>
                    </td>
                    <td>
                        <a href="javascript:;" ng-click="redirectPurchaseOrder(item.PO)" ng-bind="item.PO"></a>
                    </td>
                    <td ng-bind="item.RFQ"></td>
                    <td ng-bind="item.Invoice"></td>
                    <td ng-bind="item.OpNumber"></td>
                    <td ng-bind="item.OpType"></td>
                    <td ng-bind="item.Supplier"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
