<div class="admin-page">
    <div class="title-global-page">Store Admin</div>
    <div class="page-body">
        <div class="store-locations col-md-4 no-padding-left">
            <div class="store-locations-table">
                <div class="table-control col-md-5 no-padding-left">
                    <p class="control-title right-content">Add new</p>
                    <input type="text" class="col-md-12 no-padding" ng-model="StoreArea" maxlength="15">
                    <div class="button-control col-md-12 no-padding">
                        <div class="add right-content">
                            <button type="button" ng-click="AddStoreArea(StoreArea)">Add</button>
                        </div>
                        <div class="delete right-content">
                            <button type="button" ng-click="RemoveStoreArea(StoreAreaList)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="table-content col-md-7">
                    <div class="row">
                        <div class="table-title col-md-10 right-content">Store Locations</div>
                    </div>
                    <div class="row">
                        <div class="area-table col-md-10 no-padding">
                            <table ng-show="StoreAreaList | hasItem">
                                <tr ng-repeat="item in StoreAreaList" ng-click="selectOneItem(StoreAreaList, item); selectStoreArea(item)" ng-class="{'tr-active': item.selected}">
                                    <td ng-bind="item.StoreArea"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="couriers-table">
                <div class="table-control col-md-5 no-padding-left">
                    <p class="control-title right-content">Couriers</p>
                    <p class="control-title right-content">Add new</p>
                    <input type="text" class="col-md-12 no-padding" ng-model="Courier" maxlength="25">
                    <div class="button-control col-md-12 no-padding">
                        <div class="add right-content">
                            <button ng-click="AddCourier(Courier)">Add</button>
                        </div>
                        <div class="delete right-content">
                            <button ng-click="RemoveCourier(CourierList)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="table-content col-md-7">
                    <div class="row">
                        <div class="area-table col-md-10 no-padding">
                            <table ng-show="CourierList | hasItem">
                                <tr ng-repeat="item in CourierList | orderBy: 'Name' : reverse" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                    <td ng-bind="item.Name"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="area-sort col-md-2">
                            <span class="up-control" ng-click="reverse = false"></span>
                            <span>sort</span>
                            <span class="down-control" ng-click="reverse = true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x-co-ordinate col-md-4">
            <div class="table-control col-md-5 no-padding-left">
                <p class="control-title right-content">Add new</p>
                <input type="text" class="col-md-12 no-padding" ng-model="XLocation">
                <div class="button-control col-md-12 no-padding">
                    <div class="add right-content">
                        <button ng-click="AddXLocation(StoreAreaList, XLocation)">Add</button>
                    </div>
                    <div class="delete right-content">
                        <button ng-click="RemoveXLocation(StoreAreaList, XStoreLocations)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="table-content col-md-7">
                <div class="row">
                    <div class="table-title col-md-10 right-content">X co-ordinate</div>
                </div>
                <div class="row">
                    <div class="area-table col-md-10 no-padding">
                        <table ng-show="XStoreLocations | hasItem">
                            <tr ng-repeat="item in XStoreLocations" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                <td>
                                    <span ng-bind="item.XLocation"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="y-co-ordinate col-md-4">
            <div class="table-control col-md-5 no-padding-left">
                <p class="control-title right-content">Add new</p>
                <input type="text" class="col-md-12 no-padding" ng-model="YLocation">
                <div class="button-control col-md-12 no-padding">
                    <div class="add right-content">
                        <button type="button" ng-click="AddYLocation(StoreAreaList, YLocation)">Add</button>
                    </div>
                    <div class="delete right-content">
                        <button type="button" ng-click="RemoveYLocation(StoreAreaList, YStoreLocations)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="table-content col-md-7">
                <div class="row">
                    <div class="table-title col-md-6 no-padding right-content">Y co-ordinate</div>
                </div>
                <div class="row">
                    <div class="area-table col-md-6 no-padding">
                        <table ng-show="YStoreLocations | hasItem">
                            <tr ng-repeat="item in YStoreLocations" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                <td ng-bind="item.YLocation"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-footer">
            <button type="button" class="back" ng-click="redirectBack()">Back</button>
        </div>
    </div>
</div>
