<div class="goods-in-page">
    <div class="title-global-page">Goods in</div>
    <div class="page-top">
        <div class="search col-xs-2">
            <strong>Search: </strong>
            <div class="grb-no">
                <span class="grb-title">GRB No.</span>
                <input class="grb-value" type="text" ng-model="GRBNo">
            </div>
            <div class="material">
                <span class="material-title">Material</span>
                <input type="text" class="material-value" ng-model="Material" maxlength="6">
            </div>
            <div class="size">
                <span class="size-title">Size</span>
                <input type="text" class="size-value" ng-model="Size">
            </div>
        </div>
        <div class="instock-table col-xs-6">
            <div class="table-control">
                <span class="up-control" ng-click="reverse = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverse = true"></span>
            </div>
            <div class="table-title">in stock</div>
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_instock" load-item="MaterialInStock">
                    <thead>
                        <tr>
                            <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in MaterialInStock | orderBy: sortBy : reverse | contain:'GRBNo':GRBNo | contain: 'Spec' : Material | contain: 'Size' : Size | unique:'GRBNo'" ng-click="selectOneItem(MaterialInStock, item); selectMaterialInStock(item)" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.GRBNo"></td>
                            <td ng-bind="item.Spec"></td>
                            <td ng-bind="item.Size"></td>
                            <td ng-bind="item.Units"></td>
                            <td ng-bind="item.Shape"></td>
                            <td ng-bind="item.ReleaseLevel"></td>
                            <td ng-bind="item.PurchaseLength"></td>
                            <td ng-bind="item.DateIn | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.OrderQty"></td>
                            <td ng-bind="item.InStock"></td>
                            <td ng-bind="item.Location"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="issued-table col-xs-4">
            <div class="table-title">issued</div>
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_date">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Part No.</th>
                            <th>Qty</th>
                            <th>WO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-model="test" ng-repeat="item in MaterialIssues" ng-click="selectOneItem(MaterialIssues, item); selectMaterialIssue(item)">
                            <td ng-bind="item.DateIssued | timeFormat: 'DD/MM/YYYY'"></td>
                            <td>
                                <a href="#" ng-bind="item.PartNumber"></a>
                            </td>
                            <td ng-bind="item.Qty"></td>
                            <td>
                                <a href="#" ng-bind="item.WONo"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="location">
            <form name="LocationForm" ng-submit="LocationForm.$valid && updateLocation(LocationInfo)" novalidate>
                <span class="location-title">Location</span>
                <select ng-model="LocationInfo.Location" ng-options="option as option.StoreArea for option in StoreAreaList" ng-change="changeLocation(LocationInfo.Location); GRB.setStoreAreaID(LocationInfo.Location.StoreAreaID)" name="Location" required>
                </select>
                <select ng-model="LocationInfo.XLocation" ng-options="option as option.XLocation for option in XStoreLocations" ng-change="GRB.setXLocation(LocationInfo.XLocation.XLocation)" name="XLocation" required>
                </select>
                <select ng-model="LocationInfo.YLocation" ng-options="option as option.YLocation for option in YStoreLocations" ng-change="GRB.setYLocation(LocationInfo.YLocation.YLocation)" name="YLocation" required>
                </select>
                <button type="submit">Update Loc'n</button>
                <div class="error">
                    <p ng-show="LocationForm.$submitted && LocationForm.Location.$error.required">Please select Location</p>
                    <p ng-show="LocationForm.$submitted && LocationForm.XLocation.$error.required">Please select XLocation</p>
                    <p ng-show="LocationForm.$submitted && LocationForm.YLocation.$error.required">Please select YLocation</p>
                </div>
            </form>
        </div>
    </div>
    <div class="page-body">
        <div class="page-body-title">Receive:</div>
        <div class="page-body-content">
            <form name="GRBForm" ng-submit="GRBForm.$valid && AddGRB(GRB)" novalidate>
                <div class="row">
                    <div class="col-xs-9 receive-left">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2 rcvd">
                                    <div class="title">Rcvd Date
                                        <p class="leave-blank"><small>leave blank for today</small></p>
                                    </div>
                                    <input type="text" ng-model="GRB.RcvdDate">
                                </div>
                                <div class="col-xs-2 next-gr">
                                    <button ng-click="generateNextGR()" type="button">Generate next GR</button>
                                </div>
                                <div class="col-xs-4 grb">
                                    <span class="title">GRB:</span>
                                    <input type="text" readonly ng-model="GRB.nextGR">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="GRType.MaterialType == 1">
                            <div class="form-group">
                                <div class="rejects col-xs-3 col-xs-offset-9">
                                    <div class="row">
                                        <div class="rejects-content">
                                            <span class="col-xs-4 no-padding">Rejects</span>
                                            <div class="col-xs-8">
                                                <select ng-model="Reject" ng-options="option as option.RejectNoteID for option in RejectsList" ng-change="GRB.setRejectNoteID(Reject.RejectNoteID)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="gr-type col-xs-10">
                                    <div class="row">
                                        <div class="gr-type-content">
                                            <label for="" class="col-xs-1 no-padding">GR type</label>
                                            <div class="col-xs-3">
                                                <select ng-model="GRType" ng-options="option as option.Type for option in MaterialTypeList" ng-change="changeGRType(GRType); GRB.setMaterialTypeID(GRType.MaterialType)" required name="GRType">
                                                </select>
                                            </div>
                                            <div class="col-xs-6 gr-type-content-group" ng-show="GRType.MaterialType == 8">
                                                <select ng-model="FIMaterial" ng-options="option as option.DisplayData for option in PartTemplateList" ng-change="changeFIMaterial(FIMaterial); GRB.setETemplateID(FIMaterial.ETemplateID)">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row error">
                                        <p ng-show="GRBForm.$submitted && GRBForm.GRType.$error.required">Please select GR type</p>
                                    </div>
                                    <div class="row" ng-show="GRType.MaterialType == 8">
                                        <div class="customer-order col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 no-padding content-right">Customer Order No.</label>
                                            <div class="customer-order-group col-xs-3">
                                                <select ng-model="CustomerOrder" ng-options="option as option.CustomerOrderRef for option in MatchingCOList" ng-change="changeCustomerOrder(CustomerOrder); GRB.setOrderID(CustomerOrder.OrderID)">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="work-order col-xs-12 no-padding">
                                            <label for="" class="col-xs-4 content-right no-padding">Work Order No.</label>
                                            <div class="work-order-group col-xs-2">
                                                <select ng-model="LineItem" ng-options="option as option.WorkOrderID for option in MatchingLineItems" ng-change="GRB.setLineItemID(LineItem.LineItemID)">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 gr-type-button" ng-show="isFastTrack">
                                    <button>Fast Track</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide="GRType.MaterialType == 7 || GRType.MaterialType == 8">
                            <div class="form-group">
                                <label for="" class="col-xs-2 no-padding po-number">PO number</label>
                                <div class="col-xs-1 po-number-group">
                                    <select ng-model="PONumber" ng-options="option as option.POnID for option in POList" ng-change="changePOList(PONumber); GRB.setPOnID(PONumber.POnID)">
                                    </select>
                                </div>
                                <label for="" class="col-xs-1 item">Item</label>
                                <div class="item-group col-xs-3">
                                    <select ng-model="POItem" ng-options="option as option.Description for option in POItemsList" ng-change="changePOItem(POItem); GRB.setItemID(POItem.ItemID)">
                                    </select>
                                </div>
                                <label for="" class="col-xs-2 no-padding order-by" ng-hide="GRType.MaterialType == 1">Ordered by</label>
                                <div class="order-by-group col-xs-1" ng-hide="GRType.MaterialType == 1">
                                    <input type="text" ng-model="PONumber.OrderedBy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 receive-right">
                        <div class="col-xs-4 receive-right-content">
                            <div class="dn">
                                <input type="radio" ng-model="DocTypeID" ng-value="1"> DN
                            </div>
                            <div class="CoC">
                                <input type="radio" ng-model="DocTypeID" ng-value="2"> CoC
                            </div>
                            <div class="inv">
                                <input type="radio" ng-model="DocTypeID" ng-value="3"> Inv
                            </div>
                        </div>
                        <div class="col-xs-8 drop-button">
                            <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Delivery Docs here</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="GRType.MaterialType != 8">
                    <div class="form-group">
                        <div class="work-order col-xs-3 col-xs-offset-6">
                            <label for="" class="col-xs-6 no-padding">Work Order No.</label>
                            <div class="work-order-group col-xs-6">
                                <input type="text" ng-model="GRB.WorkOrderNo" ng-disabled="GRType.MaterialType == 1">
                            </div>
                        </div>
                        <div class="release-note col-xs-3">
                            <label for="" class="col-xs-6 no-padding">Release Note No.</label>
                            <div class="release-note-group col-xs-6">
                                <input type="text" name="ReleaseNoteNo" ng-model="GRB.ReleaseNoteNo" maxlength="15">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="GRType.MaterialType == 1 || GRType.MaterialType == 7 || GRType.MaterialType == 8">
                    <div class="form-group">
                        <div class="supplier">
                            <label for="" class="col-xs-2 no-padding">Supplier / Customer</label>
                            <div class="supplier-group col-xs-1">
                                <select ng-model="CustomerSupplier" ng-options="option as option.Alias for option in CustomerSupplierList" ng-change="GRB.setID(CustomerSupplier.ID); GRB.setType(CustomerSupplier.Type)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="GRType.MaterialType == 8">
                    <div class="form-group">
                        <div class="customer">
                            <label for="" class="col-xs-2 no-padding">Customer</label>
                            <div class="customer-group col-xs-3">
                                <input type="text" ng-model="GRB.Customer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="GRType.MaterialType == 1">
                    <div class="form-group">
                        <div class="supplier">
                            <label for="" class="col-xs-2 no-padding">Supplier</label>
                            <div class="supplier-group col-xs-3">
                                <input type="text" ng-model="GRB.SupplierName" ng-disabled="GRType.MaterialType == 1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="GRType.MaterialType == 7 || GRType.MaterialType == 8">
                    <div class="form-group">
                        <div class="description">
                            <label for="" class="col-xs-2 no-padding">Description</label>
                            <div class="description-group col-xs-6">
                                <textarea ng-model="GRB.Description" ng-disabled="GRType.MaterialType == 1" maxlength="80"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="GRType.MaterialType != 8">
                    <div class="form-group">
                        <div class="delivery-note col-xs-3 col-xs-offset-9">
                            <label for="" class="col-xs-6 no-padding">Delivery Note No.</label>
                            <div class="delivery-note-group col-xs-6">
                                <input type="text" ng-model="GRB.DeliveryNoteNo" maxlength="20" name="DeliveryNoteNo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="qty-receive col-xs-3 no-padding">
                            <label for="" class="col-xs-8 no-padding">Qty Received</label>
                            <div class="qty-receive-group col-xs-4">
                                <input type="text" ng-model="GRB.QtyRcvd" maxlength="8" name="QtyRcvd" ng-pattern="/^\d+$/">
                            </div>
                            <div class="error">
                                <p ng-show="GRBForm.$submitted && GRBForm.QtyRcvd.$error.pattern">Qty Received must be number</p>
                            </div>
                        </div>
                        <div class="col-xs-4 uom">
                            <div class="col-xs-3 no-padding uom-title" ng-if="GRType.MaterialType == 1">
                                <div class="uom-p col-xs-6 no-padding">
                                    <p>UOM</p>
                                </div>
                                <div class="uom-input col-xs-6 no-padding">
                                    <input type="text" ng-model="GRB.Size" name="Size" maxlength="8" ng-pattern="/(^\d{1,5}$)|(^\d{1,4}\.\d{1}$)|(^\d{1,3}\.\d{1,2}$)|(^\d{1,2}\.\d{1,3}$)/">
                                </div>
                            </div>
                            <div class="col-xs-3 no-padding-right" ng-if="GRType.MaterialType == 1">
                                <select ng-model="Unit" ng-options="option as option.name for option in Units" ng-change="changeUnit(Unit)"></select>
                            </div>
                            <div class="col-xs-6 shape no-padding-right">
                                <div class="col-xs-4 no-padding shape-title" ng-show="GRType.MaterialType == 1">
                                    <span>Shape</span>
                                </div>
                                <div class="col-xs-8 no-padding shape-select" ng-show="GRType.MaterialType == 1">
                                    <select ng-model="Shape" ng-options="option as option.Description for option in MaterialShapes" ng-change="GRB.setShapeID(Shape.pkShapeID)"></select>
                                </div>
                            </div>
                            <div class="error col-xs-12 no-padding">
                                <p ng-if="GRBForm.$submitted && GRBForm.Size.$error.pattern">Size must be decimal (5,3)</p>
                            </div>
                        </div>
                        <div class="col-xs-1 no-padding-right uom-select" ng-if="GRType.MaterialType == 1">
                            <select ng-model="UOM" ng-options="option as option.Description for option in UOMList" ng-change="GRB.setUOMID(UOM.pkUOMID)"></select>
                        </div>
                        <div class="approval-error col-xs-2">
                            <p ng-show="hasApprovalMismatch">Approval mismatch. Hand docs to Front Office..</p>
                        </div>
                        <div class="part-number col-xs-3" ng-if="GRType.MaterialType != 8">
                            <label for="" class="col-xs-8">Part Number</label>
                            <div class="part-number-group col-xs-4">
                                <input type="text" ng-model="GRB.PartNumber" maxlength="25" name="PartNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="GRType.MaterialType == 8">
                    <div class="form-group">
                        <div class="qty-muanufacture col-xs-3 no-padding">
                            <label for="" class="col-xs-8 no-padding">Qty to Manufacture</label>
                            <div class="qty-muanufacture-group col-xs-4">
                                <input type="text" ng-model="GRB.QtyManu" maxlength="8" name="QtyManu" ng-pattern="/^\d+$/">
                            </div>
                        </div>
                        <div class="error col-xs-12">
                            <p ng-if="GRBForm.$submitted && GRBForm.QtyManu.$error.pattern">Qty to Manufacture must be number</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="location col-xs-12 no-padding">
                            <label for="" class="col-xs-2 no-padding">Location / Issued to</label>
                            <div class="location-group col-xs-10">
                                <select ng-model="GRB.Location" ng-options="option as option.StoreArea for option in StoreAreaList" ng-change="changeLocation(GRB.Location); GRB.setStoreAreaID(GRB.Location.StoreAreaID)" name="Location" required>
                                </select>
                                <select ng-model="XLocation" ng-options="option as option.XLocation for option in XStoreLocations" ng-change="GRB.setXLocation(XLocation.XLocation)" name="XLocation" required>
                                </select>
                                <select ng-model="YLocation" ng-options="option as option.YLocation for option in YStoreLocations" ng-change="GRB.setYLocation(YLocation.YLocation)" name="YLocation" required>
                                </select>
                                <span class="tag"> / </span>
                                <button>Direct issue</button>
                            </div>
                        </div>
                        <div class="error">
                            <p ng-show="GRBForm.$submitted && GRBForm.Location.$error.required">Please select Location</p>
                            <p ng-show="GRBForm.$submitted && GRBForm.XLocation.$error.required">Please select XLocation</p>
                            <p ng-show="GRBForm.$submitted && GRBForm.YLocation.$error.required">Please select YLocation</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="approval-type col-xs-3 no-padding">
                        <label for="" class="col-xs-8 no-padding">Approval type</label>
                        <div class="approval-type-group col-xs-4">
                            <select ng-model="Approval" ng-options="option as option.Description for option in ApprovalList" ng-change="changeApproval(Approval); GRB.setApprovalTypeID(Approval.pkApprovalID)">
                            </select>
                        </div>
                    </div>
                    <div class="approval-button col-xs-6 col-xs-offset-3">
                        <button class="back" type="button" ng-click="redirectBack()">Back</button>
                        <button class="due-in-report" type="button" ng-click="openBIRT('DueIn')">'Due in' Report</button>
                        <button class="view-po" type="button" ng-click="openBIRT('PurchaseOrder_v5')">View PO</button>
                        <button class="add" type="button">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
