<div class="material-issue-page">
    <div class="title-global-page">Material Issue</div>
    <div class="page-top">
        <div class="search col-xs-2">
            <strong>Search: </strong>
            <div class="grb-no">
                <span class="grb-title">GRB No.</span>
                <input class="grb-value" type="text" ng-model="GRBNo">
            </div>
            <div class="material">
                <span class="material-title">Material</span>
                <input type="text" class="material-value" ng-model="Material" maxlength="6">
            </div>
            <div class="size">
                <span class="size-title">Size</span>
                <input type="text" class="size-value" ng-model="Size">
            </div>
        </div>
        <div class="instock-table col-xs-6">
            <div class="table-control">
                <span class="up-control" ng-click="reverse = false"></span>
                <span>sort</span>
                <span class="down-control" ng-click="reverse = true"></span>
            </div>
            <div class="table-title">in stock</div>
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_instock" load-item="MaterialInStock">
                    <thead>
                        <tr>
                            <th ng-repeat="item in sortTable" ng-bind="item.title" ng-click="selectOneItem(sortTable, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in MaterialInStock | orderBy: sortBy : reverse | contain:'GRBNo':GRBNo | contain: 'Spec' : Material | contain: 'Size' : Size | unique:'GRBNo'" ng-click="selectOneItem(MaterialInStock, item); selectMaterialInStock(item)" ng-class="{'tr-active': item.selected}">
                            <td ng-bind="item.GRBNo"></td>
                            <td ng-bind="item.Spec"></td>
                            <td ng-bind="item.Size"></td>
                            <td ng-bind="item.Units"></td>
                            <td ng-bind="item.Shape"></td>
                            <td ng-bind="item.ReleaseLevel"></td>
                            <td ng-bind="item.PurchaseLength"></td>
                            <td ng-bind="item.DateIn | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.OrderQty"></td>
                            <td ng-bind="item.InStock"></td>
                            <td ng-bind="item.Location"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="issued-table col-xs-4">
            <div class="table-title">issued</div>
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_date">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Part No.</th>
                            <th>Qty</th>
                            <th>WO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-model="test" ng-repeat="item in MaterialIssues" ng-click="selectOneItem(MaterialIssues, item); selectMaterialIssue(item)">
                            <td ng-bind="item.DateIssued | timeFormat: 'DD/MM/YYYY'"></td>
                            <td>
                                <a href="#" ng-bind="item.PartNumber"></a>
                            </td>
                            <td ng-bind="item.Qty"></td>
                            <td>
                                <a href="#" ng-bind="item.WONo"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="location">
            <form name="LocationForm" ng-submit="LocationForm.$valid && updateLocation(LocationInfo)" novalidate>
                <span class="location-title">Location</span>
                <select ng-model="LocationInfo.Location" ng-options="option as option.StoreArea for option in StoreAreaList" ng-change="changeLocation(LocationInfo.Location); GRB.setStoreAreaID(LocationInfo.Location.StoreAreaID)" name="Location" required>
                </select>
                <select ng-model="LocationInfo.XLocation" ng-options="option as option.XLocation for option in XStoreLocations" ng-change="GRB.setXLocation(LocationInfo.XLocation.XLocation)" name="XLocation" required>
                </select>
                <select ng-model="LocationInfo.YLocation" ng-options="option as option.YLocation for option in YStoreLocations" ng-change="GRB.setYLocation(LocationInfo.YLocation.YLocation)" name="YLocation" required>
                </select>
                <button type="submit">Update Loc'n</button>
                <div class="error">
                    <p ng-show="LocationForm.$submitted && LocationForm.Location.$error.required">Please select Location</p>
                    <p ng-show="LocationForm.$submitted && LocationForm.XLocation.$error.required">Please select XLocation</p>
                    <p ng-show="LocationForm.$submitted && LocationForm.YLocation.$error.required">Please select YLocation</p>
                </div>
            </form>
        </div>
    </div>
    <div class="page-body-issue">
        <div class="page-body-title">Issue:</div>
        <div class="page-body-content">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-2 grb">
                        <label for="" class="col-xs-9 col-xs-offset-3 no-padding">GRB:</label>
                        <div class="grb-group col-xs-9 col-xs-offset-3">
                            <input type="text" ng-model="MaterialIssueDetail.GRBNo" readonly>
                        </div>
                    </div>
                    <div class="location col-xs-2">
                        <label for="" class="col-xs-12">Location</label>
                        <div class="location-group col-xs-12">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.Location" readonly>
                        </div>
                    </div>
                    <div class="length col-xs-2 col-xs-offset-1">
                        <label for="" class="col-xs-4 no-padding">Length</label>
                        <div class="length-group col-xs-8 no-padding">
                            <input type="text" ng-model="MaterialIssueDetail.Length" readonly>
                            <span ng-bind="MaterialIssueDetail.Units"></span>
                        </div>
                    </div>
                    <div class="work-order col-xs-3 col-xs-offset-2">
                        <p>Work Order {{WorkOrderID}}</p>
                        <p>Part No. {{MaterialIssueDetail.PartNumber}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="qty col-xs-2 col-xs-offset-5">
                        <label for="" class="col-xs-4">Qty</label>
                        <div class="qty-group col-xs-8 no-padding">
                            <input type="text" ng-model="MaterialIssueDetail.Qty" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="material col-xs-2 col-xs-offset-1">
                        <label for="" class="col-xs-12">Material</label>
                        <div class="material-group col-xs-12">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.MaterialSpec" readonly>
                        </div>
                    </div>
                    <div class="size col-xs-1 no-padding">
                        <label for="" class="col-xs-12 no-padding">Size</label>
                        <div class="size-group col-xs-12">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.Size" ng-model="MaterialIssueDetail.Size" readonly>
                        </div>
                    </div>
                    <div class="unit col-xs-1 no-padding-left">
                        <label for="" class="col-xs-12 no-padding">Units</label>
                        <div class="col-xs-12 unit-group no-padding">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.Units" readonly>
                        </div>
                    </div>
                    <div class="shape col-xs-1 no-padding">
                        <label for="" class="col-xs-12 no-padding">Shape</label>
                        <div class="shape-group col-xs-12 no-padding">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.Shape" readonly>
                        </div>
                    </div>
                    <div class="release col-xs-1 no-padding-right">
                        <label for="" class="col-xs-12 no-padding">Release</label>
                        <div class="release-group col-xs-12 no-padding">
                            <input type="text" class="border-blue color-orange" ng-model="MaterialIssueDetail.ReleaseType" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="description col-xs-4 col-xs-offset-8">
                        <strong class="col-xs-5 no-padding-left">Description</strong>
                        <div class="description-group col-xs-7 no-padding">
                            <input type="text" ng-model="MaterialIssueDetail.Description" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="issue-instruction col-xs-4 col-xs-offset-8">
                        <strong class="col-xs-5 no-padding-left">Issue Instruction</strong>
                        <div class="issue-instruction-group col-xs-7 no-padding">
                            <input type="text" ng-model="MaterialIssueDetail.Instruction" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="designated-machine"><strong>Designated Machine</strong> {{MaterialIssueDetail.Machine}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group pos-relative">
                    <div class="cutting-material col-xs-1 col-xs-offset-1">
                        Begin issuing / cutting material:
                    </div>
                    <div class="material-control col-xs-6">
                        <div class="begin control-element col-xs-4" ng-click="BeginMaterialIssue()">
                            <div class="icon"></div>
                            <div class="title">Begin</div>
                        </div>
                        <div class="pause control-element col-xs-4" ng-click="PauseMaterialIssue()">
                            <div class="icon"></div>
                            <div class="title">Pause</div>
                        </div>
                        <div class="complete control-element col-xs-4" ng-click="EndMaterialIssue()">
                            <div class="icon"></div>
                            <div class="title">Complete</div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-3 material-button">
                        <button type="button" ng-click="redirectBack()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>