<div id="login" class="login-page">
    <div class="login-wrapper">
        <form method="post" name="LoginForm" ng-submit="LoginForm.$valid && login(user)" novalidate>
            <div class="form-group">
                <label>User</label>
                <input type="text" class="form-control" name="username" ng-model="user.Username" required>
                <div class="error">
                    <span ng-show="LoginForm.$submitted && LoginForm.username.$error.required">Please enter your username</span>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="user.UserPwd" required>
                <div class="error">
                    <span ng-show="LoginForm.$submitted && LoginForm.password.$error.required">Please enter your password</span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
