<div id="sub-con" class="client-readmore tab-center">
    <h4 class="color-blue col-xs-12">Heat treatment</h4>
    <div class="col-xs-4">
        <span class="text-center">Set standard Supplier:</span>
        <search-input search-input-model="subconSearchInputModel" procedure="ProcGetSupplierList" search-key="SearchString" display-key="Supplier" on-select="SupplierSelected"></search-input>
    </div>
    <div class="col-xs-4">
        <button type="button" class="pull-left" ng-click="PurchaseReview()">Purchasing Review</button>
        <div class="col-xs-7">
            <p>Ask purchasing Dept to Review this Template</p>
        </div>
    </div>
    <div class="col-xs-4">
        <button type="submit" class="pull-left small" ng-click="ViewADD()">View A.D.D</button>
        <div class="col-xs-8 area-table table-personal no-padding-right">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_addlist">
                <thead>
                    <tr>
                        <th class="text-center">Type</th>
                        <th class="text-center">Auto print</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ADDList" ng-class="{'tr-active': item.selected}">
                        <td class="text-center" ng-click="selectOneItem(ADDList, item, 'selected')" ng-bind="item.DocType"></td>
                        <td class="text-center">
                            <input class="width-initial" type="checkbox" ng-model="item.AutoPrint" ng-checked="item.AutoPrint == 1" ng-click="UpdateADD(item)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="area-table table-previous row space-top non-overflow no-margin">
            <p>Please select a standard / approval comment</p>
            <input class="full-width" type="text" list="SCApprovalComments" ng-model="ApprovalComment" maxlength="80" my-enter="addSCApprovalComment(ApprovalComment)">
            <datalist id="SCApprovalComments">
                <option value="{{item.Comments}}" ng-repeat="item in SCApprovalComments"></option>
            </datalist>
            <div class="area-table">
                <table ng-show="SCApprovalCommentItems | hasItem">
                    <tbody>
                        <tr ng-repeat="item in SCApprovalCommentItems | orderBy:'-CommentID'">
                        <td>{{item.Comment}} <i ng-click="deleteNoteComment(item, SCApprovalCommentItems, 'approvalcomment')" class="icon-remove glyphicon glyphicon-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="subcon-leadtime col-xs-12 no-padding">
        <div class="col-xs-7 space-top">
            <div class="area-table table-previous table-internal row no-margin">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_internal">
                    <thead>
                        <tr>
                            <th class="text-center">Internal Sub-con Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" ng-model="TreatNote" my-enter="AddTreatNote(TreatNote)" maxlength="80">
                            </td>
                        </tr>
                        <tr ng-repeat="item in OpTmpltIntTreatNotes | orderBy:'-NoteID'">
                            <td>{{item.Note}} <i ng-click="deleteNoteComment(item, OpTmpltIntTreatNotes, 'pocomment')" class="icon-remove glyphicon glyphicon-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-5 no-padding-right">
            <p class="text-right">Std. lead time</p>
            <p class="text-right">
                <input class="width-input-number" type="text" ng-model="OpTmpltSubconDetail.LeadTime" maxlength="8"><span>day</span></p>
            <a href="javascript:;" ng-click="mailTo()" class="text-center pull-right mail-to">email quote</a>
            <button class="update-btn" type="button" ng-click="UpdateSubconDetail(OpTmpltSubconDetail)">Update</button>
        </div>
    </div>
</div>
