<div id="tab-invoices" class="tab_content">
    <div class="col-sm-8 content-height-left">
        <div class="area-table table-main">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_date">
                <thead>
                    <tr>
                        <th class="col-xs-2 no-padding">Date</th>
                        <th class="col-xs-1 no-padding">Number</th>
                        <th class="col-xs-1 no-padding">Quantity</th>
                        <th class="col-xs-2 no-padding">Price Each</th>
                        <th class="col-xs-1 no-padding">Del. Charge</th>
                        <th class="col-xs-1 no-padding">Total Price</th>
                        <th class="col-xs-2 no-padding">Certificate No.</th>
                        <th class="col-xs-2 no-padding">WO Complete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in WOOutvoices" ng-click="countValueGrantTotal(WOOutvoices, false)" ng-class="{'tr-active': item.selected}">
                        <td class="col-xs-2 no-padding" ng-click="selectOneItem(WOOutvoices, item)" align="center" ng-bind="item.CreateDate | timeFormat:'DD-MM-YYYY'"></td>
                        <td class="col-xs-1 no-padding">
                            <a href="javascript:;" ng-bind="item.InvoiceNo" ng-click="redirectFinance(item.InvoiceNo)"></a>
                        </td>
                        <td class="col-xs-1 no-padding" align="right" ng-bind="item.Qty"></td>
                        <td class="col-xs-2 no-padding" align="right">₤{{item.EachPrice}}</td>
                        <td class="col-xs-1 no-padding" align="center">
                            <input type="text" maxlength="6" ng-model="item.DeliveryChg" ng-change="UpdateWOOutvoice(WOOutvoices, ValueExVAT)">
                        </td>
                        <td class="col-xs-1 no-padding" align="right">₤{{item.TotalPrice}}</td>
                        <td class="col-xs-2 no-padding" align="center" ng-bind="item.CertificateNo"></td>
                        <td class="col-xs-2 no-padding" align="center">
                            <input type="checkbox" ng-model="item.Complete" ng-true-value="1" ng-false-value="0" ng-change="UpdateWOOutvoice(WOOutvoices, ValueExVAT)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-height-right col-sm-4">
        <p class="title">Invoice details</p>
        <div class="col-sm-7 prince">
            <p>
                Value ex VAT
                <input type="text" maxlength="8" ng-model="ValueExVAT" ng-change="UpdateWOOutvoice(WOOutvoices, ValueExVAT)" />
            </p>
            <p>
                Grand total
                <input type="text" ng-model="grantTotal" />
            </p>
        </div>
        <div class="col-sm-offset-1 col-sm-4 button">
            <button type="button" ng-click="viewTop()" class="copy-address float-right">View</button>
        </div>
    </div>
    <div class="row"></div>
    <div class="content-button left col-sm-4">
        <p class="title-main">WOs to invoice</p>
        <div class="area-table table-wo">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_wono">
                <thead>
                    <tr>
                        <th class="col-xs-3 no-padding">WO No.</th>
                        <th class="col-xs-4 no-padding">Customer</th>
                        <th class="col-xs-1 no-padding">Qty</th>
                        <th class="col-xs-4 no-padding">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in IncompleteInvoicedWOs" ng-click="selectOneItem(IncompleteInvoicedWOs, item); selectInvoicedWOs(item)" ng-class="{'tr-active': item.selected}">
                        <td class="col-xs-3 no-padding" ng-bind="item.WONo"></td>
                        <td class="col-xs-4 no-padding" ng-bind="item.CustomerName"></td>
                        <td class="col-xs-1 no-padding" ng-bind="item.Qty"></td>
                        <td class="col-xs-4 no-padding" ng-bind="item.Created | timeFormat:'DD-MM-YYYY'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-button center  col-sm-2">
        <div class="center-child">
            <p class="title">Qty left to invoice</p>
            <input type="text" class="left" ng-model="QtyWOInvoice" />
            <hr class="left" />
            <input type="text" class="right" ng-model="QtyWOOutvoice" />
            <hr class="right" />
            <button ng-click="CreateInvoice(IncompleteInvoicedWOs, QtyWOOutvoice)" class="copy-address float-right">Create invoice</button>
        </div>
    </div>
    <div class="content-button right col-sm-3">
        <p class="title-main">Raised invoices</p>
        <div class="area-table table-raised-invoice">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_raised">
                <thead>
                    <tr>
                        <th class="col-xs-4 no-padding">Number</th>
                        <th class="col-xs-3 no-padding">Qty</th>
                        <th class="col-xs-5 no-padding">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in WORaisedOutvoices" ng-click="selectOneItem(WORaisedOutvoices, item, 'selected')" ng-class="{'tr-active': item.selected}">
                        <td class="col-xs-4 no-padding" ng-bind="item.InvoiceNo"></td>
                        <td class="col-xs-3 no-padding" ng-bind="item.Qty"></td>
                        <td class="col-xs-5 no-padding" ng-bind="item.CreateDate | timeFormat:'DD-MM-YYYY'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-button button col-sm-1">
        <button type="button" ng-click="openBIRT()" class="copy-address float-right">View</button>
        <button type="button" ng-click="markSent()" class="copy-address float-right">Mark as Sent</button>
    </div>
</div>
