<div class="supplier-performance">
    <div class="container">
        <div class="row">
            <div class="header col-xs-8">
                <div class="display">Display : </div>
                <div ng-repeat="item in sortHeader" class="{{item.class}}" ng-class="{'active': item.selected}" ng-bind="item.title" ng-click="selectOneItem(sortHeader, item, 'selected'); chooseSortHeader(item)"></div>
            </div>
            <div class="content col-xs-12">
                <div class="row">
                    <div class="supplier col-xs-12">
                        <div class="col-xs-1">
                            <span class="up-control" ng-click="reverse = false"></span>
                            <span class="down-control" ng-click="reverse = true"></span>
                        </div>
                        <div class="area-table col-xs-11">
                            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_performance" load-item="SupplierPerformance">
                                <thead>
                                    <tr>
                                        <th ng-repeat="item in tableSupplier" ng-bind="item.title" ng-click="selectOneItem(tableSupplier, item, 'selected'); changeSortBy(item)" ng-class="{'th-active': item.selected}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in SupplierPerformance | orderBy: sortSupplier : reverse" ng-click="selectOneItem(SupplierPerformance, item, 'selected')" ng-class="{'tr-active':item.selected}">
                                        <td ng-bind="item.Alias"></td>
                                        <td ng-bind="item.TotalOrders"></td>
                                        <td ng-bind="item.Outstanding"></td>
                                        <td ng-bind="item.Delivered"></td>
                                        <td ng-bind="item.Cancelled"></td>
                                        <td ng-bind="item.AvLeadDays"></td>
                                        <td ng-bind="item.ActualDays"></td>
                                        <td ng-bind="item.EarlyLate"></td>
                                        <td ng-bind="item.Early" ng-class="{'bg-green-cl-black' : item.Early > 0}"></td>
                                        <td ng-class="{'bg-darkgreen-cl-white' : item.OnTime > 0}">{{item.OnTime}}%</td>
                                        <td ng-bind="item.Late" ng-class="{'bg-red-cl-white' : item.Late > 0}"></td>
                                        <td ng-bind="item.Rejects" ng-class="{'bg-red-cl-white' : item.Rejects > 0}"></td>
                                        <td ng-bind="item.concessions"></td>
                                        <td ng-class="{'bg-darkgreen-cl-white' : item.QRating == 100, 'bg-green-cl-black' : item.QRating >= 95 && item.QRating <= 99, 'bg-red-cl-white' : item.QRating < 95}">{{item.QRating}}%</td>
                                        <td ng-class="{'bg-darkgreen-cl-white' : item.VRating >= 95, 'bg-yellow-cl-black' : item.VRating >= 65 && item.VRating <= 95, 'bg-green-cl-black' : item.VRating >= 33 && item.VRating < 65, 'bg-red-cl-white' : item.VRating < 33}">{{item.VRating}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="performance col-xs-5 col-xs-offset-1">
                            <div class="area-table">
                                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_total">
                                    <thead>
                                        <tr>
                                            <th>Performance</th>
                                            <th>Material</th>
                                            <th>Treatments</th>
                                            <th>Miscellaneous</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in SupplierPerformanceTotals">
                                            <td ng-bind="item.PerformanceGroup" ng-class="{'bg-darkgreen-cl-white' : item.PerformanceGroup == '1st class', 'bg-yellow-cl-black' : item.PerformanceGroup == 'Standard', 'bg-orange-cl-black' : item.PerformanceGroup == 'Sub standard', 'bg-red-cl-white' : item.PerformanceGroup == 'Unacceptable'}"></td>
                                            <td ng-class="{'bg-lightgreen-cl-black' : item.PerformanceGroup == '1st class', '' : item.PerformanceGroup == 'Standard', 'bg-orange-cl-black' : item.PerformanceGroup == 'Sub standard', 'bg-pink-cl-black' : item.PerformanceGroup == 'Unacceptable', 'bg-blue-cl-black' : item.PerformanceGroup == 'Totals'}">{{item.Material}}%</td>
                                            <td ng-class="{'bg-lightgreen-cl-black' : item.PerformanceGroup == '1st class', '' : item.PerformanceGroup == 'Standard', 'bg-orange-cl-black' : item.PerformanceGroup == 'Sub standard', 'bg-pink-cl-black' : item.PerformanceGroup == 'Unacceptable', 'bg-violet-cl-black' : item.PerformanceGroup == 'Totals'}">{{item.Treatments}}%</td>
                                            <td ng-class="{'bg-lightgreen-cl-black' : item.PerformanceGroup == '1st class', '' : item.PerformanceGroup == 'Standard', 'bg-orange-cl-black' : item.PerformanceGroup == 'Sub standard' || item.PerformanceGroup == 'Totals', 'bg-pink-cl-black' : item.PerformanceGroup == 'Unacceptable'}">{{item.Miscellaneous}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="left company-wide col-xs-2 col-xs-offset-2">
                            <p class="content-right">Company-wide</p>
                            <input class="pers full-width" type="text" ng-model="CompanyWide">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input class="back" type="button" value="Back" ng-click="redirectBack()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
