<div class="supply-order-history-page">
    <div class="title-global-page">Supply Chain Order History</div>
    <div class="row">
        <div class="page-body col-xs-12">
            <div class="row">
                <div class="supply-title col-xs-2">
                    Wheelabrator
                </div>
            </div>
            <div class="row">
                <div class="order-po-linked col-xs-12">
                    <div class="select-order col-xs-3">
                        <div class="row">
                            <div class="title col-xs-12">
                                Select an order
                            </div>
                        </div>
                        <div class="row">
                            <div class="area-table col-xs-12">
                                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_order">
                                    <thead>
                                        <tr>
                                            <th>Completed</th>
                                            <th>PO No.</th>
                                            <th>Added by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in SupplierOrderHistory" ng-click="selectOneItem(SupplierOrderHistory, item); selectOrder(item)" ng-class="{'tr-active': item.selected}">
                                            <td ng-bind="item.Completed"></td>
                                            <td ng-bind="item.PONo"></td>
                                            <td ng-bind="item.AddedBy"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="po-linked col-xs-3">
                        <div class="row">
                            <div class="title col-xs-12">
                                PO linked to:
                            </div>
                        </div>
                        <div class="row">
                            <div class="area-table col-xs-12">
                                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_wono">
                                    <thead>
                                        <tr>
                                            <th>WO No.</th>
                                            <th>Part No.</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in SupplierOrderHistoryWO" ng-click="selectOneItem(SupplierOrderHistory, item)" ng-class="{'tr-active': item.selected}">
                                            <td ng-bind="item.WONo"></td>
                                            <td ng-bind="item.PartNo"></td>
                                            <td ng-bind="item.Qty"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button col-xs-12">
                    <button ng-click="redirectBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
