<div id="pering" class="client-readmore tab-center">
    <div class="col-md-11 box-table space-top">
        <div class="col-sm-7 row">
            <div class="area-table table-previous table-operation col-md-12">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_processes">
                    <thead>
                        <tr>
                            <th>Processes for selected Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in TemplateProcesses">
                            <td ng-bind="item.ProcessNote"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3 row text-center">
            <label class="title-color-blue">Designated Machine</label>
            <select class="input-full" ng-model="Machine" ng-options="option as option.Machine for option in MachineList" ng-change="changeDesignMachine(Machine)">
            </select>
        </div>
        <div class="col-sm-3 row">
            <div class="area-table table-previous table-program col-md-12">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_program">
                    <thead>
                        <tr>
                            <th>Program No's</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in MachineOpPrograms">
                            <td ng-bind="item.ProgramNumber"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" ng-model="ProgramNumber" my-enter="AddMachineOpProgram(ProgramNumber)" maxlength="8">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 row space-top engineering-ask">
        <button type="button" class="pull-left" ng-click="EngineeringToReview()">Engineering Review</button>
        <div class="col-md-2">
            <p>Ask purchasing Dept to Review this Template</p>
        </div>
        <button type="submit" class="pull-right" ng-click="ViewADD()">View A.D.D</button>
    </div>
    <div class="col-md-offset-8 col-md-4 row no-padding risk-statement">
        <p class="title-color-blue content-right">Risk statement</p>
        <textarea cols="40" rows="3" ng-bind="TemplateEngineering.RiskStatement"></textarea>
    </div>
    <div class="col-md-9 row space-top">
        <div class="area-table table-previous table-engineering col-md-12">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_internal">
                <thead>
                    <tr>
                        <th class="text-center">Internal Engineering Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in OpTmpltIntEngNotes">
                        <td ng-bind="item.Note"></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" ng-model="EngNote" my-enter="AddOpTmpltIntEngNotes(EngNote)" maxlength="80">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 row space-top">
        <div class="col-md-6 row">
            <p class="text-right"><strong>Engineering complete</strong></p>
        </div>
        <div class="col-md-6 row no-padding pull-right" ng-show="TemplateEngineering.EngComplete == 1">
            <p class="text-left"> <img src="/assets/images/SmallTick.png" alt="Small Tick"></p>
        </div>
    </div>
</div>
