<div class="login-page department-page">
    <div class="page-content">
        <a ng-repeat="item in user.getDepartment()" ui-sref="department.home({DeptID: item.DeptID})">
            <button ng-bind="item.Description"></button>
        </a>
    </div>
</div>
