<div id="material" class="client-readmore tab-center">
    <form name="TemplateMaterialForm" ng-submit="TemplateMaterialForm.$valid && addTemplateMaterial(TemplateMaterialInfo)">
        <div class="box-choose-main row no-margin">
            <div class="box free-issue">
                <p class="text-center">Free Issue</p>
                <p class="text-center">
                    <input type="radio" ng-model="TemplateMaterialInfo.FreeIssue" ng-checked="TemplateMaterialInfo.FreeIssue == 1">
                </p>
            </div>
            <div class="box box-2 description-size">
                <div class="col-md-7 description">
                    <p>Description</p>
                    <p>
                        <search-input search-input-model="TemplateMaterialInfo.Description" procedure="ProcSearchMaterialSpec" search-key="MaterialSpec" display-key="MaterialSpec" on-select="DescriptionSelected"></search-input>
                    </p>
                </div>
                <div class="col-md-5 size">
                    <p>Size</p>
                    <p>
                        <input type="text" ng-model="TemplateMaterialInfo.Size" name="Size" ng-pattern="/^(\d{1,7})$|^(\d{1,6}\.\d{1})$|^(\d{1,5}\.\d{1,2})$|^(\d{1,4}\.\d{1,3})$/" ng-change="changeTemplateMaterialInfo()"></input>
                    </p>
                </div>
                <div class="col-md-12 spec">
                    <p>
                        <input class="max-width-100" type="text" ng-model="TemplateMaterialInfo.Spec">
                    </p>
                </div>
            </div>
            <div class="box unit">
                <p class="text-left unit-title">Units</p>
                <p class="text-right unit-body">
                    <select ng-model="Unit" ng-options="option as option.name for option in UnitList" name="Unit" required ng-change="TemplateMaterialInfo.setUnitID(Unit.value); changeTemplateMaterialInfo()">
                    </select>
                </p>
            </div>
            <div class="box shape">
                <p class="text-left shape-title">Shape</p>
                <p class="text-right shape-body">
                    <select ng-model="Shape" ng-options="option as option.Description for option in MaterialShapes" name="Shape" required ng-change="TemplateMaterialInfo.setShapeID(Shape.pkShapeID); changeTemplateMaterialInfo()">
                    </select>
                </p>
            </div>
            <div class="box part-yield">
                <p class="part-title">Part length</p>
                <p class="part-body">
                    <input type="text" ng-model="TemplateMaterialInfo.PartLength" ng-pattern="/^(\d{1,8})$|^(\d{1,7}\.\d{1})$|^(\d{1,6}\.\d{1,2})$/" name="PartLength"><span>mm</span>
                </p>
                <p class="yield-title">Yield
                    <input type="text" ng-model="TemplateMaterialInfo.Yield" name="Yield" maxlength="8" ng-pattern="/^\d+$/">
                </p>
            </div>
            <div class="box approval">
                <p class="approval-title">Approval</p>
                <p class="approval-body">
                    <select ng-model="Approval" ng-options="option as option.Description for option in MaterialLists" name="Approval" required ng-change="TemplateMaterialInfo.setApprovalID(Approval.ApprovalID); changeTemplateMaterialInfo()">
                    </select>
                </p>
            </div>
            <div class="box spu">
                <p class="spu-title">SPU</p>
                <p class="spu-body">
                    <select ng-model="SPU" ng-options="option as option.Description for option in UOMList" name="SPU" required ng-change="TemplateMaterialInfo.setSPUID(SPU.pkUOMID); changeTemplateMaterialInfo()">
                    </select>
                </p>
            </div>
            <div class="box email-quote">
                <a href="javascript:;" ng-click="mailTo(TemplateMaterialInfo)" class="text-center pull-right mail-to">email quote</a>
            </div>
        </div>
        <div class="box-chose-alias row no-margin test-pieces-standard-delivery">
            <div class="col-md-4 test-pieces">
                <div class="test-pieces-title col-md-9 no-padding-left">
                    <p>Test pieces required?</p>
                </div>
                <div class="test-pieces-body col-xs-3 no-padding">
                    <input class="input-full" type="text" ng-model="TemplateMaterialInfo.TestPieces" name="TestPieces" maxlength="8" ng-pattern="/^\d+$/">
                </div>
            </div>
            <div class="col-md-4 standard-delivery no-padding-left">
                <div class="col-md-9 no-padding standard-delivery-title">
                    <p class="text-right">Set standard Delivery days:</p>
                </div>
                <div class="col-md-3 no-padding-left standard-delivery-body">
                    <input class="input-full" type="text" ng-model="TemplateMaterialInfo.StdDeliveryDays" name="StdDeliveryDays" maxlength="8" ng-pattern="/^\d+$/">
                </div>
            </div>
        </div>
        <div class="box-chose-alias row no-margin issue-instruction-standard-supplier">
            <div class="col-md-8 edit-box issue-instruction">
                <div class="col-md-4 issue-instruction-title no-padding">
                    <p class="text-right col-xs-12"><strong>Issue Instruction</strong></p>
                </div>
                <div class="col-md-8 issue-instruction-body">
                    <input type="text" class="input-full" ng-model="TemplateMaterialInfo.IssueInstruction" maxlength="50">
                </div>
            </div>
            <div class="col-md-4 no-padding standard-supplier">
                <div class="col-md-6 no-padding standard-supplier-title">
                    <p> Set Standard Supplier:</p>
                </div>
                <div class="col-md-6 standard-supplier-body no-padding">
                    <select ng-model="Supplier" ng-options="option as option.Alias for option in StdSuppliers" name="Supplier" ng-change="TemplateMaterialInfo.setStdSupplierID(Supplier.StdSupplierID)"></select>
                </div>
            </div>
        </div>
        <div class="box-content row no-margin comments-notes">
            <div class="col-md-8">
                <div class="table-previous non-overflow col-md-12 approval-comments">
                    <p>Please select standard / approval comments</p>
                    <input class="full-width" type="text" list="SearchApprovalComments" ng-model="ApprovalComment" maxlength="80" my-enter="addApprovalComment(ApprovalComment)">
                    <datalist id="SearchApprovalComments">
                        <option value="{{item.Comments}}" ng-repeat="item in SearchApprovalComments"></option>
                    </datalist>
                    <div class="area-table">
                        <table ng-show="ApprovalComments | hasItem">
                            <tbody>
                                <tr ng-repeat="item in ApprovalComments | orderBy:'-CommentID'">
                                    <td>{{item.Comment}} <i ng-click="deleteNoteComment(item, ApprovalComments, 'approvalcomment')" class="icon-remove glyphicon glyphicon-remove"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-previous col-md-12 po-comments">
                    <p>Please select standard PO comments</p>
                    <input class="full-width" type="text" list="SearchPOComments" ng-model="POComment" maxlength="80" my-enter="addPOComment(POComment)">
                    <datalist id="SearchPOComments">
                        <option value="{{item.Comments}}" ng-repeat="item in SearchPOComments"></option>
                    </datalist>
                    <div class="area-table">
                        <table ng-show="POComments | hasItem">
                            <tbody>
                                <tr ng-repeat="item in POComments | orderBy:'-CommentID'">
                                    <td>{{item.Comment}} <i ng-click="deleteNoteComment(item, POComments, 'pocomment')" class="icon-remove glyphicon glyphicon-remove"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="area-table table-previous col-md-11 conformity-notes">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_conformity">
                        <thead>
                            <tr>
                                <th>Conformity Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" ng-model="ConformityNote" maxlength="80" my-enter="AddConformityNote(ConformityNote)">
                                </td>
                            </tr>
                            <tr ng-repeat="item in ConformityNotes | orderBy:'-NoteID'">
                                <td>{{item.Note}} <i ng-click="deleteNoteComment(item, ConformityNotes)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="area-table table-previous col-md-11 internal-material-notes">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_material">
                        <thead>
                            <tr>
                                <th>Internal Material Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" ng-model="MaterialNote" maxlength="80" my-enter="AddMaterialNote(MaterialNote)">
                                </td>
                            </tr>
                            <tr ng-repeat="item in MaterialNotes | orderBy:'-NoteID'">
                                <td>{{item.Note}} <i ng-click="deleteNoteComment(item, MaterialNotes)" class="icon-remove glyphicon glyphicon-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 sidebar-right">
                <div class="area-table table-previous table-type col-md-12 no-padding">
                    <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_addlist">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Auto Print</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ADDList" ng-class="{'tr-active': item.selected}">
                                <td class="text-center" ng-click="selectOneItem(ADDList, item, 'selected')" ng-bind="item.DocType"></td>
                                <td class="text-center">
                                    <input class="width-initial" type="checkbox" ng-model="item.AutoPrint" ng-checked="item.AutoPrint == 1" ng-click="UpdateADD(item)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="text-center pull-right viewADD" ng-click="ViewADD()">View A.D.D</button>
                <div class="col-md-12 button-last">
                    <div class="row">
                        <p class="col-xs-6 no-padding ask-purchasing">Ask purchasing Dept to Review this Template</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 review-btn">
                            <button type="button" class="text-center pull-left" ng-click="PurchaseReview()">Purchasing Review</button>
                        </div>
                        <div class="col-md-6 save-btn no-padding">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="error col-xs-12">
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.Size.$error.pattern">Size must be decimal(7,3)</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.PartLength.$error.pattern">Part length must be decimal (8,2)</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.TestPieces.$error.pattern">Test pieces must be number</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.StdDeliveryDays.$error.pattern">Delivery days must be number</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.Unit.$error.required">Please select Unit</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.Shape.$error.required">Please select Shape</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.Approval.$error.required">Please select Approval</p>
                <p ng-show="TemplateMaterialForm.$submitted && TemplateMaterialForm.SPU.$error.required">Please select SPU</p>
            </div>
        </div>
    </form>
</div>
