<div class="admin-reference-page">
    <div class="page-body">
        <div class="title-global-page">Admin References</div>
        <div class="row row-1">
            <div class="col-md-6 area area-1">
                <div class="col-md-6 module module-our-approval">
                    <div class="module-title">Our Approval levels</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button ng-click="addOurApproval(OurApproval, $event)" class="kythera-small-button" type="submit">Add</button>
                            <input type="text" ng-model="OurApproval" maxlength="15">
                            <button ng-click="deleteOurApproval(OurApprovalList)" class="kythera-small-button">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="OurApprovalList | hasItem">
                                    <tr ng-repeat="item in OurApprovalList" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.Approval"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 module module-deviation-reasons">
                    <div class="module-title">Deviation Reasons</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" type="submit" ng-click="addDeviation(Deviation)">Add</button>
                            <input type="text" ng-model="Deviation" maxlength="20">
                            <button class="kythera-small-button" ng-click="deleteDeviationReasons(DeviationList)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table>
                                    <tr ng-repeat="item in DeviationList" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.Deviation"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 area area-2">
                <div class="col-md-6 module module-material-shapes">
                    <div class="module-title">Material Shapes</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" ng-click="addMaterialShape(MaterialShape, MaterialShapeRequire)">Add</button>
                            <input type="text" ng-model="MaterialShape" maxlength="15">
                            <label>Requires Description </label>
                            <input type="checkbox" ng-model="MaterialShapeRequire" ng-true-value="1" ng-false-value="0">
                            <button class="kythera-small-button" ng-click="delMaterialShape(ShapesList)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="ShapesList | hasItem">
                                    <tr ng-repeat="item in ShapesList" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td><span ng-bind="item.Description"></span></td>
                                        <td>{{item.ReqdDesc == 1 ? "Y" : "N"}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 module module-units-measure">
                    <div class="module-title">Units of Measure</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" type="submit" ng-click="addUOM(UOM)">Add</button>
                            <input type="text" ng-model="UOM" maxlength="11">
                            <button class="kythera-small-button" type="submit" ng-click="deleteUOM(ListUOM)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="ListUOM | hasItem">
                                    <tr ng-repeat="item in ListUOM" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.Description"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-2">
            <div class="col-md-6 area area-1">
                <div class="col-md-6 module module-all-approval-level">
                    <div class="module-title content-right">All Approval levels</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" ng-click="addApprovalLevel(ApprovalLevel)">Add</button>
                            <input type="text" ng-model="ApprovalLevel" maxlength="20">
                            <button class="kythera-small-button" type="submit" ng-click="deleteAllApproval(AllApproval)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="AllApproval | hasItem">
                                    <tr ng-repeat="item in AllApproval" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.Description"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 module module-document-drop-types">
                    <div class="module-title content-right">Document Drop types</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" ng-click="AddDocumentDropType(DocumentDropType)">Add</button>
                            <input type="text" ng-model="DocumentDropType" maxlength="17">
                            <button class="kythera-small-button" ng-click="DeleteDocumentDropType(ListDropTypes)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="ListDropTypes | hasItem">
                                    <tr ng-repeat="item in ListDropTypes" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.DropType"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 area area-2">
                <div class="col-md-12 module module-bussiness-shutdowns">
                    <div class="module-title">Business shutdowns</div>
                    <div class="module-body">
                        <div class="col-md-6 module-control">
                            <button class="kythera-small-button" type="submit" ng-click="addBusinessShutdown(shutDate, shutReason)">Add</button>
                            <div class="area-input">
                                <input type="text" class="input-date" ng-model="shutDate">
                                <input type="text" class="input-desc" ng-model="shutReason" maxlength="22">
                            </div>
                            <button class="kythera-small-button" type="submit" ng-click="deleteBusinessShutdown(listBusiness)">Delete</button>
                        </div>
                        <div class="col-md-6 module-data">
                            <div class="area-table">
                                <table ng-show="listBusiness | hasItem">
                                    <tr ng-repeat="item in listBusiness" ng-click="selectItem(item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td>
                                            <span ng-bind="item.Shutdate | timeFormat: 'DD/MM'"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="item.ShutReason"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-3">
            <div class="container">
                <div class="col-md-12">
                    <button class="back kythera-large-button" type="button" ng-click="redirectBack()">Back</button>
                    <button type="button" class="export-customer kythera-large-button" ng-click="exportCustomer()">Export all Customers</button>
                </div>
            </div>
        </div>
    </div>
</div>
