<div class="supply-chain-page">
    <div class="title-global-page">Supply Chain</div>
    <div class="page-body">
        <form ng-submit="SupplyChain.$valid && SaveOrUpdateSupplier(SupplierDetail)" name="SupplyChain" novalidate>
            <div class="supply-chain-info">
                <div class="col-md-3 no-padding">
                    <div class="select-supplier col-md-12 no-padding">
                        <div class="title col-md-12 no-padding">Please select a Supplier:</div>
                        <div class="select-supplier-group col-md-12">
                            <label for="">Look for..</label>
                            <search-input search-input-model="searchInputModel" procedure="ProcGetSupplierList" search-key="SearchString" ng-model-options="{debounce: 500}" display-key="Supplier" on-select="SupplierSelected"></search-input>
                        </div>
                    </div>
                    <div class="supplier-type col-md-12 no-padding">
                        <div class="title col-md-12 no-padding">Supplier type:</div>
                        <div class="supplier-type-group col-md-12">
                            <div class="yes-no-supplier col-md-12">
                                <label for="" class="col-md-6">&nbsp;</label>
                                <div class="yes-no-supplier-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <label for="">Yes</label>
                                    </div>
                                    <div class="no-select col-md-6">
                                        <label for="">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="raw-material col-md-12 no-padding">
                                <label for="" class="col-md-6 no-padding">Raw Material?</label>
                                <div class="raw-material-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <input type="radio" name="raw-material" ng-model="SupplierDetail.MaterialSupplier" ng-value="1">
                                    </div>
                                    <div class="no-select col-md-6">
                                        <input type="radio" name="raw-material" ng-model="SupplierDetail.MaterialSupplier" ng-value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="treatments col-md-12 no-padding">
                                <label for="" class="col-md-6 no-padding">Treatments?</label>
                                <div class="treatments-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <input type="radio" ng-model="SupplierDetail.TreatmentSupplier" ng-value="1">
                                    </div>
                                    <div class="no-select col-md-6">
                                        <input type="radio" ng-model="SupplierDetail.TreatmentSupplier" ng-value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="tooling col-md-12 no-padding">
                                <label for="" class="col-md-6 no-padding">Tooling?</label>
                                <div class="tooling-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <input type="radio" name="tooling" ng-model="SupplierDetail.ToolingSupplier" ng-value="1">
                                    </div>
                                    <div class="no-select col-md-6">
                                        <input type="radio" name="tooling" ng-model="SupplierDetail.ToolingSupplier" ng-value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="calibration col-md-12 no-padding">
                                <label for="" class="col-md-6 no-padding">Calibration?</label>
                                <div class="calibration-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <input type="radio" name="calibration" ng-model="SupplierDetail.CalibrationSupplier" ng-value="1">
                                    </div>
                                    <div class="no-select col-md-6">
                                        <input type="radio" name="calibration" ng-model="SupplierDetail.CalibrationSupplier" ng-value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="miscellaneous col-md-12 no-padding">
                                <label for="" class="col-md-6 no-padding">Miscellaneous?</label>
                                <div class="miscellaneous-group col-md-6">
                                    <div class="yes-select col-md-6">
                                        <input type="radio" name="miscellaneous" ng-model="SupplierDetail.MiscSupplier" ng-value="1">
                                    </div>
                                    <div class="no-select col-md-6">
                                        <input type="radio" name="miscellaneous" ng-model="SupplierDetail.MiscSupplier" ng-value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="minimum-order col-md-10 no-padding-right">
                        <label for="" class="col-md-8">Minimum order charge:</label>
                        <div class="minimum-order-group col-md-4">
                            <input type="text" ng-model="SupplierDetail.MinOrderCharge">
                        </div>
                    </div>
                    <div class="payment-terms col-md-10 no-padding-right">
                        <label for="" class="col-md-8 content-right">Payment terms</label>
                        <div class="payment-terms-group col-md-4 no-padding">
                            <select ng-model="PaymentTerms" ng-options="option as option.name for option in ListPaymentTerms" ng-change="SupplierDetail.setPaymentTerms(PaymentTerms.value)" name="paymentterms" required>
                            </select>
                        </div>
                        <div class="error">
                            <span ng-show="SupplyChain.$submitted && SupplyChain.paymentterms.$error.required">Please select Payment terms</span>
                        </div>
                    </div>
                    <div class="current-supplier col-md-10 no-padding-right">
                        <label for="" class="col-md-11 content-right">Current Supplier</label>
                        <div class="current-supplier-group col-xs-1 no-padding content-right">
                            <input type="checkbox" ng-model="SupplierDetail.Current" ng-true-value="1" ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="element account col-md-12">
                        <div class="element-content col-md-12">
                            <div class="element-account element-group col-md-12">
                                <label for="" class="title col-md-4">Account No.</label>
                                <div class="element-account-group col-md-8">
                                    <label ng-bind="SupplierInfo.SupplierID"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element name-alias col-md-12">
                        <div class="element-content col-md-10">
                            <div class="element-name element-group col-md-12">
                                <label for="" class="title col-md-4">Name</label>
                                <div class="element-name-group col-md-8">
                                    <input type="text" name="name" ng-model="SupplierDetail.Supplier" maxlength="50" required>
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.name.$error.required">Please enter Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="element-alias element-group col-md-12">
                                <label for="" class="title col-md-4">Alias</label>
                                <div class="element-alias-group col-md-7">
                                    <input type="text" name="alias" ng-model="SupplierDetail.Alias" maxlength="40" required>
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.alias.$error.required">Please enter Alias</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-button col-md-2">
                            <button class="remove" type="button" ng-click="RmvSupplierApproval(SupplierApprovals)">Rmv</button>
                        </div>
                    </div>
                    <div class="element address col-md-12">
                        <div class="element-content col-md-10">
                            <div class="element-address-1 element-group col-md-12">
                                <label for="" class="title col-md-4">Address line 1</label>
                                <div class="element-address-1-group col-md-8">
                                    <input type="text" name="address1" ng-model="SupplierDetail.Address1" maxlength="45" required>
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.address1.$error.required">Please enter Address 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="element-address-2 element-group col-md-12">
                                <label for="" class="title col-md-4">Address line 2</label>
                                <div class="element-address-2-group col-md-8">
                                    <input type="text" name="address2" ng-model="SupplierDetail.Address2" maxlength="40">
                                </div>
                            </div>
                            <div class="element-address-3 element-group col-md-12">
                                <label for="" class="title col-md-4">Address line 3</label>
                                <div class="element-address-3-group col-md-8">
                                    <input type="text" name="address3" ng-model="SupplierDetail.Address3" maxlength="40">
                                </div>
                            </div>
                            <div class="element-address-4 element-group col-md-12">
                                <label for="" class="title col-md-4">Address line 4</label>
                                <div class="element-address-4-group col-md-7">
                                    <input type="text" name="address4" ng-model="SupplierDetail.Address4" maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="element-button col-md-2">
                            <button class="check-site" ng-click="Checksite()">check site</button>
                        </div>
                    </div>
                    <div class="element post-code col-md-12">
                        <div class="element-content col-md-10">
                            <div class="element-post-code element-group col-md-12">
                                <label for="" class="title col-md-4">Postcode</label>
                                <div class="element-post-code-group col-md-5">
                                    <input type="text" name="postcode" ng-model="SupplierDetail.Postcode" maxlength="8" required ng-pattern="/^\d+$/">
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.postcode.$error.required">Please enter Postcode</span>
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.postcode.$error.pattern">Postcode must be number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-button col-md-2">
                            <button class="remove" type="button" ng-click="RmvSupplierNADCAP(SupplierNADCAPs)">Rmv</button>
                        </div>
                    </div>
                    <div class="element telephone-facsimile col-md-12">
                        <div class="element-content col-md-10">
                            <div class="element-telephone element-group col-md-12">
                                <label for="" class="title col-md-4">Telephone</label>
                                <div class="element-telephone-group col-md-6">
                                    <input type="text" name="phone" required maxlength="20" ng-model="SupplierDetail.Phone" ng-pattern="/^\d+[ ]?\d*$/">
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.phone.$error.required">Please enter Telephone</span>
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.phone.$error.pattern">Telephone must be number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="element-facsimile element-group col-md-12">
                                <label for="" class="title col-md-4">Facsimile</label>
                                <div class="element-facsimile-group col-md-6">
                                    <input type="text" name="facsimile" required maxlength="20" ng-model="SupplierDetail.Facsimile" ng-pattern="/^\d+[ ]?\d*$/">
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.facsimile.$error.required">Please enter Facsimile</span>
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.facsimile.$error.pattern">Facsimile must be number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-button col-md-2">
                            <button class="check-site" ng-click="Checksite()">check site</button>
                        </div>
                    </div>
                    <div class="element website-email col-md-12">
                        <div class="element-content col-md-12">
                            <div class="element-website element-group col-md-12">
                                <label for="" class="title col-md-4">Website</label>
                                <div class="element-website-group col-md-6">
                                    <input type="text" name="website" ng-model="SupplierDetail.Website" maxlength="50" ng-pattern="/^www\.[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/">
                                    <div class="error">
                                        <span ng-show="SupplyChain.$submitted && SupplyChain.website.$error.pattern">Website incorrect formats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="element-email element-group col-md-12">
                                <label for="" class="title col-md-4">Email</label>
                                <div class="element-email-group col-md-8">
                                    <div>
                                        <input type="text" name="email" ng-model="SupplierDetail.Email" maxlength="50">
                                        <div class="error">
                                            <span ng-show="SupplyChain.$submitted && CustomerForm.email.$error.email">Please enter a valid email</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding">
                    <div class="iso-table">
                        <div class="area-table">
                            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_iso">
                                <thead>
                                    <tr>
                                        <th>ISO Approvals</th>
                                        <th>Expiry</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in SupplierApprovals" ng-click="selectOneItem(SupplierApprovals, item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td ng-bind="item.ISOApproval"></td>
                                        <td ng-bind="item.Expiry | timeFormat: 'DD/MM/YYYY'"></td>
                                    </tr>
                                    <tr my-enter="AddSupplierApproval(SupplierApproval)">
                                        <td>
                                            <select ng-model="SupplierApproval.ApprovalID" ng-options="option as option.Description for option in ApprovalList">
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="SupplierApproval.Expiry">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="nadcap-table">
                        <div class="area-table">
                            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_nadcap">
                                <thead>
                                    <tr>
                                        <th>NADCAP Approvals</th>
                                        <th>Expiry</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in SupplierNADCAPs" ng-click="selectOneItem(SupplierNADCAPs, item, 'selected')" ng-class="{'tr-active': item.selected}">
                                        <td ng-bind="item.NADCAPApproval"></td>
                                        <td ng-bind="item.Expiry | timeFormat: 'DD/MM/YYYY'"></td>
                                    </tr>
                                    <tr my-enter="AddSupplierNADCAP(SupplierNADCAP)">
                                        <td>
                                            <select ng-model="SupplierNADCAP.ApprovalID" ng-options="option as option.NADCAPApproval for option in NADCAPList">
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="SupplierNADCAP.Expiry">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="contact">
                        <label for="" class="contact-title col-md-8 no-padding">View Contacts and Opening hours etc.</label>
                        <div class="contact-group col-md-4 no-padding-right">
                            <button type="button" ng-click="redirectContact()">Contacts</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="supply-chain-action">
                <div class="col-md-5">
                    <div class="drop-supplier col-md-8 no-padding-left">
                        <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Supplier Questionnaire here</button>
                    </div>
                    <div class="view-completed col-md-4 no-padding">
                        <button class="view-sq" type="button" ng-click="ViewSQ()">View S.Q.</button>
                        <div class="completed">
                            <label for="" class="title col-md-12 no-padding">Completed by.</label>
                            <div class="completed-group col-md-12 no-padding">
                                <input type="text" ng-model="CompleteBy" maxlength="25">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="new-supplier" type="button" ng-click="NewSupplier()">New Supplier</button>
                    <button class="order-history" type="button" ng-click="redirectOrderHistory()">Order History</button>
                    <button class="performance" type="button" ng-click="redirectPerformance()">Performance</button>
                </div>
                <div class="col-md-3 no-padding">
                    <button class="back" type="button" ng-click="redirectBack()">Back</button>
                    <button class="update" type="submit" ng-show="swapUpdateSave">Update</button>
                    <button class="update" type="submit" ng-hide="swapUpdateSave">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
