<div id="quality" class="tab-pane quality-tab">
    <div class="quality-body col-xs-10">
        <div class="row">
            <div class="reject-note col-xs-5">Reject note</div>
            <div class="reject-quanlity col-xs-3">
                <div class="open-grb">
                    <span>Open GRBs</span>
                    <select ng-model="POReject.GRBID" ng-options="option as option.GRBID for option in POOpenGRBList">
                    </select>
                </div>
                <div class="reject-qty">
                    <span>Rejected Qty</span>
                    <input type="text" ng-model="POReject.RejectQty">
                </div>
            </div>
            <div class="reject-note-no col-xs-3">
                <span>Reject Note No.</span>
                <input type="text" ng-model="NextRejectNo" readonly>
            </div>
        </div>
        <div class="row">
            <div class="deviation col-xs-8">
                <span>Deviation</span>
                <textarea ng-model="POReject.Deviation" cols="30" rows="3" maxlength="200"></textarea>
            </div>
            <div class="reject-clause col-xs-3 no-padding">
                <span>Reject clause</span>
                <select class="pull-right" ng-model="POReject.RejectClauseID">
                    <option value="1">Rectification</option>
                    <option value="2">Replacement</option>
                    <option value="3">Credit only</option>
                    <option value="4">Information only</option>
                </select>
                <div class="create-reject">
                    <button ng-click="AddPOReject(POReject)">Create Reject</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="reject-close col-xs-12">
                Reject Closed (Quality only)
                <input type="checkbox" ng-model="POReject.Closed">
            </div>
        </div>
    </div>
    <div class="drop-quality col-xs-2">
        <button type="button" dropzone on-success="uploadSuccess" before-upload="beforeUpload" max-file-name="30">Drop Non-Conformance Reports</button>
    </div>
</div>
