<div class="page report-page">
    <div class="container">
        <div class="row">
            <div class="report-header col-lg-lg-12">
                <div class="row">
                    <div class="left-header col-lg-3">
                        <div class="col-lg-12">
                            <h3><span class="wo">WO</span> No : 10101</h3></div>
                        <div class="col-lg-4 col-lg-offset-2">
                            <h4>required :</h4></div>
                        <div class="col-lg-2">
                            <h2 class="number-left">45</h2></div>
                        <div class="col-lg-1">
                            <h5 class="number-right">(51)</h5></div>
                    </div>
                    <div class="mid-header col-lg-5">
                        <div class="col-lg-12">
                            <h4>"Flugelbinder assembly"</h4></div>
                        <div class="col-lg-8">
                            <h3 class="part-no">Part No A320-0001</h3></div>
                        <div class="col-lg-4">
                            <h5 class="part-issue">Issue . 002</h5></div>
                        <div class="col-lg-8">
                            <h3 class="drawing">Drawing No 575-40559</h3></div>
                        <div class="col-lg-4">
                            <h6 class="drawing-issue">Issue . 1A</h6></div>
                    </div>
                    <div class="right-header col-lg-3">
                        <div class="col-lg-12">
                            <h3>Route Card</h3></div>
                    </div>
                </div>
            </div>
            <!-- end header -->
            <div class="report-content col-lg-lg-12">
                <div class="row">
                    <div class="header-content col-lg-11">
                        <div class="row">
                            <div class="left col-lg-7">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <h4 class="col-lg-2">Operation</h4>
                                            <h4 class="col-lg-6">Processes</h4>
                                            <h4 class="col-lg-4">Notes  </h4>
                                            <hr class="col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                            <h4 class="col-lg-3 Material">Material Issue</h4>
                                            <div>
                                                <span class="col-lg-2 grbno">GRB No.:</span>
                                                <input class="col-lg-1 grbno-text" type="text" value="000003">
                                            </div>
                                            <div>
                                                <span class="col-lg-2">IRN No.:</span>
                                                <input class="col-lg-1 irnno-text" type="text">
                                            </div>
                                            <h6 class="col-lg-2 notes">Notes about this materail</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right col-lg-4">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <h4 class="col-lg-3">Outcome</h4>
                                            <h4 class="col-lg-5">Inspecto</h4>
                                            <h4 class="col-lg-4">Inspection</h4>
                                            <hr class="col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/SmallTick.png">
                                            <h5 class="col-lg-4 Material">Material Issue</h5>
                                            <h3 class="col-lg-6 bla">Bla Bla ..</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 bottom">
                                <div class="row">
                                    <div class="col-lg-2 logoa">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="span">1</span>
                                                <h3 class="th7">7th nov</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <h6 class="col-lg-1">Spec</h6>
                                            <h6 class="col-lg-1">Shape</h6>
                                            <h6 class="col-lg-1">UOM</h6>
                                            <h6 class="col-lg-1">Approval</h6>
                                            <h6 class="col-lg-1">Size</h6>
                                            <h6 class="col-lg-1">City</h6>
                                            <h6 class="col-lg-2">Issue Lgth</h6>
                                        </div>
                                    </div>
                                    <div class="mid col-lg-9">
                                        <div class="row">
                                            <hr class="col-lg-9 hr">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <h6 class="col-lg-2">S07-1008</h6>
                                        <h6 class="col-lg-1 Diameter">Diameter</h6>
                                        <h6 class="col-lg-1 Litres">Litres</h6>
                                        <h6 class="col-lg-1 ios">IOS9001</h6>
                                        <h6 class="col-lg-1 size">1</h6>
                                        <h6 class="col-lg-1">21</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mid-content col-lg-11">
                        <div class="row">
                            <div class="left col-lg-8">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-1 col-lg-offset-4 set">
                                                <input type="text" class="t-set" value="Set">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="run" value="Run">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="iss" value="Iss.">
                                            </div>
                                            <hr class="hr col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-11">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                            <h4 class="col-lg-3 Material">Manual Turning</h4>
                                            <h6 class="col-lg-3 Mazak">on Mazak VTC800/30SR</h6>
                                            <div class="col-lg-1">
                                                <div class="row">
                                                    <h6 class="col-lg-12 prog">Prog No's.</h6>
                                                    <hr class="col-lg-12 hr">
                                                </div>
                                            </div>
                                            <h6 class="col-lg-4 dia">21.1 dia x 3.5 with 0.2 rads 313.0350.00AS45</h6>
                                            <div class="col-lg-6">
                                                <div class="row text">
                                                    <div class="col-lg-12">
                                                        <p class="hold">hold on mandrel and cut serration as per drawing</p>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <p class="leave">leave .005 thread diameter for treatment</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 number">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p class="col-lg-12 prog">123789</p>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <p class="col-lg-12 prog">456321</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <span class="span">2</span>
                                                    <h3 class="th10">10th nov</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 tooling">
                                                <div class="row">
                                                    <h4 class="col-lg-7">Tooling</h4>
                                                    <h4 class="col-lg-5">Fixtures</h4>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 two-table">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <table class="table table-bordered grb ">
                                                            <tr>
                                                                <th>GRB No.</th>
                                                                <th>Description</th>
                                                                <th>Type</th>
                                                                <th>Sub type</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            <tr>
                                                                <td>810072</td>
                                                                <td>Capliper</td>
                                                                <td>End millxxxxxxxe</td>
                                                                <td>Bullnose millxxxxxxxe</td>
                                                                <td>x</td>
                                                            </tr>
                                                            <tr>
                                                                <td>810073</td>
                                                                <td>Bigger Capliper</td>
                                                                <td>End millxxxxxxxe</td>
                                                                <td>Bullnose</td>
                                                                <td>x</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <table class="table table-bordered fixture">
                                                            <tr>
                                                                <th>GRB No.</th>
                                                                <th>Description</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            <tr>
                                                                <td>910073</td>
                                                                <td>Fluge lbinder base</td>
                                                                <td>x</td>
                                                            </tr>
                                                            <tr>
                                                                <td>101010</td>
                                                                <td>Towerfeild jig</td>
                                                                <td>x</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right col-lg-4">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row top-right">
                                            <div class="col-lg-1 col-lg-offset-4 set">
                                                <input type="text" class="ins" value="Ins">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="s" value="S">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="equal" value="=">
                                            </div>
                                            <hr class="hr col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content col-lg-11">
                        <div class="row">
                            <div class="left col-lg-8">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-1 col-lg-offset-4 set">
                                                <input type="text" class="t-set" value="Set">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="run" value="Run">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="made" value="Made.">
                                            </div>
                                            <hr class="hr col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-md-11">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/SubconIconSml.jpg">
                                            <h4 class="col-lg-3 Material">Heat Treatment</h4>
                                            <h6 class="note">a super subcom note</h6>
                                            <div class="col-lg-12 number">
                                                <div class="row">
                                                    <span class="span">3</span>
                                                    <h3 class="th21">21st nov</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 cer">
                                                <span>Certificate No's.:</span>
                                                <input type="text">
                                                <input type="text">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right col-lg-4">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row top-right">
                                            <div class="col-lg-1 col-lg-offset-4 set">
                                                <input type="text" class="ins" value="Ins">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="s" value="S">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="equal" value="=">
                                            </div>
                                            <hr class="hr col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->
            <div class="report-footer col-lg-lg-12">
                <div class="row">
                    <div class="header-footer col-lg-12">
                        <div class="row">
                            <div class="left col-lg-7">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row">
                                            <input class="col-lg-2 one" type="text" value="Rcvd">
                                            <input type="text" class="col-lg-6 two">
                                            <input class="col-lg-4 three" type="text">
                                            <hr class="col-lg-12 hr">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                            <h4 class="col-lg-3 Material">Material Issue</h4>
                                            <div>
                                                <span class="col-lg-2 grbno">GRB No.:</span>
                                            </div>
                                            <div>
                                                <span class="col-lg-2">IRN No.:</span>
                                                <input class="col-lg-1 irnno-text" type="text">
                                            </div>
                                            <div class="top col-lg-12">
                                                <div class="row">
                                                    <h6 class="col-lg-1">Spec</h6>
                                                    <h6 class="col-lg-1">Shape</h6>
                                                    <h6 class="col-lg-1">UOM</h6>
                                                    <h6 class="col-lg-1">Approval</h6>
                                                    <h6 class="col-lg-1">Size</h6>
                                                    <h6 class="col-lg-1">City</h6>
                                                    <h6 class="col-lg-2">Issue Lgth</h6>
                                                </div>
                                            </div>
                                            <hr class="col-lg-12 hr">
                                            <div class="col-lg-7 in">
                                                <input type="text" class="set" value="Iss">
                                                <input type="text" class="run" value="Run">
                                                <input type="text" class="iss" value="Set">
                                            </div>
                                            <div class="col-lg-11 ky">
                                                <h6>Kythera Route card vl</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right col-lg-4">
                                <div class="row">
                                    <div class="top col-lg-12">
                                        <div class="row top-right">
                                            <div class="col-lg-1 col-lg-offset-4 set">
                                                <input type="text" class="ins" value="Ins">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="s" value="S">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="text" class="equal" value="=">
                                            </div>
                                            <hr class="hr col-lg-12">
                                        </div>
                                    </div>
                                    <div class="bottom col-lg-12">
                                        <div class="row">
                                            <img class="col-lg-1 img" src="../assets/images/Milling_Icon_Sml.jpg">
                                        </div>
                                    </div>
                                    <div class="in col-lg-12">
                                        <input class="ins" type="text" value="Ins">
                                        <input class="s" type="text" value="S">
                                        <input class="equal" type="text" value="=">
                                    </div>
                                    <hr class="col-lg-6 hr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
</div>
