<div class="delivery-point-page">
    <div class="page-content">
        <div class="page-title">Delivery points</div>
        <div class="page-body">
            <div class="area-delivery" ng-repeat="item in DeliveryPoints">
                <div class="delivery-stt" ng-click="selectItem(item, 'selected')">
                    <span ng-bind="$index + 1"></span>
                    <span ng-show="item.selected == true" class="glyphicon glyphicon-ok"></span>
                </div>
                <div class="col-md-6 area area-1">
                    <div class="area-body">
                        <div class="item">
                            <label>Line 1</label>
                            <div>
                                <input type="text" ng-model="item.Address1" maxlength="45">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 2</label>
                            <div>
                                <input type="text" ng-model="item.Address2" maxlength="40">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 3</label>
                            <div>
                                <input type="text" ng-model="item.Address3" maxlength="40">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 4</label>
                            <div>
                                <input type="text" ng-model="item.Address4" maxlength="30">
                            </div>
                        </div>
                        <div class="item">
                            <label>Pcode</label>
                            <div>
                                <input type="text" ng-model="item.Postcode" maxlength="8">
                            </div>
                        </div>
                        <div class="item">
                            <div class="button">
                                <button ng-click="UpdateCustDeliveryPoint(item.DPID, item)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 area area-2">
                    <div class="area-control">
                        <button class="add" ng-click="AddCustomerDeliveryContact(DeliveryPointContact, item.DPID)">Add</button>
                        <button class="remove" ng-click="RmvCustomerDeliveryContact(item.contact)">Rmv</button>
                    </div>
                    <div class="area-body">
                        <div class="area-table">
                            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_contact">
                                <thead>
                                    <tr>
                                        <th class="col-xs-9 no-padding">Contact name</th>
                                        <th class="col-xs-3 no-padding">Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contact in item.contact" ng-click="selectItem(contact, 'selected')" ng-class="{'tr-active': contact.selected}">
                                        <td class="col-xs-9 no-padding">
                                            <span ng-bind="contact.ContactName"></span>
                                        </td>
                                        <td class="col-xs-3 no-padding" ng-bind="contact.Phone"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-9 no-padding">
                                            <input type="text" ng-model="DeliveryPointContact.ContactName" maxlength="45">
                                        </td>
                                        <td class="col-xs-3 no-padding">
                                            <input type="text" ng-model="DeliveryPointContact.Phone" maxlength="13">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area-delivery">
                <div class="delivery-stt"></div>
                <div class="col-md-6 area area-1">
                    <div class="area-body">
                        <div class="item">
                            <label>Line 1</label>
                            <div>
                                <input type="text" ng-model="DeliveryPoint.Address1" maxlength="45">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 2</label>
                            <div>
                                <input type="text" ng-model="DeliveryPoint.Address2" maxlength="40">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 3</label>
                            <div>
                                <input type="text" ng-model="DeliveryPoint.Address3" maxlength="40">
                            </div>
                        </div>
                        <div class="item">
                            <label>Line 4</label>
                            <div>
                                <input type="text" ng-model="DeliveryPoint.Address4" maxlength="30">
                            </div>
                        </div>
                        <div class="item">
                            <label>Pcode</label>
                            <div>
                                <input type="text" ng-model="DeliveryPoint.Postcode" maxlength="8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <button class="back" ng-click="redirectBack()">Back</button>
            <button class="add-address" ng-click="AddCustomerDeliveryPoint(DeliveryPoint)">Add address</button>
            <button class="remove-address" ng-click="RemoveCustomerDeliveryPoint(DeliveryPoints)">Rmv address</button>
        </div>
    </div>
</div>
