<div id="instructions" class="tab-pane comment-tab">
    <div class="tab-title">PO comment</div>
    <div class="tab-body">
        <div class="comment-table">
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_pocomment">
                    <thead>
                        <tr>
                            <th>PO comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OrderComments">
                            <td ng-bind="item.Comment"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" list="CommentList" ng-model="Comment" ng-change="changeComment(Comment)" maxlength="100" ng-keyup="addComment($event, Comment)" ng-keydown="addComment($event, Comment)">
                                <datalist id="CommentList">
                                    <option value="{{item.Comment}}" ng-repeat="item in CommentList"></option>
                                </datalist>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="drop-date">
            <div class="area-table">
                <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_dropdate">
                    <thead>
                        <tr>
                            <th>Drop date</th>
                            <th>Type</th>
                            <th>Auto print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OrderDocuments | unique:'DocType'">
                            <td ng-bind="item.DropDate | timeFormat: 'DD/MM/YYYY'"></td>
                            <td ng-bind="item.DocType"></td>
                            <td>
                                <input type="checkbox" ng-model="item.AutoPrint" ng-true-value="1" ng-false-value="0" ng-click="UpdateOrderDocument(item)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
