<div id="tab-costings" class="tab_content">
    <div class="col-sm-2 box-total">
        <p>
            <span class="name">Materials</span>
            <span class="text content-right">₤{{WorkOrderLabour[0].MaterialCost}}</span>
        </p>
        <p>
            <span class="name">Treatments</span>
            <span class="text content-right">₤{{TotalTreatments}}</span>
        </p>
        <p>
            <span class="name">Labour</span>
            <span class="text content-right">₤{{WOCost}}</span>
        </p>
        <p class="total">
            <span class="name">Total p/part</span>
            <span class="text">₤{{PerPartCost}}</span>
        </p>
    </div>
    <div class="col-sm-5">
        <div class="tabs-content table-operation">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_operation">
                <thead>
                    <tr>
                        <th class="col-xs-6 no-padding">Operation</th>
                        <th class="col-xs-3 no-padding">Set</th>
                        <th class="col-xs-3 no-padding">Run</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in WorkOrderLabour">
                        <td class="col-xs-6 no-padding" ng-bind="item.Operation"></td>
                        <td class="col-xs-3 no-padding" ng-bind="item.SetTime"></td>
                        <td class="col-xs-3 no-padding" ng-bind="item.RunTime"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-content table-part-totals">
            <table>
                <tbody>
                    <tr class="total">
                        <td>Part Totals:</td>
                        <td ng-bind="PartTotalSet"></td>
                        <td ng-bind="PartTotalRun"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="table-right tabs-content table-time">
            <table andy-float-thead="floatTheadOptions" change-ui-router="changeUIRouter" ng-model="thead_time">
                <thead>
                    <tr>
                        <th class="col-xs-4 no-padding">Time</th>
                        <th class="col-xs-4 no-padding">Cost</th>
                        <th class="col-xs-4 no-padding">Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in WorkOrderLabour">
                        <td class="col-xs-4 no-padding" ng-bind="item.DisplayTimeTaken"></td>
                        <td class="col-xs-4 no-padding content-right">₤{{item.Cost}}</td>
                        <td class="col-xs-4 no-padding content-right" ng-bind="item.Qty"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-right tabs-content table-grand-total">
            <table class="grand-total">
                <tr>
                    <td>Grand Totals:</td>
                    <td ng-bind="GrandTime"></td>
                    <td class="content-right">₤{{GrandCost}}</td>
                    <td ng-bind="GrandQty"></td>
                </tr>
            </table>
        </div>
        <div class="table-right tabs-content table-per-part">
            <table class="per-part">
                <tr>
                    <td>per part:</td>
                    <td ng-bind="PerPartTime"></td>
                    <td>₤{{PerPartCost}}</td>
                </tr>
            </table>
        </div>
        <div class="table-right tabs-content table-wo-totals">
            <table class="wo-totals">
                <tr>
                    <td>WO Totals:</td>
                    <td ng-bind="WOTime"></td>
                    <td class="content-right">₤{{WOCost}}</td>
                    <td ng-bind="WOQty"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
